<div class="container-fluid mb-3">
  <div class="row">
    <div class="col-12">
      <input type="text" class="rk-input w-100" placeholder="Name" [(ngModel)]="selectedAgent.rootProfile.name" minlength="1">
    </div>
  </div>
</div>

<rk-accordion isWizard="true" [activeNumber]="currentStep">
  <rk-accordion-panel index="1" class="accordion-p-0">
    <div class="rk-accordion-title">Security Settings</div>

    <div class="rk-accordion-body py-2">
      <div class="d-flex flex-column p-2" [ngStyle]="{'background': selectedAgent.rootProfile.isPositiveSecurity ? '#4fb75d' : '#97a5bb'}">
        <div class="accordion-label text-white">Security Mode:</div>
        <div class="d-flex align-items-center justify-content-between mt-1">
          <button class="rk-toggle-btn w-100 mr-2" [ngClass]="{'active': selectedAgent.rootProfile.isPositiveSecurity}"
            (click)="setSecurityMode(true)">POSITIVE
            SECURITY</button>
          <button class="rk-toggle-btn w-100 passive" [ngClass]="{'active': !selectedAgent.rootProfile.isPositiveSecurity}"
            (click)="setSecurityMode(false)">NEGATIVE
            SECURITY</button>
        </div>

        <div class="accordion-description mt-2 text-white">
          Sadece guvenli alanda gezinilmesini saglar. Zararlı ve bilinmeyen domainler engellenir. Bilinmeyen domainler
          10 dk içinde sınıflandırılır.
        </div>
      </div>

      <div style="padding: 0 15px;">
        <div class="d-flex align-items-center justify-content-between mt-3 pb-2"
          style="border-bottom: 1px solid #e4e9f1;">
          <div class="accordion-label">Safe Search;</div>
          <div style="width: 78px;">
            <rk-toggle-button [active]="selectedAgent.rootProfile.isSafeSearchEnabled" (click)="changeSafeSearchMode()"
              clickClose="true"  [toggleTexts]="{ pos: 'ON' , neg: 'OFF' }"></rk-toggle-button >
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between my-2 pb-2"
          style="border-bottom: 1px solid #e4e9f1;">
          <div class="accordion-label">YouTube Restrict Mode;</div>
          <div style="width: 78px;">
            <rk-toggle-button [active]="selectedAgent.rootProfile.isYoutubeStrictModeEnabled"
              (click)="changeYoutubeMode()" clickClose="true" [toggleTexts]="{ pos: 'ON' , neg: 'OFF' }">
            </rk-toggle-button>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between my-2 pb-2"
          style="border-bottom: 1px solid #e4e9f1;">
          <div class="accordion-label">Clear Ads</div>
          <div style="width: 78px;">
            <rk-toggle-button [toggleTexts]="{ pos: 'ON' , neg: 'OFF' }" [active]="isClearedAdds()" (click)="changeClearAds()" ></rk-toggle-button>
          </div>
        </div>

        <rk-collapse color="#d8d8d8" class="d-flex mt-3">
          <rk-collapse-title>Malicious Categories</rk-collapse-title>

          <rk-collapse-description>
            Phishing,Spam Sites,Warez gibi içerik ve güvenlik riski değişiklik gösterebilen
            domainleri içerir.
          </rk-collapse-description>

          <rk-collapse-body>
            <ng-container *ngFor="let cat of categoryList">
              <ng-container
                *ngIf="isInCategoryType('malicious', cat)">
                <div class="d-flex align-items-center justify-content-between mt-2 pb-2"
                  style="border-bottom: 1px solid #e4e9f1;">
                  <div class="accordion-label">{{ cat.name }}</div>

                  <div style="width: 78px;">
                    <rk-toggle-button clickClose="true" (click)="categoryChanged(cat)" [active]="cat.isBlocked"
                      [toggleTexts]="{ pos: 'Allow', neg: 'Not Allow' }"></rk-toggle-button>
                  </div>
                </div>
              </ng-container>
            </ng-container>

          </rk-collapse-body>
        </rk-collapse>

        <rk-collapse color="#d8d8d8" class="d-flex mt-3">
          <rk-collapse-title>Harmfull Categories</rk-collapse-title>

          <rk-collapse-description>
            Illegal,Adult,Hate/Violance/illegal gibi içerik ve güvenlik riski değişiklik gösterebilen
            domainleri içerir.
          </rk-collapse-description>

          <rk-collapse-body>
            <ng-container *ngFor="let cat of categoryList">
              <ng-container
                *ngIf="isInCategoryType('harmful', cat)">
                <div class="d-flex align-items-center justify-content-between mt-2 pb-2"
                  style="border-bottom: 1px solid #e4e9f1;">
                  <div class="accordion-label">{{ cat.name }}</div>

                  <div style="width: 78px;">
                    <rk-toggle-button clickClose="true" (click)="categoryChanged(cat)" [active]="cat.isBlocked"
                      [toggleTexts]="{ pos: 'Allow', neg: 'Not Allow' }"></rk-toggle-button>
                  </div>
                </div>
              </ng-container>
            </ng-container>

          </rk-collapse-body>
        </rk-collapse>

        <rk-collapse color="#d8d8d8" class="d-flex mt-3">
          <rk-collapse-title>Variable Categories</rk-collapse-title>

          <rk-collapse-description>
            Newly up, Undecided Safe gibi içerik ve güvenlik riski değişiklik gösterebilen
            domainleri içerir.
          </rk-collapse-description>

          <rk-collapse-body>
            <ng-container *ngFor="let cat of categoryList">
              <ng-container
                *ngIf="isInCategoryType('variable', cat)">
                <div class="d-flex align-items-center justify-content-between mt-2 pb-2"
                  style="border-bottom: 1px solid #e4e9f1;">
                  <div class="accordion-label">{{ cat.name }}</div>

                  <div style="width: 78px;">
                    <rk-toggle-button clickClose="true" (click)="categoryChanged(cat)" [active]="cat.isBlocked"
                      [toggleTexts]="{ pos: 'Allow', neg: 'Not Allow' }"></rk-toggle-button>
                  </div>
                </div>
              </ng-container>
            </ng-container>

          </rk-collapse-body>
        </rk-collapse>

        <rk-collapse color="#d8d8d8" class="d-flex mt-3">
          <rk-collapse-title>Safe Categories</rk-collapse-title>

          <rk-collapse-description>
            Cooking, Sport, Shopping gibi içerik gösterebilen
            domainleri içerir.
          </rk-collapse-description>

          <rk-collapse-body>
            <ng-container *ngFor="let cat of categoryList">
              <ng-container
                *ngIf="isInCategoryType('safe', cat)">
                <div class="d-flex align-items-center justify-content-between mt-2 pb-2"
                  style="border-bottom: 1px solid #e4e9f1;">
                  <div class="accordion-label">{{ cat.name }}</div>

                  <div style="width: 78px;">
                    <rk-toggle-button clickClose="true" (click)="categoryChanged(cat)" [active]="cat.isBlocked"
                      [toggleTexts]="{ pos: 'Allow', neg: 'Not Allow' }"></rk-toggle-button>
                  </div>
                </div>
              </ng-container>
            </ng-container>

          </rk-collapse-body>
        </rk-collapse>

      </div>
    </div>
  </rk-accordion-panel>
  <rk-accordion-panel index="2">
    <div class="rk-accordion-title">Applications</div>

    <div class="rk-accordion-body">
      <rk-collapse color="#d8d8d8" class="d-flex mt-3" *ngFor="let groupedApp of groupedApplications">
        <rk-collapse-title>{{ groupedApp.displayText }}</rk-collapse-title>

        <rk-collapse-description>{{ groupedApp.description }}</rk-collapse-description>

        <rk-collapse-body>

          <ng-container *ngFor="let app of groupedApp.applications">
              <div class="d-flex align-items-center justify-content-between mt-2 pb-2"
                style="border-bottom: 1px solid #e4e9f1;">
                <div class="accordion-label">{{ app.application.name }}</div>

                <div style="width: 78px;">
                  <rk-toggle-button clickClose="true" (click)="applicationChanged(app)" [active]="app.isBlocked"
                    [toggleTexts]="{ pos: 'Allow', neg: 'Not Allow' }"></rk-toggle-button>
                </div>
              </div>
            </ng-container>
          
          <!-- <ng-container *ngFor="let app of groupedApp.applications">
            <rk-toggle-button class="d-flex mt-2" clickClose="true" (click)="app.isSystem ? app.isBlocked = !app.isBlocked : null; applicationChanged(app)"
              [active]="app.isBlocked">
              {{ app.application.name }}</rk-toggle-button>
          </ng-container> -->

        </rk-collapse-body>
      </rk-collapse>
    </div>
  </rk-accordion-panel>
  <rk-accordion-panel index="3">
    <div class="rk-accordion-title">Black-White List</div>

    <div class="rk-accordion-body">

      <h6 class="rk-title">White List</h6>
      <p class="rk-description">
        White listesine eklediğiniz domainin kategorisi ne olursa olsun izin verilir.
        <br />
        Eklenen domainlerin tüm subdomainleri ile izin verilir.
        <br />
        Ör: google.com —> *.google.com
        <br>
        Bir domain'in uzunluğu en fazla 64 karakter olabilir.
      </p>

      <div class="input-container">
        <div class="rk-search-container w-100">
          <input type="text" placeholder="White List Domain" class="rk-input" [(ngModel)]="whiteListItem.domain"
            (ngModelChange)="whiteListItemValidation()" maxlength="64">
          <i-feather name="search"></i-feather>
        </div>

        <button class="btn btn-small ml-1" style="width: 60px" [disabled]="!isNewWhiteListItem"
          (click)="addToWhiteList()">
          Add
        </button>
      </div>

      <input type="text" class="rk-input w-100 mt-2" maxlength="255" [(ngModel)]="whiteListItem.comment"
        placeholder="Comment(Optionals)">

      <div class="cards mt-3">
        <div class="card success-card"
          *ngFor="let item of selectedAgent.rootProfile.blackWhiteListProfile?.whiteList; let i=index;">
          <div class="card-content">
            <h6 class="title">{{ i + 1 }}. {{ item.domain }}</h6>
            <p class="description">{{ item.comment }}</p>
          </div>

          <div class="card-close">
            <i-feather name="trash-2" (click)="removeFromWhiteList(item.domain)"></i-feather>
          </div>
        </div>
      </div>

      <h6 class="rk-title mt-4">Black List</h6>
      <p class="rk-description">
        Black listesine eklediğiniz domainin kategorisi ne olursa olsun bloklanır.
        <br />
        Eklenen domainlerin tüm subdomainleri engellenir.
        <br />
        Ör: google.com —> *.google.com
        <br>
        Bir domain'in uzunluğu en fazla 64 karakter olabilir.
      </p>

      <div class="input-container">
        <div class="rk-search-container w-100">
          <input type="text" placeholder="Black List Domain" class="rk-input" [(ngModel)]="blackListItem.domain"
            (ngModelChange)="blackListItemValidation()" maxlength="64">
          <i-feather name="search"></i-feather>
        </div>

        <button class="btn btn-small ml-1" style="width: 60px" [disabled]="!isNewBlackListItem"
          (click)="addToBlackList()">
          Add
        </button>
      </div>

      <input type="text" class="rk-input w-100 mt-2" maxlength="255" [(ngModel)]="blackListItem.comment"
        placeholder="Comment(Optionals)">

      <div class="cards mt-3">
        <div class="card danger-card"
          *ngFor="let item of selectedAgent.rootProfile.blackWhiteListProfile?.blackList.slice().reverse(); let i=index;">
          <div class="card-content">
            <h6 class="title">{{ i + 1 }}. {{ item.domain }}</h6>
            <p class="description">{{ item.comment }}</p>
          </div>

          <div class="card-close">
            <i-feather name="trash-2" (click)="removeFromBlackList(item)"></i-feather>
          </div>
        </div>
      </div>

    </div>
  </rk-accordion-panel>
</rk-accordion>