<div class="row">
  <div class="col-md-12">
    <div class="wizard-container">
      <div class="card card-wizard" data-color="blue" id="wizardProfile">
        <div class="card-header text-center">
          <h3 class="card-title">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 text-center input-group form-control-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">face</i>
                  </span>
                </div>
                <mat-form-field>
                  <input type="text" name="profileName" matInput id="text" placeholder="Profile Name"
                    [(ngModel)]="selectedAgent.rootProfile.name">
                </mat-form-field>
              </div>
              <div class="col-md-4"></div>
            </div>
          </h3>
          <!-- <h5 class="card-description">Manage this device</h5> -->
        </div>
        <div class="wizard-navigation">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" id="contentLink" href="#content" data-toggle="tab" role="tab">
                Content Filtering
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#security" data-toggle="tab" role="tab">
                Security
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#applications" data-toggle="tab" role="tab">
                Applications
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#blackWhiteList" data-toggle="tab" role="tab">
                Black-White Lists
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <form action="">
            <div class="tab-content">
              <div class="tab-pane active" id="content">
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="row mb-4">
                      <div class="col-md-3 ml-auto">
                        <div class="togglebutton">
                          <label style="color:#333333;">Safe Search
                            <ng-container *ngIf="selectedAgent.rootProfile.isSafeSearchEnabled; else elseTemplate1">
                              <input type="checkbox" checked (change)="changeSafeSearchMode()">
                              <span class="toggle"></span> On
                            </ng-container>
                            <ng-template #elseTemplate1>
                              <input type="checkbox" (change)="changeSafeSearchMode()">
                              <span class="toggle"></span> Off
                            </ng-template>
                          </label>
                        </div>
                      </div>
                      <div class="col-md-3 mr-auto">
                        <div class="togglebutton">
                          <label style="color:#333333;">YouTube Restrict Mode
                            <ng-container
                              *ngIf="selectedAgent.rootProfile.isYoutubeStrictModeEnabled; else elseTemplate2">
                              <input type="checkbox" checked (change)="changeYoutubeMode()">
                              <span class="toggle"></span> On
                            </ng-container>
                            <ng-template #elseTemplate2>
                              <input type="checkbox" (change)="changeYoutubeMode()">
                              <span class="toggle"></span> Off
                            </ng-template>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="item-wrapper">
                      <ng-container *ngFor="let cat of categoryList">
                        <div class="item" *ngIf="(cat.category.type=='UNSAFE_LIST' || cat.category.type=='HARMFULL_CONTENT') 
                                      && cat.category.isVisible">
                          <div class="row align-items-center">
                            <div class="col-sm-12 text-center mt-1">
                              <strong>{{cat.category.name}}</strong>
                              <br />
                              <ng-container *ngIf="cat.isBlocked; else elseTemplate">
                                <button class="btn btn-sm btn-warning" (click)="allowCategory(cat.category.id)">Not
                                  Allowed</button>
                              </ng-container>
                              <ng-template #elseTemplate>
                                <button class="btn btn-sm btn-success"
                                  (click)="blockCategory(cat.category.id)">Allowed</button>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <div id="cleanCategoriesAccordion" role="tablist">
                        <div class="card-collapse">
                          <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                              <a data-toggle="collapse" href="#cleanCategories" aria-expanded="false"
                                aria-controls="collapseOne" class="collapsed">
                                Clean Categories
                                <i class="material-icons">keyboard_arrow_down</i>
                              </a>
                            </h5>
                          </div>
                          <div id="cleanCategories" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                            data-parent="#cleanCategoriesAccordion">
                            <ng-container *ngFor="let cat of categoryList">
                              <div class="item"
                                *ngIf="!(cat.category.type=='SECURITY' ||cat.category.type=='UNSAFE_LIST' 
                                || cat.category.type=='HARMFULL_CONTENT'|| cat.category.type=='GRAY_LIST' ) && cat.category.isVisible">
                                <div class="row align-items-center">
                                  <div class="col-sm-12 text-center mt-1">
                                    <strong>{{cat.category.name}}</strong>
                                    <br />
                                    <ng-container *ngIf="cat.isBlocked; else elseTemplate">
                                      <button class="btn btn-sm btn-warning"
                                        (click)="allowCategory(cat.category.id)">Not
                                        Allowed</button>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                      <button class="btn btn-sm btn-success"
                                        (click)="blockCategory(cat.category.id)">Allowed</button>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="security">
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="item-wrapper">
                      <h3 class="text-center text-danger">SECURITY</h3>
                      <ng-container *ngFor="let cat of categoryList">
                        <div class="item" *ngIf="cat.category.type=='SECURITY' && cat.category.isVisible">
                          <div class="row align-items-center">
                            <div class="col-sm-12 text-center mt-1">
                              <strong>{{cat.category.name}}</strong>
                              <br />
                              <ng-container *ngIf="cat.isBlocked; else elseTemplate">
                                <button class="btn btn-sm btn-warning" (click)="allowCategory(cat.category.id)">Not
                                  Allowed</button>
                              </ng-container>
                              <ng-template #elseTemplate>
                                <button class="btn btn-sm btn-success"
                                  (click)="blockCategory(cat.category.id)">Allowed</button>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <h3 class="text-center text-muted">GRAY LIST</h3>
                      <ng-container *ngFor="let cat of categoryList">
                        <div class="item" *ngIf="cat.category.type=='GRAY_LIST' && cat.category.isVisible">
                          <div class="row align-items-center">
                            <div class="col-sm-12 text-center mt-1">
                              <strong>{{cat.category.name}}</strong>
                              <br />
                              <ng-container *ngIf="cat.isBlocked; else elseTemplate">
                                <button class="btn btn-sm btn-warning" (click)="allowCategory(cat.category.id)">Not
                                  Allowed</button>
                              </ng-container>
                              <ng-template #elseTemplate>
                                <button class="btn btn-sm btn-success"
                                  (click)="blockCategory(cat.category.id)">Allowed</button>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="applications">
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="item-wrapper">
                      <h3 class="text-center text-info">ONLINE VIDEO</h3>
                      <ng-container *ngFor="let app of applicationList">
                        <div class="item" *ngIf="app.application.isVisible && app.application.type=='ONLINE_VIDEO'">
                          <div class="row align-items-center">
                            <div class="col-sm-12 text-center mt-1">
                              <strong>{{app.application.name}}</strong>
                              <br />
                              <ng-container *ngIf="app.isBlocked; else elseTemplate">
                                <button class="btn btn-sm btn-warning"
                                  (click)="allowApplication(app.application.id)">Not
                                  Allowed</button>
                              </ng-container>
                              <ng-template #elseTemplate>
                                <button class="btn btn-sm btn-success"
                                  (click)="blockApplication(app.application.id)">Allowed</button>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <h3 class="text-center text-info">SOCIAL MEDIA</h3>
                      <ng-container *ngFor="let app of applicationList">
                        <div class="item" *ngIf="app.application.isVisible && app.application.type=='SOCIAL'">
                          <div class="row align-items-center">
                            <div class="col-sm-12 text-center mt-1">
                              <strong>{{app.application.name}}</strong>
                              <br />
                              <ng-container *ngIf="app.isBlocked; else elseTemplate">
                                <button class="btn btn-sm btn-warning"
                                  (click)="allowApplication(app.application.id)">Not
                                  Allowed</button>
                              </ng-container>
                              <ng-template #elseTemplate>
                                <button class="btn btn-sm btn-success"
                                  (click)="blockApplication(app.application.id)">Allowed</button>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <h3 class="text-center text-info">INSTANT MESSAGING</h3>
                      <ng-container *ngFor="let app of applicationList">
                        <div class="item"
                          *ngIf="app.application.isVisible && app.application.type=='INSTANT_MESSAGING'">
                          <div class="row align-items-center">
                            <div class="col-sm-12 text-center mt-1">
                              <strong>{{app.application.name}}</strong>
                              <br />
                              <ng-container *ngIf="app.isBlocked; else elseTemplate">
                                <button class="btn btn-sm btn-warning"
                                  (click)="allowApplication(app.application.id)">Not
                                  Allowed</button>
                              </ng-container>
                              <ng-template #elseTemplate>
                                <button class="btn btn-sm btn-success"
                                  (click)="blockApplication(app.application.id)">Allowed</button>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <h3 class="text-center text-info">ADVERTISEMENT</h3>
                      <ng-container *ngFor="let app of applicationList">
                        <div class="item" *ngIf="app.application.isVisible && app.application.type=='CLEAR_ADS'">
                          <div class="row align-items-center">
                            <div class="col-sm-12 text-center mt-1">
                              <strong>{{app.application.name}}</strong>
                              <br />
                              <ng-container *ngIf="app.isBlocked; else elseTemplate">
                                <button class="btn btn-sm btn-warning"
                                  (click)="allowApplication(app.application.id)">Not
                                  Allowed</button>
                              </ng-container>
                              <ng-template #elseTemplate>
                                <button class="btn btn-sm btn-success"
                                  (click)="blockApplication(app.application.id)">Allowed</button>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <h3 class="text-center text-info">REMOTE ACCESS TOOLS</h3>
                      <ng-container *ngFor="let app of applicationList">
                        <div class="item" *ngIf="app.application.isVisible && app.application.type=='REMOTE_ACCESS'">
                          <div class="row align-items-center">
                            <div class="col-sm-12 text-center mt-1">
                              <strong>{{app.application.name}}</strong>
                              <br />
                              <ng-container *ngIf="app.isBlocked; else elseTemplate">
                                <button class="btn btn-sm btn-warning"
                                  (click)="allowApplication(app.application.id)">Not
                                  Allowed</button>
                              </ng-container>
                              <ng-template #elseTemplate>
                                <button class="btn btn-sm btn-success"
                                  (click)="blockApplication(app.application.id)">Allowed</button>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="blackWhiteList">
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6 text-center">
                        <legend>Black List</legend>
                        <div class="row">
                          <div class="col-md-8 ml-auto">
                            <mat-form-field>
                              <input type="text" name="blackListText" matInput id="text" placeholder="Black List Domain"
                                [(ngModel)]="blackListItem" (ngModelChange)="blackListItemValidation()">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2 mr-auto">
                            <button mat-raised-button type="button" class="btn btn-success ml-1"
                              [disabled]="!isNewBlackListItem"
                              [ngClass]="{'btn-success' : isNewBlackListItem, 'btn-default' : !isNewBlackListItem}"
                              (click)="addToBlackList()">
                              <i class="material-icons">add_circle_outline</i>Add
                            </button>
                          </div>
                        </div>
                        <div class="table-responsive mr-1" style="max-height: 280px;">
                          <table class="table table-hover">
                            <tbody>
                              <tr class="table-danger" style="color: black;"
                                *ngFor="let item of selectedAgent.rootProfile.blackWhiteListProfile?.blackList.slice().reverse(); let i=index;">
                                <td class="text-right">{{i+1}}</td>
                                <td >{{item}}</td>
                                <td><button mat-raised-button type="button" class="btn btn-danger btn-sm btn-just-icon"
                                    (click)="removeFromBlackList(item)">
                                    <i class="material-icons">close</i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-6 text-center">
                        <legend>White List</legend>
                        <div class="row">
                          <div class="col-md-8 ml-auto">
                            <mat-form-field>
                              <input type="text" name="whiteListText" matInput id="text" placeholder="White List Domain"
                                [(ngModel)]="whiteListItem" (ngModelChange)="whiteListItemValidation()">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2 mr-auto">
                            <button mat-raised-button type="button" class="btn btn-success ml-1"
                              [disabled]="!isNewWhiteListItem"
                              [ngClass]="{'btn-success' : isNewWhiteListItem, 'btn-default' : !isNewWhiteListItem}"
                              (click)="addToWhiteList()">
                              <i class="material-icons">add_circle_outline</i>Add
                            </button>
                          </div>
                        </div>
                        <div class="table-responsive mr-1" style="max-height: 280px;">
                          <table class="table table-hover">
                            <tbody>
                              <tr class="table-success" style="color: black;"
                                *ngFor="let item of selectedAgent.rootProfile.blackWhiteListProfile?.whiteList.slice().reverse(); let i=index;">
                                <td class="text-right">{{i+1}}</td>
                                <td>{{item}}</td>
                                <td><button mat-raised-button type="button" class="btn btn-danger btn-sm btn-just-icon"
                                    (click)="removeFromWhiteList(item)">
                                    <i class="material-icons">close</i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="mr-auto">
            <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" id="previous"
              name="previous" value="Previous">
          </div>
          <div class="ml-auto">
            <input type="button" class="btn btn-next btn-fill btn-info btn-wd" name="next" value="Next">
            <input type="button" class="btn btn-finish btn-fill btn-info btn-wd" name="finish" value="Finish"
              (click)="saveProfile()" style="display: none;">
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 9px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888888;
  }
</style>