<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="white" data-color="blue">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">

          <div class="card card-signup">
            <div class="card-title">
              <h2 class="card-title text-center">{{'FORGOTPASSWORD.Title' | translate}}</h2>
            </div>
            <div class="card-body">
              <div id="loginDiv">
                <form [formGroup]="forgotPasswordConfirmForm" (ngSubmit)="forgotPasswordConfirm()"
                  class="form-horizontal">
                  <div class="row">
                    <div class="card-body">
                      <div class="form-group-sm has-default">
                        <div class="input-group">
                          <div class="input-group-prepend" style="width:100%;">
                            <mat-form-field class="example-full-width"
                              [ngClass]="{'has-success':validPasswordRegister===true}">
                              <input type="password" matInput placeholder="{{'REGISTER.Password' | translate}}"
                                (keyup)="checkPasswordStrength()" [errorStateMatcher]="matcher"
                                [(ngModel)]="model.password" formControlName="password">
                              <mat-error *ngIf="forgotPasswordConfirmForm.get('password').hasError('required')">
                                {{'REGISTER.Password' | translate}} <strong>{{'Required' | translate}}</strong>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="password-length">
                          <div [ngClass]="{'active': passStrength>0}"></div>
                          <div [ngClass]="{'active': passStrength>1}"></div>
                          <div [ngClass]="{'active': passStrength>2}"></div>
                          <div [ngClass]="{'active': passStrength>3}"></div>
                        </div>
                        <div class="form-group-sm has-default color-9d9d9d" style="font-size: 12px;" id="passDetails">
                          * Your password has to be at least:
                          <div class="row">
                            <div class="col-md-6">
                              <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': upStrength}">one upper case</i>
                              <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': lowStrength}">one lower case</i>
                            </div>
                            <div class="col-md-6">
                              <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': numStrength}">one number</i>
                              <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': lengthStrength}">8 characters</i>
                            </div>
                          </div>
                        </div>
                        <div class="form-group-sm has-default">
                          <div class="input-group">
                            <div class="input-group-prepend" style="width:100%;">
                              <mat-form-field class="example-full-width"
                                [ngClass]="{'has-success':validPasswordRegister===true}">
                                <input type="password" matInput placeholder="{{'REGISTER.ConfirmPassword' | translate}}"
                                  [errorStateMatcher]="matcher" [(ngModel)]="model.passwordAgain"
                                  formControlName="passwordAgain">
                                <mat-error *ngIf="forgotPasswordConfirmForm.get('passwordAgain').hasError('required')">
                                  {{'REGISTER.PasswordRequired' | translate}}
                                </mat-error>
                                <mat-error *ngIf="forgotPasswordConfirmForm.get('passwordAgain').hasError('required')">
                                  {{'REGISTER.ConfirmPassword' | translate}} <strong>{{'Required' | translate}}</strong>
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="form-group-sm has-default text-center">
                          <re-captcha [site_key]="captcha_key" (captchaResponse)="handleCaptcha($event)"></re-captcha>
                        </div>
                      </div>
                    </div>



                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-center">
                        <button type="submit" class="btn btn-info btn-sm mt-4" [disabled]="!isFormValid()">Save</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <app-footer-cmp></app-footer-cmp>
</div>