<div class="wrapper wrapper-full-page" style="background-color: white;">
  <div class="row ml-1 mr-1" style="min-height: 92vh;">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="row mt-4 mb-4">
        <div class="col-md-3 text-left">
          <img src="/assets/img/{{host.logoImage}}" style="max-height: 40px;" />
        </div>
        <div class="col-md-9">
          <a class="nav-link pull-right" [routerLink]="['/login']"
            style="color: #868e96; font-weight: 500; font-size: 16px;">
            Log In
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 signUpHeader text-center" style="font-weight: 500; font-size: 20px;">Reset Your Password
        </div>
        <div class="col-md-12 mt-4 mb-3" style="border: 0.5px solid #eeeeee"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 ml-auto mr-auto" style="max-width: 450px;">
          <p style="font-weight: normal; font-size: medium;">Please define your new password according to below password
            policy.</p>
          <div id="loginDiv">
            <form [formGroup]="forgotPasswordConfirmForm" (ngSubmit)="forgotPasswordConfirm()" class="form-horizontal">
              <div class="row">
                <div class="card-body">
                  <div class="form-group-sm has-default">
                    <input type="password" class="formInput" placeholder="{{'REGISTER.Password' | translate}}"
                      (keyup)="checkPasswordStrength()" [(ngModel)]="model.password" formControlName="password">
                    <div class="password-length mt-2">
                      <div [ngClass]="{'active': passStrength>0}"></div>
                      <div [ngClass]="{'active': passStrength>1}"></div>
                      <div [ngClass]="{'active': passStrength>2}"></div>
                      <div [ngClass]="{'active': passStrength>3}"></div>
                    </div>
                    <div class="form-group-sm has-default color-9d9d9d" style="font-size: 12px;" id="passDetails">
                      * Your password has to be at least:
                      <div class="row">
                        <div class="col-md-6">
                          <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': upStrength}">one upper case</i>
                          <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': lowStrength}">one lower case</i>
                        </div>
                        <div class="col-md-6">
                          <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': numStrength}">one number</i>
                          <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': lengthStrength}">8 characters</i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group-sm has-default">
                      <input type="password" class="formInput mt-2 mb-3"
                        placeholder="{{'REGISTER.ConfirmPassword' | translate}}" [(ngModel)]="model.passwordAgain"
                        formControlName="passwordAgain">
                    </div>
                    <div class="form-group-sm has-default text-center">
                      <re-captcha [site_key]="captcha_key" (captchaResponse)="handleCaptcha($event)"></re-captcha>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btns login-btns mt-4 mb-3" [disabled]="!isFormValid()">Change
                    Password</button>
                  <br />
                  <a [routerLink]="['/login']" style="color: #4353ff; font-weight: 500; font-size: 14px;">
                    Cancel
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer-cmp></app-footer-cmp>
</div>