<div class="wrapper wrapper-full-page flex-column" style="background-color: white; color: #222222">

  <div class="row ml-1 mr-1" style="min-height: 92vh;">
    <div class="col-md-8 ml-auto mr-auto" *ngIf="pageMode=='register'">
      <div class="row mt-4 mb-4">
        <div class="col-md-3 text-left">
          <img src="/assets/img/{{host.logoImage}}" style="max-height: 40px;" />
        </div>
        <div class="col-md-9 d-flex align-items-center justify-content-end">
          <a class="nav-link pull-right" [routerLink]="['/login']"
            style="color: #868e96; font-weight: 500; font-size: 16px;">
            {{'LOGIN.Login' | translate}}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 signUpHeader text-center">{{ 'LOGIN.Register' | translate}}</div>
        <div class="col-md-12 mt-4 mb-3" style="border: 0.5px solid #eeeeee"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 signUpHeader mt-2" style="font-size: 30px;">
              <p>
                <ng-container *ngIf="host.brand == 'CyberCyte'; else elseTemplate">
                  60
                </ng-container>
                <ng-template #elseTemplate>
                  14
                </ng-template>
                Days Free Protection From Threats
              </p>
            </div>
          </div>
          <div class="row mt-0 ml-1">
            <div class="col-md-6" style="border-right: 1px solid #eeeeee;">
              <p class="signUpHeader mt-2" style="font-size: 21px;">Protect your organisation in minutes.</p>
              <p class="signUpHeader mt-2" style="font-size: 14px;">Why {{host.title}}?</p>
              <div class="mb-3">
                <img class="mr-1 tickIcon" src="/assets/images/icons/tick.svg">Stop zero-day attacks.
              </div>
              <div class="mb-3"><img class="mr-1 tickIcon" src="/assets/images/icons/tick.svg">Pre & Post infection
                protection.</div>
              <div class="mb-3"><img class="mr-1 tickIcon" src="/assets/images/icons/tick.svg">Define and enforce
                internet usage policy.</div>
              <div class="mb-3"><img class="mr-1 tickIcon" src="/assets/images/icons/tick.svg">White list
                categorisation
                of internet traffic (all ports and protocols)</div>
              <div class="mb-3"><img class="mr-1 tickIcon" src="/assets/images/icons/tick.svg">Next Generation
                protection
                using machine learning & artificial intelligence.</div>
              <div class="mb-3"><img class="mr-1 tickIcon" src="/assets/images/icons/tick.svg">
                Simple deployment with no overhead.</div>
              <div class="ml-4">
                <div class="container">
                  <img src="/assets/img/dashboardImage2.png" alt="Dashboard" />
                  <!-- <img src="/assets/img/play.svg" style="transform: translate(-240%, 0%);" /> -->
                </div>
              </div>
            </div>
            <div class="col-md-6">

              <!-- Form started -->
              <form [formGroup]="registerForm" class="form-horizontal mt-3">
                <div class="row">
                  <div class="col-md-12" style="max-width: 450px;">
                    <p style="font-size: 12px; margin-top: -15px; margin-bottom: 0px;">All fields are required except
                      phone number</p>

                    <input type="text" class="formInput" placeholder="Company Name" [(ngModel)]="user.company.name"
                      formControlName="company" [ngClass]="{'formInputHasError':(registerForm.get('company').dirty|| registerForm.get('company').touched)
                      && !registerForm.get('company').valid}">

                    <input type="text" class="formInput mt-2" placeholder="{{'REGISTER.FirstName' | translate}}"
                      [(ngModel)]="user.name" formControlName="name" [ngClass]="{'formInputHasError':(registerForm.get('name').dirty|| registerForm.get('name').touched)
                      && !registerForm.get('name').valid}">

                    <input type="text" class="formInput mt-2" placeholder="{{'REGISTER.LastName' | translate}}"
                      [(ngModel)]="user.surname" formControlName="surname" [ngClass]="{'formInputHasError':(registerForm.get('surname').dirty|| registerForm.get('surname').touched)
                      && registerForm.get('surname').hasError('required')}">

                    <div class="form-group-sm has-default">
                      <div class="input-group">
                        <div class="input-group-prepend d-flex" style="width:100%;">

                          <div class="dns-dropdown d-inline-block dropdown-accent dns-full-width" style="width: 130px;">
                            <button class="btns dropdown-toggle reverse-form text-left formInput mt-2" [ngClass]="{'formInputHasError':(registerForm.get('gsmCode').dirty|| registerForm.get('gsmCode').touched)
                      && !registerForm.get('gsmCode').valid}" id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <ng-container *ngIf="user && user.gsmCode; else elseTemplateSelectedProfile">
                                {{user.gsmCode}}
                              </ng-container>
                              <ng-template #elseTemplateSelectedProfile>
                                Select
                              </ng-template>
                              <i class="icon-down-open-big btn-arrow"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                              style="background-color: white;">
                              <div class="table-responsive" style="max-height: 300px;">
                                <button class="dropdown-item" style="color: black;" *ngFor="let pc of phoneNumberCodes"
                                  (click)="userGsmCodeChanged(pc.dial_code)">
                                  {{pc.dial_code}} {{pc.name}}
                                </button>
                              </div>
                            </div>
                          </div>

                          <input type="tel" class="formInput ml-2 mt-2" name="gsm" (keydown)="checkisTelNumber($event)"
                            placeholder="{{'REGISTER.GSM' | translate}}" maxlength="10" minlength="9"
                            [(ngModel)]="user.gsm" formControlName="gsm" title="5XX1234567" [ngClass]="{'formInputHasError':(registerForm.get('gsm').dirty|| registerForm.get('gsm').touched)
                                        && !registerForm.get('gsm').valid }">

                        </div>
                      </div>
                    </div>

                    <input type="email" class="formInput mt-2" placeholder="{{'REGISTER.Email' | translate}}"
                      [(ngModel)]="user.username" (ngModelChange)="emailValidationRegister($event)"
                      formControlName="username" [ngClass]="{'formInputHasError':(registerForm.get('username').dirty|| registerForm.get('username').touched)
                      && (registerForm.get('username').hasError('required') || !validEmailRegister ||
                      !registerForm.get('username').valid )}">
                    <p style="color: red;" *ngIf="registerForm.get('username').hasError('unsolicitedMailAddress')">
                      Instant or Temporary e-mail services are not valid!</p>

                    <input type="password" class="formInput mt-2" placeholder="{{'REGISTER.Password' | translate}}*"
                      (keyup)="checkPasswordStrength()" [(ngModel)]="user.password" formControlName="password"
                      [ngClass]="{'formInputHasError':(registerForm.get('password').dirty|| registerForm.get('password').touched)
                      && !registerForm.get('password').valid}">

                    <div class="password-strength-register mt-2" style="max-width: 100%;">
                      <div [ngClass]="{'active': passStrength>0}"></div>
                      <div [ngClass]="{'active': passStrength>1}"></div>
                      <div [ngClass]="{'active': passStrength>2}"></div>
                      <div [ngClass]="{'active': passStrength>3}"></div>
                    </div>
                    <div class="form-group-sm has-default color-9d9d9d" style="font-size: 12px;" id="passDetails">
                      * Your password has to be at least:
                      <div class="row">
                        <div class="col-md-6">
                          <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': upStrength}">one upper
                            case</i>
                          <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': lowStrength}">one lower
                            case</i>
                        </div>
                        <div class="col-md-6">
                          <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': numStrength}">one number</i>
                          <i class="d-flex fa" [ngClass]="{'fa-check greenCheck': lengthStrength}">8
                            characters</i>
                        </div>
                      </div>
                    </div>

                    <input type="password" class="formInput mt-2 mb-3" title="Enter same password again"
                      placeholder="{{'REGISTER.ConfirmPassword' | translate}}" [(ngModel)]="user.passwordAgain"
                      formControlName="passwordAgain" [ngClass]="{'formInputHasError':(registerForm.get('passwordAgain').dirty|| registerForm.get('passwordAgain').touched)
                      && !registerForm.get('passwordAgain').valid}">

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group-sm has-default text-center ml-auto">
                      <re-captcha [siteKey]="captcha_key" language='en' (resolved)="handleCaptcha($event)">
                      </re-captcha>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div>
                          <button type="submit" class="btns signup-btns mt-3 mb-4" [disabled]="!isRegisterFormValid()"
                            title="By clicking the 'Register', you agree to our Terms of Service and Privacy Policy and you understand that your personal information may be transferred for processing outside your country of residence."
                            (click)="register()">Register</button>
                        </div>
                      </div>
                    </div>
                    <div style="font-size: 12px; max-width: 400px; color: #868e96; line-height: normal;">
                      <p>By clicking the 'Register', you agree to our
                        <a href="{{host.termsOfServiceUrl}}" target="_blank">Terms of Service</a> and <a href="{{host.privacyUrl}}" target="_blank">Privacy Policy</a> and you
                        understand that
                        your personal information may be transferred for processing outside your country of residence.
                      </p>
                    </div>
                  </div>
                </div>

              </form>
              <!-- Form ended -->


            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="col-md-8 ml-auto mr-auto" *ngIf="pageMode=='mailSent'">
      <div class="row mt-4 mb-4">
        <div class="col-md-3 text-left">
          <img src="/assets/img/{{host.logoImage}}" style="max-height: 40px;" />
        </div>
        <div class="col-md-9">
          <a class="nav-link pull-right" [routerLink]="['/login']"
            style="color: #868e96; font-weight: 500; font-size: 16px;">
            Log In
          </a>
        </div>
      </div>
      <div class="mailSentCard col-md-8 mr-auto ml-auto mt-4">
        <div class="row" style="padding:50px">
          <div class="col-md-10 mr-auto ml-auto">
            <div class="row">
              <div class="col-md-2 col-sm-12 col-xs-12 mb-2">
                <img src="/assets/img/check-ring.svg" />
              </div>
              <div class="col-md-10 col-sm-12 mb-2" style="font-family: Roboto; font-size: 25px; font-weight: normal;">
                <p>Great News!</p>
                <p>Your free trial is almost ready!</p>
              </div>
              <div class="col-md-12 mr-auto ml-auto"
                style="font-weight: normal; background-color: rgba(67, 83, 255, 0.08)">
                <p class="mt-2">A verification email has been sent</p>
                <p> to: <b>{{user.username}}</b></p>
                <p>Please click the activation link sent to your e-mail address.
                <p>
              </div>
              <div class="col-md-12 mr-auto ml-auto mt-3" style="font-weight: normal;">
                <!-- <p>To re-send the verification e-mail please click <a href="#">here </a></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <app-footer-cmp></app-footer-cmp>
  </div>

</div>
