<div class="rk-base-card h-100">
  <div class="card-item">
    <div class="container-fluid" style="border-radius: 13px;">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center py-3 mb-2"
          style="border-bottom: 2px solid #e4e9f1;">
          <div class="rk-tabs" style="width: 420px;">
            <div class="rk-tab" (click)="activeTabNumber = 0" [ngClass]="{'active': activeTabNumber === 0}">
              {{'ACCOUNTSETTINGS.UserInformation' | translate}}</div>
            <div class="rk-tab" (click)="activeTabNumber = 1" [ngClass]="{'active': activeTabNumber === 1}">
              {{'ACCOUNTSETTINGS.CompanyInformation' | translate}}</div>
            <div class="rk-tab" (click)="activeTabNumber = 2" [ngClass]="{'active': activeTabNumber === 2}">
              {{'ACCOUNTSETTINGS.ChangePassword' | translate}}</div>
          </div>
        </div>

        <div class="col-12 col-md-4 my-3" *ngIf="activeTabNumber === 0">
          <h5 class="rk-head-title">{{'ACCOUNTSETTINGS.UserInformation' | translate}}</h5>

          <form [formGroup]="userInfoForm">
            <div>
              <label for="fullname" class="rk-label">{{'ACCOUNTSETTINGS.UserFullName' | translate}}</label>
              <input type="text" class="rk-input w-100" id="fullname" placeholder="Full Name" [(ngModel)]="user.name"
                formControlName="name" required>
            </div>

            <div class="mt-3">
              <label for="email" class="rk-label">{{'ACCOUNTSETTINGS.UserEmail' | translate}}</label>
              <input type="email" class="rk-input w-100" id="email" placeholder="Email" [value]="user.username" required
                readonly>
            </div>

            <div class="mt-3 mb-2 d-flex">
              <button class="btn btn-small w-100 btn-default mr-2"
                (click)="activeTabNumber = 2">{{'ACCOUNTSETTINGS.ChangePassword' | translate}}</button>
              <button class="btn btn-small w-100 btn-accent" (click)="userFormSubmit()">{{'Save' | translate}}</button>
            </div>
          </form>
        </div>

        <div class="col-12 col-md-2" *ngIf="activeTabNumber === 0" style="border-right: 1px solid #e4e9f1;"></div>

        <div class="col-12 col-md-4 mt-3" *ngIf="activeTabNumber === 0">
          <form [formGroup]="userPhoneForm">
            <h5 class="rk-head-title">{{'ACCOUNTSETTINGS.TwoFactorAuthMessage' | translate}}</h5>

            <p class="rk-description">
              {{'ACCOUNTSETTINGS.TwoFactorAuthElseMessage' | translate}}
            </p>

            <p class="rk-description">
              <span class="text-accent">*</span> {{'ACCOUNTSETTINGS.TwoFactorAuthMessage' | translate}}
            </p>

            <ng-container
              *ngIf="isValidateButtonDisabled() && !isSmsConfirming &&  user.gsmCode && user.gsm?.length > 0; else elseTemplate2FA">
              <div class="category-item">
                <rk-checkbox [value]="user.twoFactorAuthentication" alignment="right" size="sm"
                  (valueChange)="change2FASubmit()">{{'ACCOUNTSETTINGS.EnableTwoFactorAuth' | translate}}</rk-checkbox>
              </div>
            </ng-container>

            <ng-template #elseTemplate2FA>
              <p>{{'ACCOUNTSETTINGS.TwoFactorAuthElseMessage' | translate}}</p>
            </ng-template>

            <!-- <ng-container *ngIf="!user.twoFactorAuthentication && user.gsm != null && user.gsm !=''">
              <div class="mt-4">
                <label for="gsm-code" class="rk-label">{{'ACCOUNTSETTINGS.GSMCode' | translate}}</label>
                <input type="text" class="rk-input w-100" readonly [value]="gsmCodeTemp">
              </div>

              <div class="mt-4">
                <label for="gsm-code" class="rk-label">GSM</label>
                <input type="text" class="rk-input w-100" readonly [value]="phoneNumberTemp">
              </div>
            </ng-container> -->

            <ng-container>
              <div class="mt-4">
                <label class="rk-label">{{'ACCOUNTSETTINGS.GSMCode' | translate}}</label>
                <rk-select [options]="countryOptions" [(value)]="gsmCodeTemp" (valueChange)="gsmCodeChange()"
                  class="w-100"></rk-select>
              </div>

              <div class="mt-3">
                <label for="gsm" class="rk-label">GSM</label>
                <input type="text" class="rk-input w-100" id="gsm" (keydown)="checkisTelNumber($event)"
                  [(ngModel)]="phoneNumberTemp" (ngModelChange)="gsmChange()" formControlName="gsm"
                  placeholder="Enter GSM" maxlength="10">
              </div>

            </ng-container>

            <div id="smsValidationDiv" style="display:none;">
              <div class="mt-3">
                <countdown *ngIf="countdownConfig"  [config]="countdownConfig"  (event)="timeEnd($event)"></countdown>
              </div>

              <div class="mt-2">
                <label for="sms" class="rk-label">{{'ACCOUNTSETTINGS.SMSCode' | translate}}</label>
                <input type="text" class="rk-input w-100" [(ngModel)]="smsCode" formControlName="smsCode">
              </div>

              <div class="mt-3 d-flex justify-content-end">
                <button class="btn btn-small" style="min-width: 100px;" (click)="confirmGsm()">{{'Confirm' |
                  translate}}</button>
              </div>

            </div>

            <div class="mt-3 mb-2 d-flex justify-content-end" *ngIf="!isSmsConfirming" id="validateButton">
              <button [disabled]="isValidateButtonDisabled()" class="btn  btn-small" style="min-width: 100px;"
                (click)="changePhoneNumber()">{{'Validate' | translate}}</button>
            </div>
          </form>
        </div>

        <div class="col-12 col-md-2" *ngIf="activeTabNumber === 0"></div>

        <div class="col-12 col-md-4 mt-3" *ngIf="activeTabNumber === 1">
          <form [formGroup]="companyInfoForm">
            <h5 class="rk-head-title">{{'ACCOUNTSETTINGS.CompanyInformation' | translate}}</h5>

            <div>
              <label for="company-name" class="rk-label">{{'ACCOUNTSETTINGS.CompanyName' | translate}}</label>
              <input type="text" class="rk-input w-100" id="company-name" formControlName="companyName"
                placeholder="Enter company name" [(ngModel)]="signupUser.company.name">
            </div>

            <div class="mt-3">
              <label class="rk-label">{{'ACCOUNTSETTINGS.Industry' | translate}}</label>
              <rk-select placeholder="Select industry" [options]="industuryOptions"
                [(value)]="signupUser.company.industry"></rk-select>
            </div>

            <div class="mt-3">
              <label class="rk-label" for="website">{{'ACCOUNTSETTINGS.WebSite' | translate}}</label>
              <input type="text" class="rk-input w-100" id="website" formControlName="url"
                [(ngModel)]="signupUser.company.url">
            </div>

            <div class="mt-3">
              <label class="rk-label">{{'ACCOUNTSETTINGS.Personnel' | translate}}</label>
              <rk-select placeholder="Personel count" [options]="personCountsOptions"
                [(value)]="signupUser.company.personnelCount"></rk-select>
            </div>

            <div class="mt-3">
              <label class="rk-label" for="block-message">{{'ACCOUNTSETTINGS.BlockMessage' | translate}}</label>
              <input type="text" class="rk-input w-100" id="block-message" formControlName="blockMessage"
                [(ngModel)]="signupUser.company.blockMessage">
            </div>

            <div class="d-flex justify-content-end mt-3 mb-2">
              <button class="btn btn-small btn-accent" style="min-width: 100px;" (click)="companyFormSubmit()">{{'Save'
                | translate}}</button>
            </div>
          </form>
        </div>

        <div class="col-12 col-md-4 mt-3" *ngIf="activeTabNumber === 2">
          <form [formGroup]="changePasswordForm">
            <h5 class="rk-head-title">{{'ACCOUNTSETTINGS.ChangePassword' | translate}}</h5>

            <div>
              <label class="rk-label" for="current-password">{{'ACCOUNTSETTINGS.CurrentPassword' | translate}}</label>
              <input type="password" class="rk-input w-100" id="current-password" [(ngModel)]="currentPassword"
                formControlName="currentPassword" placeholder="{{'ACCOUNTSETTINGS.CurrentPassword' | translate}}">
            </div>

            <div class="mt-3">
              <label class="rk-label" for="new-password">{{'ACCOUNTSETTINGS.NewPassword' | translate}}</label>
              <input type="password" class="rk-input w-100" id="new-password"
                placeholder="{{'ACCOUNTSETTINGS.NewPassword' | translate}}" [(ngModel)]="signupUser.password"
                (ngModelChange)="checkPasswordStrength()" formControlName="password">
            </div>

            <div class="mt-3">
              <label class="rk-label" for="confirm-password">{{'ACCOUNTSETTINGS.ConfirmNewPassword' |
                translate}}</label>
              <input type="password" class="rk-input w-100" id="confirm-password"
                placeholder="{{'ACCOUNTSETTINGS.ConfirmNewPassword' | translate}}"
                [(ngModel)]="signupUser.passwordAgain" formControlName="passwordAgain">
            </div>

            <div class="mt-2">
              <div class="password-strength justify-content-end">
                <div [ngClass]="{ active: passwordStrength > 0 }"></div>
                <div [ngClass]="{ active: passwordStrength > 1 }"></div>
                <div [ngClass]="{ active: passwordStrength > 2 }"></div>
                <div [ngClass]="{ active: passwordStrength > 3 }"></div>
              </div>
            </div>

            <div class="d-flex justify-content-end mt-3 mb-2" (click)="changePasswordFormSubmit()">
              <button class="btn btn-small btn-accent" style="min-width: 100px;">{{'ACCOUNTSETTINGS.Save' |
                translate}}</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>