<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        
        <div class="card">
          <div class="card-header">
            Tests Notifications
          </div>
          <div class="card-body">
            <button class="btn mat-raised-button" (click)="info()">Test info</button>
            <button class="btn mat-raised-button" (click)="success()">Test success</button>
            <button class="btn mat-raised-button" (click)="danger()">Test danger</button>
            <button class="btn mat-raised-button" (click)="error()">Test error</button>
            <button class="btn mat-raised-button" (click)="warning()">Test warning</button>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Tests Http Errors
          </div>
          <div class="card-body">

            <button class="btn mat-raised-button" (click)="errorHttp()">Test error http</button>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Tests App Exceptions
          </div>
          <div class="card-body">
            <button class="btn mat-raised-button" (click)="throwException()">Test Exception</button>

          </div>
        </div>


        <div class="card">
          <div class="card-header">
            Tests Translation
          </div>
          <div class="card-body">
            <button class="btn mat-raised-button" (click)="language('en')">EN</button>
            <button class="btn mat-raised-button" (click)="language('tr')">TR</button>
            <div>{{ 'Welcome' | translate}}
              
            </div>

            <button class="btn mat-raised-button" (click)="language2()">javascript runtime</button>
            <div>{{invalidmsg}}
              
            </div>

            <button class="btn mat-raised-button" (click)="throwex()">throw exception</button>

          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Spinner
          </div>
          <div class="card-body">
            <button class="btn mat-raised-button" (click)="spin()">spin</button>
            <button class="btn mat-raised-button" (click)="spinexception()">spin wait and throw exception</button>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            TEst authentication
          </div>
          <div class="card-body">
            <button class="btn mat-raised-button" (click)="refreshtoken()">refresh token</button>
            <button class="btn mat-raised-button" (click)="getcategory()">getcategory</button>
            <button class="btn mat-raised-button" (click)="deleteandcategory()">delete token and get category</button>
            
            
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
