image: node:18-alpine3.18

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  IMAGE: ui.dnssense.stage
  NS: dnssense
  REGISTRY_DEV: registry.roksit.org
  YES2ALL: "y"
  K8_FILE: ui.dnssense.yaml

before_script:
  - export VERSION=$(cat ./angular/package.json |grep version|cut -d ':' -f 2|tr -d ,|tr -d \"|sed -e 's/^[[:space:]]*//')
  - echo $VERSION

stages:
  - build
  - package
  - deploy

cache:
  paths:
    - node_modules/

build_building:
  image: node:18-alpine3.18
  tags:
    - build-runner
  stage: build
  cache: {}
  script:
    - cd angular
    - npm run install:clean --strict-ssl=false
    - npm run build-prod
  artifacts:
    paths:
      - angular
      - node_modules
  except:
    refs:
      - master

package_docker_dev:
  image: node:18-alpine3.18
  tags:
    - package-runner
  stage: package
  script:
    - docker build -t $IMAGE .
    - docker tag $IMAGE $REGISTRY_DEV/$NS/$IMAGE:$VERSION
    - docker push $REGISTRY_DEV/$NS/$IMAGE:$VERSION
  except:
    refs:
      - master

deploy_k8_dev:
  tags:
    - deploy-runner
  stage: deploy
  script:
    - git clone git@gitlab:kube_dep/dep.dnssense.git
    - cd dep.dnssense
    - export CURRENTIMAGE=$(cat templates/dnssense/$K8_FILE|grep "{{public_registry}}/$NS/$IMAGE")
    - echo  "current  $CURRENTIMAGE"
    - export CURRENTVERSION=$(echo $CURRENTIMAGE|cut -d '"' -f2|cut -d ":" -f2)
    - export NEWIMAGE="${CURRENTIMAGE//$CURRENTVERSION/$VERSION}"
    - echo "new $NEWIMAGE"
    - sed -i "s/${CURRENTIMAGE//\//\\/}/${NEWIMAGE//\//\\/}/g" templates/dnssense/$K8_FILE
    - ansible-playbook 01.preinit.playbook.yaml
    - ansible-playbook 02.init.playbook.yaml
    - ansible-playbook 03.postinit.playbook.yaml
    - ansible-playbook 191.ui.dnssense.playbook.yaml
    - git add . || exit_code=$?
    - git commit -m 'ui.dnssense updated' || exit_code=$?
    - git push
  except:
    refs:
      - master
