image: node:12.14.1

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  IMAGE: ui.dnssense.stage
  NS: dnssense
  REGISTRY_DEV: registry.sea.net
  REGISTRY_PROD: registry.canakkale.net
  YES2ALL: 'y'
  K8_DEV: k8dev
  K8_PROD: k8prod
  K8_FILE: ui.dnssense.yaml


before_script:
  - export VERSION=$(cat ./angular/package.json |grep version|cut -d ':' -f 2|tr -d ,|tr -d \"|sed -e 's/^[[:space:]]*//')
  - echo $VERSION






stages:
  - build
  - package
  - deploy

cache:
  paths:
    - node_modules/

build_building:
  image: node:12.14.1
  tags:
    - builder-runner
  stage: build
  script:
    - cd angular
    - npm run install:clean
    - npm run build-prod
  artifacts:
    paths:
      - angular
      - node_modules





package_docker_dev:
  image: node:12.14.1
  tags:
    - packager-runner
  stage: package
  script:
    - docker build -t $IMAGE .
    - docker tag $IMAGE $REGISTRY_DEV/$NS/$IMAGE:$VERSION
    - docker push $REGISTRY_DEV/$NS/$IMAGE:$VERSION
  except:
    refs:
      - master


