<div class="main-content">
  <div class="container-fluid col-md-11">
    <section id="securityprofilesPanel" class="securityprofilesPanel">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card">
            <div class="card-header card-header-icon card-header-info">
              <div class="card-icon">
                <i class="material-icons">settings_input_composite</i>
              </div>
              <h4 class="card-title ">Profiles</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-warning">
                    <tr>
                      <th>Profile Headers</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Profile information</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>