<div class="main-content">
  <div class="container-fluid col-md-11">
    <section id="securityProfilesPanel" class="securityProfilesPanel">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card">
            <div class="card-header card-header-icon card-header-info">
              <div class="card-icon">
                <i class="material-icons">settings_input_composite</i>
              </div>
              <h4 class="card-title ">Profiles</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-info">
                    <tr>
                      <th>Profile Headers</th>
                      <th>Security Level</th>
                      <th class="text-right">Operations</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Profile information</td>
                      <td>Security Level</td>
                      <td class="text-right">
                        <button mat-raised-button type="button" class="btn btn-info btn-just-icon btn-sm"
                          mattooltip="Edit item" (click)="showEditWizard(1)">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" class="btn btn-danger btn-just-icon btn-sm"
                          mattooltip="Delete item" (click)="deleteProfile(1)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="wizardPanel" class="wizardPanel" style="display: none;">
      <div class="row">
        <div class="col-md-12">
          <button mat-raised-button type="button" class="btn btn-warning" (click)="hideWizard()">
            <i class="material-icons">arrow_back</i>
          </button>
          <app-profile-wizard [selectedAgent]="selectedAgent"></app-profile-wizard>
        </div>
      </div>
    </section>
  </div>
</div>