<div class="main-content">
  <div class="container-fluid col-md-11">
    <section id="securityProfilesPanel" class="securityProfilesPanel">
        <div class="row" id="newButtonDiv">
            <div class="col-md-4"></div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-right">
              <button mat-raised-button type="button" class="ml-2 btn btn-success btn-sm"
                matTooltip="Create a new Public IP" (click)="showNewWizard()">
                <i class="material-icons">add_circle_outline</i> Create New Profile
              </button>
            </div>
          </div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card">
            <div class="card-header card-header-icon card-header-info">
              <div class="card-icon">
                <i class="material-icons">settings_input_composite</i>
              </div>
              <h4 class="card-title ">Profiles</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive" style="max-height: 600px;">
                <table class="table">
                  <thead class="text-info">
                    <tr>
                      <th>Profile Headers</th>
                      <th>Number of Uses</th>
                      <th class="text-right">Operations</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of securityProfiles">
                      <td>{{p.name}}</td>
                      <td>{{p.numberOfUsage}}</td>
                      <td class="text-right">
                        <button *ngIf="!p.isSystem" mat-raised-button type="button" class="btn btn-info btn-just-icon btn-sm"
                          mattooltip="Edit item" (click)="showEditWizard(p.id)">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" class="btn btn-danger btn-just-icon btn-sm"
                          mattooltip="Delete item" (click)="deleteProfile(p.id)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="wizardPanel" class="wizardPanel" style="display: none;">
      <div class="row">
        <div class="col-md-12">
          <button mat-raised-button type="button" class="btn btn-warning" (click)="hideWizard()">
            <i class="material-icons">arrow_back</i>
          </button>
          <app-profile-wizard [selectedAgent]="selectedAgent" [startWizard]="startWizard" [saveMode]="saveMode"
          [updateCount]="updateCount" (saveEmitter)="hideWizardWithoutConfirm();"></app-profile-wizard>
        </div>
      </div>
    </section>
  </div>
</div>
<style>
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 9px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888888;
  }
</style>