<footer class="footer ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="copyright  ml-2" style="color: #868e96;">
          Copyright &copy; {{test | date: 'yyyy'}} <a [href]="host.www" target="_blank">{{host.brand}}</a> Ltd.
        </div>
      </div>
      <div class="col-md-6" style="display: contents;">
        <nav class="text-left" style="color:#868e96">
          <ul>
            <li>
              <a style="text-transform: none;" [href]="host.onlineHelpUrl" target="_blank">
                Online Help
              </a>
            </li>
            <li>|</li>
            <li>
              <a style="text-transform: none;" [href]="host.privacyUrl" target="_blank">
                Privacy Policy
              </a>
            </li>
            <li>|</li>
            <li>
              <a style="text-transform: none;" [href]='host.supportUrl' target="_blank">
                Support
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>




  </div>
</footer>