<footer class="footer ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright  ml-2" style="color: #868e96;" [innerHTML]="'CopyRightText' | translate: {'arg1': (test | date: 'yyyy'), 'arg2': host.brand | uppercase, 'arg3': host.www}">
        </div>
      </div>
      <div class="col-md-12 text-center">
        <nav class="text-center" style="color:#868e96">
          <ul>
            <li>
              <a style="text-transform: none;" [href]="host.onlineHelpUrl" target="_blank">
                {{'OnlineHelp'|translate}}
              </a>
            </li>
            <li>|</li>
            <li>
              <a style="text-transform: none;" [href]="host.privacyUrl" target="_blank">
                {{'PrivacyPolicy'|translate}}
              </a>
            </li>
            <li>|</li>
            <li>
              <a style="text-transform: none;" [href]='host.supportUrl' target="_blank">
                {{'Support'|translate}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>