<div class="row">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-icon card-header-info">
        <div class="card-icon">
          <i class="material-icons">book</i>
        </div>
       <strong><h4 class="card-title">{{'BOX.Details'|translate}}</h4></strong>
      </div>
      <div class="card-body">
        <form [formGroup]="boxForm" (ngSubmit)="boxFormSubmit()" method="post">
          <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
              <mat-form-field>
                <input type="text" id="boxName" name="boxName" matInput id="text" placeholder="{{'BOX.Name'|translate}}"
                  [value]="selectedBox?.host">
              </mat-form-field>
            </div>
          </div>
          <div class="row" *ngIf="selectedBox">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="{{'DomainProfiles'|translate}}" [(ngModel)]="selectedBox?.location.profile.id"
                  formControlName="domainProfile">
                  <mat-optgroup [label]="translate('SystemDomainProfiles')">
                    <mat-option [value]="profile.id" *ngFor="let profile of systemProfiles">
                      {{profile.name}}
                    </mat-option>
                  </mat-optgroup>
                  <mat-optgroup [label]="translate('UserDomainProfiles')">
                    <mat-option [value]="profile.id" *ngFor="let profile of userProfiles">
                      {{profile.name}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="{{'ApplicationProfiles'|translate}}" [(ngModel)]="selectedBox?.location.appUserProfile.id"
                  formControlName="appProfile">
                  <mat-optgroup [label]="translate('SystemApplicationProfiles')">
                    <mat-option [value]="profile.id" *ngFor="let profile of applicationSystemProfiles">
                      {{profile.profileName}}
                    </mat-option>
                  </mat-optgroup>
                  <mat-optgroup [label]="translate('UserApplicationProfiles')">
                    <mat-option [value]="profile.id" *ngFor="let profile of applicationUserProfiles">
                      {{profile.profileName}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="{{'BWProfiles'|translate}}" [(ngModel)]="selectedBox?.location.bwList.id"
                  formControlName="bwListProfile">
                  <mat-optgroup [label]="translate('SystemBWProfiles')">
                    <mat-option [value]="profile.id" *ngFor="let profile of systemBWList">
                      {{profile.name}}
                    </mat-option>
                  </mat-optgroup>
                  <mat-optgroup [label]="translate('UserBWProfiles')">
                    <mat-option [value]="profile.id" *ngFor="let profile of userBWList">
                      {{profile.name}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field *ngIf="selectedBox?.location">
                <textarea type="text" id="blockMessage" name="blockMessage" matInput id="text"
                  [(ngModel)]="selectedBox?.location.blockMessage" placeholder="{{'BOX.BlockMessage'|translate}}"
                  formControlName="blockMessage"></textarea>
              </mat-form-field>
              <div class="row">
                <div class="col-md-6">
                  <div class="togglebutton">
                    <label>Captive Portal
                      <ng-container *ngIf="selectedBox?.isCaptivePortal; else elseTemplate">
                        <input type="checkbox" checked (change)="manageETV()" formControlName="isCaptivePortal">
                        <span class="toggle"></span> On
                      </ng-container>
                      <ng-template #elseTemplate>
                        <input type="checkbox" (change)="manageETV()" formControlName="isCaptivePortal">
                        <span class="toggle"></span> Off
                      </ng-template>
                    </label>
                  </div>
                  <div *ngIf="selectedBox?.isCaptivePortal">
                    <mat-form-field class="example-full-width has-label" style="width:100%;">
                      <input type="text" maxlength="15" name="etvIp" (keydown)="checkIPNumber($event, etvIp)"
                        placeholder="{{'BOX.DeviceLANIp'|translate}}" matInput [(ngModel)]="etvIp" formControlName="etvIp">
                      <mat-error *ngIf="boxForm.get('etvIp').hasError('required')">
                        {{'EnterAValidIp'|translate}}: <strong>127.0.0.1</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col text-right ml-auto">
              <button type="submit" class="btn btn-info">{{'Save'|translate}}</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>