.card-login
  margin-top: 30%

.card-login-title
  margin-bottom: 17%

.login-btns
  width: 60%
  min-width: 100px
  height: 50px
  background-color: #4353ff

.formInput
  height: 50px;
  width: 100%;
  background-color: #e9ecef;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  padding: 1px 0 1px 20px;

.formInputHasError
  border: 1px solid red;

.formInput:focus
  background-color: #ffffff;