<div class="container-fluid">
  <div class="row wrapper-full-page" style="background-color: white !important;">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <div class="row" style="min-height: 91vh;">
            <div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">
              <div class="card-login">
                <div class="card-login-title text-center">
                  <img src="/assets/img/{{host.logoImage}}" style="max-height: 40px;" />
                </div>
                <div class="card-body">
                  <div id="loginDiv">
                    <form [formGroup]="loginForm" ng-submit="loginform.$valid && loginForm.submit()">

                      <input type="email" class="formInput" placeholder="E-mail" [(ngModel)]="email"
                        [ngClass]="{'formInputHasError': isFailed}" (ngModelChange)="emailValidationLogin($event)"
                        formControlName="email">

                      <input type="password" class="formInput mt-3" placeholder="{{'LOGIN.Password' | translate}}"
                        [ngClass]="{'formInputHasError': isFailed}" [(ngModel)]="password" formControlName="password">


                      <div class="mt-1">
                        <a class="login-link" (click)="openForgotPassword()">{{'FORGOTPASSWORD.Title' | translate }}</a>
                      </div>
                      <div class="form-group text-center d-flex align-items-center flex-column">
                        <br />
                        <p style="color: red;" *ngIf="isFailed">{{ 'LOGIN.WrongEmailOrPassword' | translate }} </p>
                        <button class="btns login-btns" (click)="login()">
                          {{'LOGIN.Login'|translate}}
                        </button>
                        <a class="nav-link mt-1" [routerLink]="['/register']" style="color: #4353ff; font-weight: 500;">
                          {{'LOGIN.SignupForFreeTrial'|translate}}
                        </a>
                        <div class="row">
                          <div *ngIf="isIEOrEdge" class="col-12 text-center" style="color: gray; font-size: 12px;">
                            {{'UseChromeFirefoxOpera'|translate}}
                          </div>
                          <div class="col-12 text-center" style="color: white">
                            version:{{environment.version}}
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div id="forgotPasswordDiv" style="display:none">
                    <input type="email" class="formInput mb-3" placeholder="{{'LOGIN.Email' | translate}} *"
                      [(ngModel)]="forgoterEmail" (ngModelChange)="emailValidationLogin($event)">
                    <div>
                      <re-captcha [siteKey]="captcha_key" (resolved)="handleCaptcha($event)">
                      </re-captcha>
                    </div>
                    <div class="mt-2"><a class="login-link" (click)="openLogin()"> {{'LOGIN.Login'|translate}}</a></div>
                    <div class="text-center">
                      <br />
                      <button class="btns btn-info login-btns" (click)="sendPasswordActivationCode()">
                        {{'REGISTER.SendActivationCode'|translate}}</button>
                    </div>
                  </div>

                  <div id="twoFactorDiv" class="text-success text-center" style="display:none;"
                    (keydown)="checkInput($event)">
                    <countdown *ngIf="countdownConfig" #cd [config]="countdownConfig" style="font-size: 25px; font-weight: 500;" (event)="timeEnd($event)"></countdown>
                    <input class="formInput w-100 mb-2" [(ngModel)]="twoFactorPhoneClone" readonly>

                    <input type="text" class="formInput w-100 mb-2" placeholder="SMS Code" [(ngModel)]="smsCode">

                    <div class="text-center">
                      <button class="btns login-btns" (click)="confirm2FACode()">{{'REGISTER.ConfirmSMS' |
                        translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ml-auto mr-auto" style="width: 40%;">
              <app-footer-cmp></app-footer-cmp>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 order-first order-md-2"
      style="background-image: url(./assets/img/loginbg.png);background-size: cover;background-position: top center; min-height: 250px;">
      <img src="/assets/img/CyberCyte_white.png" *ngIf="host.brand=='CyberCyte'"
        style="position: absolute; bottom: 5%; right: 7%;" />
    </div>
  </div>
</div>