<!DOCTYPE html>
<!-- <rok-spinner [component]="component" [spinnerService]="spinnerService"></rok-spinner> -->

<div class="grid-item grid-stack-item" #component>
  <div class="grid-stack-item-content">
    <div class="box-info full" style="border: 1px solid #7b7b7b;">
      <div class="title">
        <div class="title-inner">
          <span class="pull-left"><i class="{{icon}}" aria-hidden="true" style="position: relative; top: 2px;padding-left: 5px"></i></span>
          <h4 style="padding: 1px 0px 8px 10px; margin: 1px 0px 0px 0px;">
            <strong style="padding-left: 20px">{{name}}</strong>
          </h4>

        </div>
        <span class="additional-btn" style="padding-right: 5px;padding-top: 3px;">
          <!-- <a class="additional-icon" href="#fakelink" ><i class="fa fa-question-circle"></i></a>
                        -->
          <a class="additional-icon" (click)="refresh()"><i class="fa fa-refresh"></i></a>
          <a class="additional-icon" id="dropdownMenu1" data-toggle="modal" data-target="#settingModal" (click)="setCurrentSetting()">
            <i class="fa fa-cog"></i>
          </a>
          <!-- <a class="additional-icon" href="#fakelink" data-toggle="collapse" data-target="#website-statistic"><i
                   class="fa fa-chevron-down"></i></a>
           -->
          <a class="additional-icon" (click)="removePanel()"><i class="fa fa-times"></i></a>

        </span>
      </div>
      <div #graphComponent class="histogram-chart" *ngIf="!sparkline">

      </div>

      <div *ngIf="sparkline" class="panel-spline">

        <div class="pad-all">
          <p class="text-lg text-semibold"><i class="demo-pli-bag-coins icon-fw"></i> {{name}}</p>
          <p class="mar-no">
            <span class="pull-right text-bold">None</span>
            Today
          </p>
          <p class="mar-no">
            <span class="pull-right text-bold">None</span>
            Last 7 Day
          </p>
        </div>

        <div #graphComponent>

        </div>

      </div>
      <div class="clear"></div>

    </div>
  </div>
</div>