.clientsPanel
  width: 100%
  left: 0
  top: 0
  position: absolute

.wizardPanel
  width: 100%
  right: 0
  top: 0
  position: absolute

.options
  width: 40px
  border: none

.single-row
  display: inline-block !important
  width: fit-content !important
  flex: 0 !important
