<div class="rk-base-card">
  <div class="card-item">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0 d-flex align-items-center justify-content-between">
          <h5 class="page-title">{{'RoamingClients'|translate}}</h5>

          <div>
            <button class="btn btn-icon btn-small mr-2" (click)="downloadFile()">
              <i-feather name="arrow-down"></i-feather>
              {{'Download'|translate}}
            </button>

            <button class="btn btn-icon btn-small mr-2" (click)="copyLink()">
              <i-feather name="arrow-down"></i-feather>
              {{'CopyDownloadLink'|translate}}
            </button>

            <button class="btn btn-icon btn-small" (click)="configureModal.toggle()">
              <i-feather name="settings"></i-feather>
              {{'Settings'|translate}}
            </button>
          </div>
        </div>

        <rk-modal #configureModal>
          <rk-modal-header>
            <rk-modal-header-title>
              <h5>{{'ConfigureRoamingClients'|translate}}</h5>
            </rk-modal-header-title>

            <rk-modal-header-close (click)="configureModal.toggle()"></rk-modal-header-close>
          </rk-modal-header>

          <rk-modal-body>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 mt-3">
                  <div class="rk-group-title">{{'DontTouchDomains'|translate}}</div>
                  <p class="rk-description">
                    {{'DontTouchDomainsDescription'|translate}}
                  </p>

                  <div class="input-container">
                    <input type="text" placeholder="Domain" [(ngModel)]="domain" class="rk-input w-100">

                    <button class="btn btn-small ml-1" style="width: 60px" (click)="addDomainToList()">{{'Add'|translate}}</button>
                  </div>

                  <div class="cards mt-3">
                    <div class="card gray-card" *ngFor="let domain of dontDomains; let index = index">
                      <div class="card-content">
                        <h6 class="title">{{ domain }}</h6>
                      </div>

                      <div class="card-close" (click)="removeElementFromDomainList(index)">
                        <i-feather name="trash-2"></i-feather>
                      </div>
                    </div>
                  </div>
                </div>

              
              </div>
            </div>
          </rk-modal-body>
        </rk-modal>

        <rk-modal #roamingClientModal>
          <rk-modal-header>
            <rk-modal-header-title>
              <h5>{{'RoamingClientsEdit'|translate}}</h5>
            </rk-modal-header-title>

            <rk-modal-header-close (click)="roamingClientModal.toggle()"></rk-modal-header-close>
          </rk-modal-header>

          <rk-modal-body>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <input type="text" class="rk-input w-100" placeholder="Name" [(ngModel)]="selectedClient.agentAlias">
                </div>

                <div class="col-12 mt-3">
                  <input type="text" class="rk-input w-100" placeholder="Block Message" [(ngModel)]="selectedClient.blockMessage">
                </div>

                <div class="col-12 mt-3">
                  <rk-select [options]="securityProfilesForSelect" (valueChange)="profileSelectChange($event)" [(value)]="selectedClient.rootProfile.id"></rk-select>
                </div>
              </div>
            </div>
          </rk-modal-body>

          <rk-modal-footer>
            <button class="btn btn-small w-100 mr-2" (click)="saveRoamingClient()">{{'Apply'|translate}}</button>
            <button class="btn btn-small w-100 btn-default" (click)="roamingClientModal.toggle()">{{'Close'|translate}}</button>
          </rk-modal-footer>
        </rk-modal>

        <rk-modal #groupModal>
          <rk-modal-header>
            <rk-modal-header-title>
              <h5>{{ (groupOperation == 'Edit'? 'EditGroup' : 'CreateNewGroup')|translate}}</h5>
            </rk-modal-header-title>

            <rk-modal-header-close (click)="groupModal.toggle()"></rk-modal-header-close>
          </rk-modal-header>

          <rk-modal-body>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 mt-3">
                  <input type="text" class="rk-input w-100" placeholder="Group Name" [(ngModel)]="groupName">
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-3">
                  <h5 class="rk-group-title">{{'SelectDevicesToJoinGroup'|translate}}</h5>
                </div> 
                <div class="col-12 mt-2" *ngIf="groupOperation=='Edit'" >
                  <h6 class="rk-title mb-2">{{'OtherGroupMembers'|translate}}</h6>

                 <table class="table small-table table-borderless">
                    <thead>
                      <tr>
                        <th>{{'HostName'|translate}}</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of groupMembers">
                        <td>{{ item.agentAlias }}</td>
                       
                        <td class="text-right">
                          <rk-checkbox size="sm" [(value)]="item.selected"></rk-checkbox>
                        </td>
                      </tr>

                      <tr *ngIf="groupMembers?.length == 0">
                        <td colspan="4">
                          {{'NoData'|translate}}
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                </div>
                <div class="col-12 mt-2" >
                  <h6 class="rk-title mb-2">{{'NoGroupMembers'|translate}}</h6>

                 <table class="table small-table table-borderless">
                    <thead>
                      <tr>
                        <th>{{'HostName'|translate}}</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of noGroupedClients">
                        <td>{{ item.agentAlias }}</td>
                       
                        <td class="text-right">
                          <rk-checkbox size="sm" [(value)]="item.selected"></rk-checkbox>
                        </td>
                      </tr>

                      <tr *ngIf="noGroupedClients?.length == 0">
                        <td colspan="4">
                          {{'NoData'|translate}}
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                </div>
              </div>

            </div>
            

          </rk-modal-body>

          <rk-modal-footer>
            <button class="btn btn-small w-100 mr-2" (click)="saveOrUpdateGroup()">{{'Apply'|translate}}</button>
            <button class="btn btn-small btn-default w-100" (click)="groupModal.toggle()" >{{'Close'|translate}}</button>
          </rk-modal-footer>
        </rk-modal>



        <rk-modal #changeGroupModal>
          <rk-modal-header icon="plus">
            <rk-modal-header-title>
              <h5>{{'ChangeGroup'|translate}}</h5>
            </rk-modal-header-title>
            <rk-modal-header-close (click)="changeGroupModal.toggle()"></rk-modal-header-close>
          </rk-modal-header>

          <rk-modal-body>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 mt-3 d-flex align-items-center justify-content-between">
                  <rk-select [options]="groupListForSelect" [(value)]="selectedGroupName"  (valueChange)="groupSelectChange($event)" class="w-100" >
                  </rk-select>

                 
                </div>
              </div>

              <div class="row">
                <div class="col-12 mt-3">
                  <h5 class="rk-group-title">{{'SelectDevicesToJoinGroup'|translate}}</h5>
                </div> 
                <div class="col-12 mt-2"  >
                  <h6 class="rk-title mb-2">{{'GroupMembers'|translate}}</h6>

                 <table class="table small-table table-borderless">
                    <thead>
                      <tr>
                        <th>{{'HostName'|translate}}</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of selectedAgentsForChangeAddGroup">
                        <td>{{ item.agentAlias }}</td>
                       
                        <td class="text-right">
                          <rk-checkbox size="sm" [(value)]="item.selected"></rk-checkbox>
                        </td>
                      </tr>

                      <tr *ngIf="selectedAgentsForChangeAddGroup?.length == 0">
                        <td colspan="4">
                          {{'NoData'|translate}}
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                </div>
              
              </div>

            </div>
            

          </rk-modal-body>

          <rk-modal-footer>
            <button class="btn btn-small w-100 mr-2" (click)="saveChangedGroup()">{{'Apply'|translate}}</button>
            <button class="btn btn-small btn-default w-100" (click)="changeGroupModal.toggle()" >{{'Close'|translate}}</button>
          </rk-modal-footer>
        </rk-modal>


        <div class="col-12 p-0 mt-3">
          <rk-table-container class="m-0">
            <div class="rk-table-container-header">
              <div class="top-content justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="inf mr-4">
                    <span class="text-primary">{{ clientsFiltered?.length }} </span>
                    {{'QueriesListed'|translate}}
                  </div>

                  <div class="search ml-5">
                    <div class="rk-autocomplete-container" style="width: 220px;">
                      <input type="text" placeholder="Search" [(ngModel)]="searchKey" class="rk-input rk-autocomplete">
                      <i-feather class="search-icon" name="search"></i-feather>
                    </div>
                  </div>
                </div>

                <div>
                  <button class="btn btn-small mr-2" (click)="openChangeGroup()">
                    {{'ChangeGroup'|translate}}
                  </button>

                  <button class="btn btn-small" (click)="openChangeGroup()">
                    {{'AddToGroup'|translate}}
                  </button>
                </div>
              </div>
            </div>

            <rk-table [showPagination]="false">
              <ng-template #header>
                <tr>
                  <th>
                    <rk-checkbox (valueChange)="clientsTableCheckboxChanged($event)"></rk-checkbox>
                  </th>
                  <th>{{'DeviceName'|translate}}</th>
                  <th>{{'SecurityProfile'|translate}}</th>
                  <th>{{'GroupName'|translate}}</th>
                  <th colspan="2">{{'Operation'|translate}}</th>
                </tr>
              </ng-template>

              <ng-template #body>
                <tr *ngFor="let c of clientsFiltered | filter: searchKey : 'agentAlias'">
                  <td style="width: 60px">
                    <rk-checkbox [(value)]="c.selected"></rk-checkbox>
                  </td>
                  <td>{{ c.agentAlias }}</td>
                  <td>{{ c.rootProfile.name }}</td>
                  <td>{{ c?.agentGroup?.groupName ? c?.agentGroup?.groupName : ('NoGroup'|translate) }}</td>
                  <td style="width: 60px">
                    <button class="btn btn-link btn-icon p-0 hover-gray bg-transparent" (click)="editClient(c)">
                      <i-feather name="edit-3"></i-feather>
                    </button>
                  </td>
                  <td style="width: 60px">
                    <button class="btn btn-link btn-icon p-0 hover-gray bg-transparent" (click)="deleteClient(c.id)">
                      <i-feather name="trash-2"></i-feather>
                    </button>
                  </td>
                </tr>

                <tr *ngIf="clientsFiltered?.length === 0">
                  <td colspan="5">{{'NoData'|translate}}</td>
                </tr>
              </ng-template>
            </rk-table>
          </rk-table-container>
        </div>

        <div class="col-12 p-0 mt-3">
          <rk-table-container class="m-0">
            <div class="rk-table-container-header">
              <div class="top-content justify-content-between">
                <div class="rk-table-title">{{'GroupAgent'|translate}}</div>

                <button class="btn btn-small btn-icon" (click)="openCreateGroup()">
                  <i-feather name="plus"></i-feather>
                  {{'CreateNewGroup'|translate}}
                </button>
              </div>
            </div>

            <rk-table [showPagination]="false">
              <ng-template #header>
                <tr>
                  <th>{{'GroupName'|translate}}</th>
                  <th>{{'MemberCount'|translate}}</th>
                  <th>{{'SecurityProfile'|translate}}</th>
                  <th colspan="2">{{'Operation'|translate}}</th>
                </tr>
              </ng-template>

              <ng-template #body>
                <tr *ngFor="let item of groupedClients">
                  <td>{{ item.agentGroup.groupName }}</td>
                  <td>{{ item.memberCounts }}</td>
                  <td>{{ item.securityProfile.name }}</td>
                  <td style="width: 60px">
                    <button class="btn btn-link btn-icon p-0 hover-gray" (click)="openUpdateGroup(item.agents)">
                      <i-feather name="edit-3"></i-feather>
                    </button>
                  </td>
                  <td style="width: 60px">
                    <button class="btn btn-link btn-icon p-0 hover-gray" (click)="deleteGroup(item.agents)">
                      <i-feather name="trash-2"></i-feather>
                    </button>
                  </td>
                </tr>

                <tr *ngIf="groupedClients?.length === 0">
                  <td colspan="5">{{'NoData'|translate}}</td>
                </tr>
              </ng-template>
            </rk-table>
          </rk-table-container>
        </div>

      </div>
    </div>
  </div>
</div>
