<div class="rk-base-card">
  <div class="card-item">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0 d-flex align-items-center justify-content-between">
          <h5 class="page-title">Roaming Clients</h5>

          <div>
            <button class="btn btn-icon btn-small mr-2" (click)="downloadFile()">
              <i-feather name="arrow-down"></i-feather>
              Download
            </button>

            <button class="btn btn-icon btn-small mr-2" (click)="copyLink()">
              <i-feather name="arrow-down"></i-feather>
              Copy Download Link
            </button>

            <button class="btn btn-icon btn-small" (click)="configureModal.toggle()">
              <i-feather name="settings"></i-feather>
              Settings
            </button>
          </div>
        </div>

        <rk-modal #configureModal>
          <rk-modal-header>
            <rk-modal-header-title>
              <h5>Configure Roaming Clients</h5>
            </rk-modal-header-title>

            <rk-modal-header-close (click)="configureModal.toggle()"></rk-modal-header-close>
          </rk-modal-header>

          <rk-modal-body>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 mt-3">
                  <div class="rk-group-title">Dont Touch Domains</div>
                  <p class="rk-description">
                    *Enter a dont touch domains. Dont touch domains not encrypt by agent. Local active directory
                    domainlerinin eklenmesi gerekir.
                  </p>

                  <div class="input-container">
                    <input type="text" placeholder="Domain" [(ngModel)]="domain" class="rk-input w-100">

                    <button class="btn btn-small ml-1" style="width: 60px" (click)="addDomainToList()">Add</button>
                  </div>

                  <div class="cards mt-3">
                    <div class="card gray-card" *ngFor="let domain of dontDomains; let index = index">
                      <div class="card-content">
                        <h6 class="title">{{ domain }}</h6>
                      </div>

                      <div class="card-close" (click)="removeElementFromDomainList(index)">
                        <i-feather name="trash-2"></i-feather>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-12 mt-3">
                  <div class="rk-group-title">Agent Activity On Local Network</div>

                  <div class="d-flex my-2">
                    <rk-toggle-button clickClose="true" (click)="alwaysActiveChanged()" [active]="alwaysActive"
                      [toggleTexts]="{ pos: 'Always Active', neg: 'Always Active' }" class="w-100 mr-2">
                    </rk-toggle-button>

                    <rk-toggle-button clickClose="true" (click)="disabledNetworkChanged()" [active]="disabledNetwork"
                      [toggleTexts]="{ pos: 'Disable On Local Network', neg: 'Disable On Local Network' }"
                      class="w-100">
                    </rk-toggle-button>
                  </div>

                  <p class="rk-description">
                    *Local ağa giren roaming clientlar üzerindeki ajanın pasif duruma geçmesi için “Disable On Local
                    Network” seçilmeli. Ajan local ağa girdiğini aşağıdaki local dns sunuculara istek göndererek test
                    eder.
                  </p>

                  <div class="input-container">
                    <label class="rk-input-label" for="localdns1">Local DNS 1</label>
                    <input type="text" class="rk-input w-100" id="localdns1" placeholder="IP Adress" disabled>
                  </div>

                  <div class="input-container mt-2">
                    <label class="rk-input-label" for="localdns2">Local DNS 2</label>
                    <input type="text" class="rk-input w-100" id="localdns2" placeholder="IP Adress" disabled>
                  </div>

                  <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-small btn-accent" disabled>Apply</button>
                  </div>

                </div> -->
              </div>
            </div>
          </rk-modal-body>
        </rk-modal>

        <rk-modal #roamingClientModal>
          <rk-modal-header>
            <rk-modal-header-title>
              <h5>Roaming Clients Edit</h5>
            </rk-modal-header-title>

            <rk-modal-header-close (click)="roamingClientModal.toggle()"></rk-modal-header-close>
          </rk-modal-header>

          <rk-modal-body>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <input type="text" class="rk-input w-100" placeholder="Name" [(ngModel)]="selectedClient.agentAlias">
                </div>

                <div class="col-12 mt-3">
                  <input type="text" class="rk-input w-100" placeholder="Block Message" [(ngModel)]="selectedClient.blockMessage">
                </div>

                <div class="col-12 mt-3">
                  <rk-select [options]="securityProfilesForSelect" (valueChange)="profileSelectChange($event)" [(value)]="selectedClient.rootProfile.id"></rk-select>
                </div>
              </div>
            </div>
          </rk-modal-body>

          <rk-modal-footer>
            <button class="btn btn-small w-100 mr-2" (click)="saveRoamingClient()">Apply</button>
            <button class="btn btn-small w-100 btn-default" (click)="roamingClientModal.toggle()">Clear</button>
          </rk-modal-footer>
        </rk-modal>

        <rk-modal #groupModal>
          <rk-modal-header>
            <rk-modal-header-title>
              <h5>{{ groupOperation == 'Edit'?'Edit' : 'Create New'}} Group</h5>
            </rk-modal-header-title>

            <rk-modal-header-close (click)="groupModal.toggle()"></rk-modal-header-close>
          </rk-modal-header>

          <rk-modal-body>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 mt-3">
                  <input type="text" class="rk-input w-100" placeholder="Group Name" [(ngModel)]="groupName">
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-3">
                  <h5 class="rk-group-title">Select Devices to Join Group</h5>
                </div> 
                <div class="col-12 mt-2" *ngIf="groupOperation=='Edit'" >
                  <h6 class="rk-title mb-2">Other Group Members</h6>

                 <table class="table small-table table-borderless">
                    <thead>
                      <tr>
                        <th>Host Name</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of groupMembers">
                        <td>{{ item.agentAlias }}</td>
                       
                        <td class="text-right">
                          <rk-checkbox size="sm" [(value)]="item.selected"></rk-checkbox>
                        </td>
                      </tr>

                      <tr *ngIf="groupMembers?.length == 0">
                        <td colspan="4">
                          Herhangi bir veri bulunamadı.
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                </div>
                <div class="col-12 mt-2" >
                  <h6 class="rk-title mb-2">No Group Members</h6>

                 <table class="table small-table table-borderless">
                    <thead>
                      <tr>
                        <th>Host Name</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of noGroupedClients">
                        <td>{{ item.agentAlias }}</td>
                       
                        <td class="text-right">
                          <rk-checkbox size="sm" [(value)]="item.selected"></rk-checkbox>
                        </td>
                      </tr>

                      <tr *ngIf="noGroupedClients?.length == 0">
                        <td colspan="4">
                          Herhangi bir veri bulunamadı.
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                </div>
              </div>

            </div>
            

          </rk-modal-body>

          <rk-modal-footer>
            <button class="btn btn-small w-100 mr-2" (click)="saveOrUpdateGroup()">Apply</button>
            <button class="btn btn-small btn-default w-100" (click)="cleanNewGroup()" >Close</button>
          </rk-modal-footer>
        </rk-modal>



        <rk-modal #changeGroupModal>
          <rk-modal-header icon="plus">
            <rk-modal-header-title>
              <h5>Change Group</h5>
            </rk-modal-header-title>
            <rk-modal-header-close (click)="changeGroupModal.toggle()"></rk-modal-header-close>
          </rk-modal-header>

          <rk-modal-body>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 mt-3 d-flex align-items-center justify-content-between">
                  <rk-select [options]="groupListForSelect" [(value)]="selectedGroupName"  (valueChange)="groupSelectChange($event)" class="w-100" >
                  </rk-select>

                 
                </div>
              </div>

              <div class="row">
                <div class="col-12 mt-3">
                  <h5 class="rk-group-title">Select Devices to Join Group</h5>
                </div> 
                <div class="col-12 mt-2"  >
                  <h6 class="rk-title mb-2">Group Members</h6>

                 <table class="table small-table table-borderless">
                    <thead>
                      <tr>
                        <th>Host Name</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of selectedAgentsForChangeAddGroup">
                        <td>{{ item.agentAlias }}</td>
                       
                        <td class="text-right">
                          <rk-checkbox size="sm" [(value)]="item.selected"></rk-checkbox>
                        </td>
                      </tr>

                      <tr *ngIf="selectedAgentsForChangeAddGroup?.length == 0">
                        <td colspan="4">
                          Herhangi bir veri bulunamadı.
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                </div>
              
              </div>

            </div>
            

          </rk-modal-body>

          <rk-modal-footer>
            <button class="btn btn-small w-100 mr-2" (click)="saveChangedGroup()">Apply</button>
            <button class="btn btn-small btn-default w-100" (click)="changeGroupModal.toggle()" >Close</button>
          </rk-modal-footer>
        </rk-modal>


        <div class="col-12 p-0 mt-3">
          <rk-table-container class="m-0">
            <div class="rk-table-container-header">
              <div class="top-content justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="inf mr-4">
                    <span class="text-primary">{{ clientsFiltered?.length }} </span>
                    queries listed
                  </div>

                  <div class="search ml-5">
                    <div class="rk-autocomplete-container" style="width: 220px;">
                      <input type="text" placeholder="Search" [(ngModel)]="searchKey" class="rk-input rk-autocomplete">
                      <i-feather class="search-icon" name="search"></i-feather>
                    </div>
                  </div>
                </div>

                <div>
                  <button class="btn btn-small mr-2" (click)="openChangeGroup()">
                    Change Group
                  </button>

                  <button class="btn btn-small" (click)="openChangeGroup()">
                    Add to Group
                  </button>
                </div>
              </div>
            </div>

            <rk-table [showPagination]="false">
              <ng-template #header>
                <tr>
                  <th>
                    <rk-checkbox (valueChange)="clientsTableCheckboxChanged($event)"></rk-checkbox>
                  </th>
                  <th>Device Name</th>
                  <th>Profile</th>
                  <th>Group Name</th>
                  <th colspan="2">Operation</th>
                </tr>
              </ng-template>

              <ng-template #body>
                <tr *ngFor="let c of clientsFiltered | filter: searchKey : 'agentAlias'">
                  <td style="width: 60px">
                    <rk-checkbox [(value)]="c.selected"></rk-checkbox>
                  </td>
                  <td>{{ c.agentAlias }}</td>
                  <td>{{ c.rootProfile.name }}</td>
                  <td>{{ c?.agentGroup?.groupName ? c?.agentGroup?.groupName : 'No Group' }}</td>
                  <td style="width: 60px">
                    <button class="btn btn-link btn-icon p-0 hover-gray bg-transparent" (click)="editClient(c)">
                      <i-feather name="edit-3"></i-feather>
                    </button>
                  </td>
                  <td style="width: 60px">
                    <button class="btn btn-link btn-icon p-0 hover-gray bg-transparent" (click)="deleteClient(c.id)">
                      <i-feather name="trash-2"></i-feather>
                    </button>
                  </td>
                </tr>

                <tr *ngIf="clientsFiltered?.length === 0">
                  <td colspan="5">Herhangi bir veri bulunamadı.</td>
                </tr>
              </ng-template>
            </rk-table>
          </rk-table-container>
        </div>

        <div class="col-12 p-0 mt-3">
          <rk-table-container class="m-0">
            <div class="rk-table-container-header">
              <div class="top-content justify-content-between">
                <div class="rk-table-title">Group Agent</div>

                <button class="btn btn-small btn-icon" (click)="openCreateGroup()">
                  <i-feather name="plus"></i-feather>
                  Create New Group
                </button>
              </div>
            </div>

            <rk-table [showPagination]="false">
              <ng-template #header>
                <tr>
                  <th>Group</th>
                  <th>Member Count</th>
                  <th>Security Profile</th>
                  <th colspan="2">Operation</th>
                </tr>
              </ng-template>

              <ng-template #body>
                <tr *ngFor="let item of groupedClients">
                  <td>{{ item.agentGroup.groupName }}</td>
                  <td>{{ item.memberCounts }}</td>
                  <td>{{ item.securityProfile.name }}</td>
                  <td style="width: 60px">
                    <button class="btn btn-link btn-icon p-0 hover-gray" (click)="openUpdateGroup(item.agents)">
                      <i-feather name="edit-3"></i-feather>
                    </button>
                  </td>
                  <td style="width: 60px">
                    <button class="btn btn-link btn-icon p-0 hover-gray" (click)="deleteGroup(item.agents)">
                      <i-feather name="trash-2"></i-feather>
                    </button>
                  </td>
                </tr>

                <tr *ngIf="groupedClients?.length === 0">
                  <td colspan="5">Herhangi bir veri bulunamadı.</td>
                </tr>
              </ng-template>
            </rk-table>
          </rk-table-container>
        </div>

      </div>
    </div>
  </div>
</div>
