<div class="rk-base-card">
  <div class="card-item">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0 d-flex align-items-center justify-content-between">
          <h5 class="page-title">{{'Users'|translate}}</h5>

          <button class="btn btn-icon btn-small" (click)="newUserClick()">
            <i-feather name="user"></i-feather>
            {{'CreateNewUser'|translate}}
          </button>
        </div>
      </div>

      <rk-modal #userModal (close)="modalClosed($event)">
        <rk-modal-header icon="plus">
          <rk-modal-header-title>
            <h5>{{ (user.id > 0 ? 'EditUser' : 'CreateNewUser')|translate }} </h5>
          </rk-modal-header-title>

          <rk-modal-header-close (click)="userModal.toggle()"></rk-modal-header-close>
        </rk-modal-header>

        <rk-modal-body>
          <div class="container-fluid">
            <div class="row">
             

              <div class="col-12 mt-3">
                <input type="text" class="rk-input w-100" placeholder=" {{'UserName'|translate}}" minlength="2" [(ngModel)]="user.name">
              </div>

              <div class="col-12 mt-3">
                <input type="text" class="rk-input w-100" placeholder=" {{'Email'|translate}}" [(ngModel)]="user.username">
              </div>

              <div class="col-12 mt-3">
                <rk-select [options]="userRolesForSelect" placeholder=" {{'Role'|translate}}" [value]="selectedRoleId"
                  (valueChange)="roleChange($event)"></rk-select>
              </div>

              <div class="col-12 mt-3">
                <input type="password" class="rk-input w-100" placeholder=" {{'Password'|translate}}" minlength="8"
                  [(ngModel)]="user.password" (ngModelChange)="checkPasswordStrength()">

                <div class="password-strength justify-content-end mt-3">
                  <div [ngClass]="{ active: passwordStrength > 0 }"></div>
                  <div [ngClass]="{ active: passwordStrength > 1 }"></div>
                  <div [ngClass]="{ active: passwordStrength > 2 }"></div>
                  <div [ngClass]="{ active: passwordStrength > 3 }"></div>
                </div>

                <p class="password-text mt-2"> {{'YourPasswordHasToBeAtLeast'|translate}}</p>
              </div>

              <div class="col-12 mt-3" *ngIf="user.id > 0">
                <rk-checkbox class="rk-checkbox-font" [(value)]="user.isActive" (valueChange)="isActiveChanged($event)" alignment="right"> {{'IsActive'|translate}}
                </rk-checkbox>
              </div>

              <div class="col-12 mt-3" *ngIf="user.id > 0">
                <rk-checkbox class="rk-checkbox-font" [(value)]="user.isLocked" (valueChange)="isLockedChanged($event)" alignment="right">{{ 'IsLocked' | translate }}</rk-checkbox>
              </div>

            </div>
          </div>
        </rk-modal-body>

        <rk-modal-footer>
          <button class="btn btn-small w-100 mr-2" (click)="save()"> {{'Save'|translate}}</button>
          <button class="btn btn-small btn-default w-100" (click)="userModal.toggle()"> {{'Close'|translate}}</button>
        </rk-modal-footer>
      </rk-modal>

      <div class="row">
        <div class="col-12 p-0 mt-3">
          <rk-table-container class="m-0">
            <div class="rk-table-container-header">
              <div class="top-content justify-content-start">
                <div class="inf mr-4">
                  <span class="text-primary">{{ users?.length }}</span>  {{'QueriesListed'|translate}}
                </div>

                <div class="search ml-5">
                  <div class="rk-autocomplete-container" style="width: 220px;">
                    <input type="text" placeholder=" {{'Search'|translate}}" [(ngModel)]="searchKey" class="rk-input rk-autocomplete">
                    <i-feather class="search-icon" name="search"></i-feather>
                  </div>
                </div>
              </div>
            </div>

            <rk-table [showPagination]="false" [info]="true">
              <ng-template #header>
                <tr>
                  <th
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    {{'User'|translate}}</th>
                  <th
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    {{'Email'|translate}}</th>
                  <th
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    {{'Role'|translate}}</th>
                  <th class="text-center"
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    {{'IsActive'|translate}}</th>
                  <th class="text-center"
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    {{'IsVerified'|translate}}</th>
                  <th class="text-center"
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    {{'IsLocked'|translate}}</th>
                  <th
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    {{'Edit'|translate}}</th>
                </tr>
              </ng-template>

              <ng-template #body>
                <tr *ngFor="let user of users | filter: searchKey: 'username'">
                  <td>{{ user?.name }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ userFriendlyRoleName(user.roles[0].name) }}</td>
                  <td class="text-center" style="width: 70px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path [attr.fill]="user.isActive ? '#28A745' : '#97A5BB'" fill-rule="evenodd"
                        d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1zm2.637 8.06l-3.887 3.77-1.387-1.346A1 1 0 1 0 7.97 12.92l2.083 2.02a1 1 0 0 0 1.392 0l4.583-4.444a1 1 0 0 0-1.392-1.436z" />
                    </svg>
                  </td>
                  <td class="text-center" style="width: 100px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path [attr.fill]="user.isVerified === 1 ? '#28A745' : '#97A5BB'" fill-rule="evenodd"
                        d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1zm2.637 8.06l-3.887 3.77-1.387-1.346A1 1 0 1 0 7.97 12.92l2.083 2.02a1 1 0 0 0 1.392 0l4.583-4.444a1 1 0 0 0-1.392-1.436z" />
                    </svg>
                  </td>
                  <td class="text-center" style="width: 100px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path [attr.fill]="user.isLocked === 1 ? '#28A745' : '#97A5BB'" fill-rule="evenodd"
                        d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1zm2.637 8.06l-3.887 3.77-1.387-1.346A1 1 0 1 0 7.97 12.92l2.083 2.02a1 1 0 0 0 1.392 0l4.583-4.444a1 1 0 0 0-1.392-1.436z" />
                    </svg>
                  </td>
                  <td style="width: 60px">
                    <button class="btn btn-link btn-icon p-0 hover-gray" (click)="editUserClick(user)">
                      <i-feather name="edit-3"></i-feather>
                    </button>
                  </td>
                </tr>

                <tr *ngIf="users.length === 0">
                  <td colspan="5"> {{'NoData'|translate}}</td>
                </tr>
              </ng-template>
            </rk-table>
          </rk-table-container>
        </div>
      </div>
    </div>
  </div>
</div>
