<div class="rk-base-card">
  <div class="card-item">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0 d-flex align-items-center justify-content-between">
          <h5 class="page-title">Users</h5>

          <button class="btn btn-icon btn-small" (click)="newUserClick()">
            <i-feather name="user"></i-feather>
            Create New User
          </button>
        </div>
      </div>

      <rk-modal #userModal (close)="modalClosed($event)">
        <rk-modal-header icon="plus">
          <rk-modal-header-title>
            <h5>{{ user.id > 0 ? 'Edit' : 'Create New' }} User</h5>
          </rk-modal-header-title>

          <rk-modal-header-close (click)="userModal.toggle()"></rk-modal-header-close>
        </rk-modal-header>

        <rk-modal-body>
          <div class="container-fluid">
            <div class="row">
              <!-- <div class="col-12 d-flex justify-content-center">
                  <input type="file" class="input-file" id="fileUpload" (change)="selectFile($event)"
                    accept="image/*">
                  <label for="fileUpload" class="mx-auto d-flex flex-column align-items-center">
                    <figure>
                      <ng-container *ngIf="selectedUser.image; else elseTemplateLogo">
                        <img src="{{ selectedUser.image }}" class="w-100" accept="image/png, image/jpeg">
                      </ng-container>
                      <ng-template #elseTemplateLogo>
                        <div class="file-upload mx-auto">
                          <i-feather name="plus"></i-feather>
                        </div>
                      </ng-template>
                    </figure>
                    <span class="file-upload-text">Profile images</span>
                  </label>
                </div> -->

              <div class="col-12 mt-3">
                <input type="text" class="rk-input w-100" placeholder="User Name" minlength="2" [(ngModel)]="user.name">
              </div>

              <div class="col-12 mt-3">
                <input type="text" class="rk-input w-100" placeholder="Email" [(ngModel)]="user.username">
              </div>

              <div class="col-12 mt-3">
                <rk-select [options]="userRolesForSelect" placeholder="Role" [value]="selectedRoleId"
                  (valueChange)="roleChange($event)"></rk-select>
              </div>

              <div class="col-12 mt-3">
                <input type="password" class="rk-input w-100" placeholder="Password" minlength="8"
                  [(ngModel)]="user.password" (ngModelChange)="checkPasswordStrength()">

                <div class="password-strength justify-content-end mt-3">
                  <div [ngClass]="{ active: passwordStrength > 0 }"></div>
                  <div [ngClass]="{ active: passwordStrength > 1 }"></div>
                  <div [ngClass]="{ active: passwordStrength > 2 }"></div>
                  <div [ngClass]="{ active: passwordStrength > 3 }"></div>
                </div>

                <p class="password-text mt-2">* Your password has to be at least 8 characters with at least one upper
                  case, one lower case, one
                  number.</p>
              </div>

              <div class="col-12 mt-3" *ngIf="user.id > 0">
                <rk-checkbox class="rk-checkbox-font" [(value)]="user.isActive" alignment="right">Is Active
                </rk-checkbox>
              </div>

            </div>
          </div>
        </rk-modal-body>

        <rk-modal-footer>
          <button class="btn btn-small w-100 mr-2" (click)="save()">Save</button>
          <button class="btn btn-small btn-default w-100" (click)="clean()">Clean</button>
        </rk-modal-footer>
      </rk-modal>

      <div class="row">
        <div class="col-12 p-0 mt-3">
          <rk-table-container class="m-0">
            <div class="rk-table-container-header">
              <div class="top-content justify-content-start">
                <div class="inf mr-4">
                  <span class="text-primary">{{ users?.length }}</span> queries listed
                </div>

                <div class="search ml-5">
                  <div class="rk-autocomplete-container" style="width: 220px;">
                    <input type="text" placeholder="Search" [(ngModel)]="searchKey" class="rk-input rk-autocomplete">
                    <i-feather class="search-icon" name="search"></i-feather>
                  </div>
                </div>
              </div>
            </div>

            <rk-table [showPagination]="false" [info]="true">
              <ng-template #header>
                <tr>
                  <th
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    User</th>
                  <th
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    Email</th>
                  <th
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    Role</th>
                  <th
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    Is Active</th>
                  <th
                    style="border-top: 1px solid #eeeff2 !important;background: rgba(137, 142, 164, 0.05) !important;">
                    Edit</th>
                </tr>
              </ng-template>

              <ng-template #body>
                <tr *ngFor="let user of users | filter: searchKey: 'username'">
                  <td>{{ user?.name }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ userFriendlyRoleName(user.roles[0].name) }}</td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path [attr.fill]="user.isActive ? '#28A745' : '#97A5BB'" fill-rule="evenodd"
                        d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1zm2.637 8.06l-3.887 3.77-1.387-1.346A1 1 0 1 0 7.97 12.92l2.083 2.02a1 1 0 0 0 1.392 0l4.583-4.444a1 1 0 0 0-1.392-1.436z" />
                    </svg>
                  </td>
                  <td style="width: 60px">
                    <button class="btn btn-link btn-icon p-0 hover-gray" (click)="editUserClick(user)">
                      <i-feather name="edit-3"></i-feather>
                    </button>
                  </td>
                </tr>

                <tr *ngIf="users.length === 0">
                  <td colspan="5">Herhangi bir veri bulunamadı.</td>
                </tr>
              </ng-template>
            </rk-table>
          </rk-table-container>
        </div>
      </div>
    </div>
  </div>
</div>
