<div class="main-content">
  <div class="container-fluid col-md-11">
    <section id="listPanel" class="listPanel">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card">
            <div class="card-header card-header-icon card-header-info">
              <div class="card-icon">
                <i class="material-icons">public</i>
              </div>
              <h4 class="card-title ">Users</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-right">
                  <button mat-raised-button type="button" class="btn btn-success" (click)="showNewWizard()">
                    <i class="material-icons">add_circle_outline</i> Create New User
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-success">
                        <tr>
                          <th>E-mail</th>
                          <th>Name</th>
                          <th>Surname</th>
                          <th>Role</th>
                          <th>Locked</th>
                          <th>Active</th>
                          <th>Operation</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of userList">
                          <td>{{row.userName}}</td>
                          <td>{{row.name}}</td>
                          <td>{{row.surname}}</td>
                          <td>{{row.roles.description}}</td>
                          <td>
                            <div class="togglebutton">
                              <label>
                                <ng-container *ngIf="row.locked; else elseTemplate">
                                  <input type="checkbox disabled" checked disabled>
                                  <span class="toggle"></span>
                                </ng-container>
                                <ng-template #elseTemplate>
                                  <input type="checkbox" disabled>
                                  <span class="toggle"></span>
                                </ng-template>
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="togglebutton">
                              <label>
                                <ng-container *ngIf="row.active; else elseTemplate">
                                  <input type="checkbox" checked (change)="changeActiveStatusOnRow(row.id)">
                                  <span class="toggle"></span>
                                </ng-container>
                                <ng-template #elseTemplate>
                                  <input type="checkbox" (change)="changeActiveStatusOnRow(row.id)">
                                  <span class="toggle"></span>
                                </ng-template>
                              </label>
                            </div>
                          </td>
                          <td class="text-center">
                            <button mat-raised-button type="button" class="btn btn-info btn-just-icon btn-sm"
                              mattooltip="Edit item" (click)="showEditWizard(row.id)">
                              <i class="material-icons">edit</i>
                            </button>
                            <button mat-raised-button type="button" class="btn btn-danger btn-just-icon btn-sm"
                              mattooltip="Delete item" (click)="deleteUser(row.id)">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="wizardPanel" class="wizardPanel" style="display: none;">
      <div class="row">
        <div class="col-md-12">
          <button mat-raised-button type="button" class="btn btn-warning" (click)="hideWizard()">
            <i class="material-icons">arrow_back</i>
          </button>
          <div class="wizard-container">
            <div class="card">
              <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                  <i class="material-icons">person</i>
                </div>
                <h4 class="card-title">User Details</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="userForm" class="form-horizontal">
                  <div class="row justify-content-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                      <mat-form-field style="width:100%">
                        <input type="text" name="name" matInput id="name" name="name" placeholder="Name"
                          [(ngModel)]="selectedUser.name" formControlName="name">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field style="width:100%">
                        <input type="text" name="surname" matInput id="text" placeholder="Surname"
                          [(ngModel)]="selectedUser.surname" formControlName="surname">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                      <mat-form-field style="width:100%">
                        <input type="text" name="email" matInput id="email" name="email" placeholder="E-mail"
                          [(ngModel)]="selectedUser.userName" formControlName="email">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field style="width:100%">
                        <mat-select placeholder="Role" [(ngModel)]="selectedUser.roles.id" formControlName="role">
                          <mat-option [value]="role.id" *ngFor="let role of roleList">{{role.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                      <mat-form-field style="width:100%">
                        <input type="password" name="password" matInput id="password" name="password"
                          placeholder="Password" [(ngModel)]="selectedUser.password" formControlName="password">
                      </mat-form-field>
                      <mat-password-strength #passwordComponent [password]="selectedUser.password">
                      </mat-password-strength>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field style="width:100%">
                        <input type="password" name="passwordAgain" matInput id="passwordAgain" name="passwordAgain"
                          placeholder="Password Again" [(ngModel)]="selectedUser.passwordAgain"
                          formControlName="passwordAgain">
                      </mat-form-field>
                      <mat-password-strength #passwordComponent [password]="selectedUser.passwordAgain">
                      </mat-password-strength>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-3 mt-4">
                      <div class="togglebutton">
                        <label>is Locked
                          <ng-container *ngIf="selectedUser.locked; else elseTemplate">
                            <input type="checkbox" checked (change)="changeLockStatus()">
                            <span class="toggle"></span>
                          </ng-container>
                          <ng-template #elseTemplate>
                            <input type="checkbox" (change)="changeLockStatus()">
                            <span class="toggle"></span>
                          </ng-template>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3 mt-4">
                      <div class="togglebutton">
                        <label>is Active
                          <ng-container *ngIf="selectedUser.active; else elseTemplate">
                            <input type="checkbox" checked (change)="changeActiveStatus()">
                            <span class="toggle"></span>
                          </ng-container>
                          <ng-template #elseTemplate>
                            <input type="checkbox" (change)="changeActiveStatus()">
                            <span class="toggle"></span>
                          </ng-template>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
                  <div class="row">
                    <div class="col text-right ml-auto">
                      <button type="submit" class="btn btn-info" (click)="userFormSubmit()">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>