
  <ng-container *ngIf="selectedProfile">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <mat-form-field>
          <input type="text" name="profileName" matInput id="text" placeholder="{{'ProfileName'|translate}}"
            [(ngModel)]="selectedProfile.name" value="{{selectedProfile.name}}">
        </mat-form-field>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-link btn-warning" (click)="closeProfilePanel()">Close</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-icon" [ngClass]="{
              'card-header-success' : dayProfiles[0].status == 1, 
              'card-header-default' : dayProfiles[0].status == 0,
              'card-header-warning' : dayProfiles[0].status == 2 }">
            <div class="card-icon">
              MON
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                Start Date:
                <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[0].startDate"
                  (ngModelChange)="valueChanged(0)" value="{{dayProfiles[0].startDate}}">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                End Date:
                <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[0].endDate"
                  (ngModelChange)="valueChanged(0)" value="{{dayProfiles[0].endDate}}">
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-sm btn-danger btn-link" (click)="deleteDay(0)">
                    Remove
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header card-header-icon" [ngClass]="{'card-header-success' : dayProfiles[1].status == 1, 
              'card-header-default' : dayProfiles[1].status == 0,
              'card-header-warning' : dayProfiles[1].status == 2 }">
            <div class="card-icon">
              TUE
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    Start Date:
                    <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[1].startDate"
                      (ngModelChange)="valueChanged(1)" value="{{dayProfiles[1].startDate}}">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    End Date:
                    <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[1].endDate"
                      (ngModelChange)="valueChanged(1)" value="{{dayProfiles[1].endDate}}">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <a class="btn btn-sm btn-danger btn-link" (click)="deleteDay(1)">
                      Remove
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header card-header-icon" [ngClass]="{'card-header-success' : dayProfiles[2].status == 1, 
              'card-header-default' : dayProfiles[2].status == 0,
              'card-header-warning' : dayProfiles[2].status == 2 }">
            <div class="card-icon">
              WED
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    Start Date:
                    <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[2].startDate"
                      (ngModelChange)="valueChanged(2)" value="{{dayProfiles[2].startDate}}">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    End Date:
                    <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[2].endDate"
                      (ngModelChange)="valueChanged(2)" value="{{dayProfiles[2].endDate}}">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <a class="btn btn-sm btn-danger btn-link" (click)="deleteDay(2)">
                        Remove
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header card-header-icon" [ngClass]="{'card-header-success' : dayProfiles[3].status == 1, 
              'card-header-default' : dayProfiles[3].status == 0,
              'card-header-warning' : dayProfiles[3].status == 2 }">
            <div class="card-icon">
              THU
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    Start Date:
                    <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[3].startDate"
                      (ngModelChange)="valueChanged(3)" value="{{dayProfiles[3].startDate}}">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    End Date:
                    <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[3].endDate"
                      (ngModelChange)="valueChanged(3)" value="{{dayProfiles[3].endDate}}">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <a class="btn btn-sm btn-danger btn-link" (click)="deleteDay(3)">
                        Remove
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header card-header-icon" [ngClass]="{
                'card-header-success' : dayProfiles[4].status == 1, 
                'card-header-default' : dayProfiles[4].status == 0,
                'card-header-warning' : dayProfiles[4].status == 2  }">
            <div class="card-icon">
              FRI
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    Start Date:
                    <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[4].startDate"
                      (ngModelChange)="valueChanged(4)" value="{{dayProfiles[4].startDate}}">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    End Date:
                    <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[4].endDate"
                      (ngModelChange)="valueChanged(4)" value="{{dayProfiles[4].endDate}}">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <a class="btn btn-sm btn-danger btn-link" (click)="deleteDay(4)">
                        Remove
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header card-header-icon" [ngClass]="{'card-header-success' : dayProfiles[5].status == 1, 
              'card-header-default' : dayProfiles[5].status == 0,
              'card-header-warning' : dayProfiles[5].status == 2  }">
            <div class="card-icon">
              SAT
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    Start Date:
                    <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[5].startDate"
                      (ngModelChange)="valueChanged(5)" value="{{dayProfiles[5].startDate}}">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    End Date:
                    <input atp-time-picker changetominutes="true" type="time" [(ngModel)]="dayProfiles[5].endDate"
                      (ngModelChange)="valueChanged(5)" value="{{dayProfiles[5].endDate}}">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <a class="btn btn-sm btn-danger btn-link" (click)="deleteDay(5)">
                        Remove
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header card-header-icon" [ngClass]="{'card-header-success' : dayProfiles[6].status == 1, 
              'card-header-default' : dayProfiles[6].status == 0,
              'card-header-warning' : dayProfiles[6].status == 2 }">
            <div class="card-icon">
              SUN
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    Start Date:
                    <input atp-time-picker id="sunstart" [(ngModel)]="dayProfiles[6].startDate" changetominutes="true"
                      type="time" (ngModelChange)="valueChanged(6)" value="{{dayProfiles[6].startDate}}">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    End Date:
                    <input atp-time-picker id="sunend" changetominutes="true" type="time"
                      (ngModelChange)="valueChanged(6)" [(ngModel)]="dayProfiles[6].endDate"
                      value="{{dayProfiles[6].endDate}}">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <a class="btn btn-sm btn-danger btn-link" (click)="deleteDay(6)">
                        Remove
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="row">
    <div class="col text-right">
      <button class="btn btn-info" (click)="saveTimeProfile()">Save</button>
    </div>
  </div>
 