.margin15 {
  margin: 15px !important;
}

.date-overlay-panel .ui-overlaypanel {
  padding: 2px 2px !important;
  background: #00bcd4;
  color: #fff;
}

.filterTags{
  width: 100%;
  margin-top: 2px;
  padding: 6px;
  border-radius: 5px;
}

.filterTag{
  width: 30%;
  padding: 6px;
  margin-top: 6px;
  border-radius: 5px;
}

.editButton{ visibility: hidden}
.filterButton:hover .editButton{
visibility: visible;
}

.example-chip-list {
  width: 100%;
}

::ng-deep .dns-btn-tooltip {
  color: #fff;
}