.margin15 {
  margin: 15px !important;
}

.date-overlay-panel .ui-overlaypanel {
  padding: 2px 2px !important;
  background: #00bcd4;
  color: #fff;
}

.filterButton:hover .editButton{
  visibility: visible;
}

.example-chip-list {
  width: 100%;
}

::ng-deep .mat-option:hover{
  background-color: #77f !important;
}
::ng-deep .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: #77f !important;
}
