.dns-base-card {
  display: block;
  width: 100%;
  min-height: 1px;

  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
  display: flex;

  > .card-item {
    flex-grow: 1;
    margin: 0 2px;
    background-color: #262626;
    padding: 20px;
    display: flex;

    &:first-of-type {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      margin-left: 0;
    }

    &:last-of-type {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-right: 0;
    }
  }
}

.dns-base-card-header {
  font-size: 24px;
  font-weight: bold;
  color: #f5f5f5;
}

.dns-panel {
  .dns-panel-header {
    color: #445165;
    font-family: Roboto;
    font-size: 16px;
  }

  .dns-panel-item {
    margin-top: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
  }
}
