.dns-base-card {
  display: block;
  width: 100%;
  min-height: 1px;

  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  background-color: #262626;
  color: #f5f5f5;
}

.dns-base-card-header {
  font-size: 24px;
  font-weight: bold;
  color: #f5f5f5;
}