:root {
  --dns-onsurface-rgb: 255, 255, 255;
  --dns-primary-rgb: transparent;
  --dns-onsurface-rgb: 255, 255, 255;

  --checkbox-size: 24px;
}

.dns-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--dns-onsurface-rgb), 0.87);
  font-family: var(--dns-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 13px;
  line-height: 28px;
}

/* Input */
.dns-checkbox>input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: calc((var(--checkbox-size) - var(--checkbox-size) / 1.3) * -1);
  top: calc((var(--checkbox-size) - var(--checkbox-size) / 1.35) * -1);
  display: block;
  margin: 0;
  border-radius: 50%;
  width: calc(var(--checkbox-size) * 1.75);
  height: calc(var(--checkbox-size) * 1.75);
  background-color: rgba(var(--dns-onsurface-rgb), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.dns-checkbox>span {
  display: inline-block;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

/* Box */
.dns-checkbox>span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  /* Safari */
  border-color: rgba(var(--dns-onsurface-rgb), 0.6);
  border-radius: 2px;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.dns-checkbox>span::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--checkbox-size) / 3.5);
  left: calc(var(--checkbox-size) / 3.9);
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.dns-checkbox>input:checked,
.dns-checkbox>input:indeterminate {
  background-color: rgb(var(--dns-primary-rgb));
}

.dns-checkbox>input:checked+span::before,
.dns-checkbox>input:indeterminate+span::before {
  border-color: rgb(var(--dns-primary-rgb));
  background-color: rgb(var(--dns-primary-rgb));
}

.dns-checkbox>input:checked+span::after,
.dns-checkbox>input:indeterminate+span::after {
  border-color: rgb(var(--dns-onprimary-rgb, 255, 255, 255));
}

.dns-checkbox>input:indeterminate+span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.dns-checkbox:hover>input {
  opacity: 0.04;
}

.dns-checkbox>input:focus {
  opacity: 0.12;
}

.dns-checkbox:hover>input:focus {
  opacity: 0.16;
}

/* Active */
.dns-checkbox>input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.dns-checkbox>input:active+span::before {
  border-color: rgb(var(--dns-primary-rgb));
}

.dns-checkbox>input:checked:active+span::before {
  border-color: transparent;
  background-color: rgba(var(--dns-onsurface-rgb), 0.6);
}

/* Disabled */
.dns-checkbox>input:disabled {
  opacity: 0;
}

.dns-checkbox>input:disabled+span {
  color: rgba(var(--dns-onsurface-rgb), 0.38);
  cursor: initial;
}

.dns-checkbox>input:disabled+span::before {
  border-color: currentColor;
}

.dns-checkbox>input:checked:disabled+span::before,
.dns-checkbox>input:indeterminate:disabled+span::before {
  border-color: transparent;
  background-color: currentColor;
}