.dns-select-container {
  position: relative;
  display: inline-block;
}

.dns-select-container .dns-form-control,
.dns-select-container .form-control {
  height: 37px;
  min-width: 75px;
  background-color: #2c2c2c;
  border-color: var(--color-secondary) !important;
  color: white;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 6px 16px;
  font-size: 15px;
  color: #f5f5f5;
}

.dns-select-container .dns-form-control:focus,
.dns-select-container .form-control:focus {
  background: var(--color-secondary);
  box-shadow: none;
  color: white;
  outline: 0;
}

.dns-select-container::after {
  font-family: "entypo";
  content: "\e764";
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
  right: 16px;
  color: white;
  pointer-events: none;
}

.dns-select-container.default-select .dns-form-control,
.dns-select-container.default-select .form-control {
  background: #141414 !important;
  border-radius: 8px;
  min-height: 45px;
}

.reverse-form-container::after {
  color: #4a4a4a !important;
  font-size: 20px
}

.reverse-form {
  background: #ffffff !important;
  color: #4a4a4a !important;
}

.reverse-form:hover {
  color: #777777 !important;
}

.search-form {
  position: relative;
}

.icon {
  position: absolute;
  top: 20px;
  left: 15px;
  transform: translateY(-50%);
  width: 17px;
}

.search-form .dns-form-control,
.search-form .form-control {
  padding-left: 40px;
}

.btns.btn-teritary,
.btn.btn-teritary {
  background: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.btn-teritary:hover {
  background: #52a85e;
  border-color: #52a85e;
}

.btns.btn-clear,
.btn.btn-clear {
  background: transparent !important;
  box-shadow: none;
  border: none;
}

.btns.btn-danger,
.btn.btn-danger {
  background: #dd2d1b;
}

.btns.btn-success,
.btn.btn-success {
  background: var(--color-success);
}

.btns.btn-warning {
  background: #ffc107;
}

.dns-ip-input-container {
  position: relative;
  background: #fff;
  border: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 38px;
}

.dns-ip-input-container input {
  flex: 3;
  width: 100%;
  border: 0;
  outline: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}

.dns-ip-input-container .dnssense-select {
  flex: 2;
  height: 100%;
}

.dns-ip-input-container .dnssense-select .select-selected {
  height: 100%;
  border: 0;
}

/* .select-selected.select-arrow-active {
  background: #2c2c2c !important;
  color: #f5f5f5;
} */

.dns-ip-input-container .dnssense-select .select-items:not(.select-hide) {
  background: #2c2c2c;
}

.dns-ip-input-container .dnssense-select .select-items:not(.select-hide) div {
  background: #2c2c2c !important;
  color: #f5f5f5;
}

.dns-ip-input-container .dnssense-select .select-items:not(.select-hide) div:hover {
  background: #52a85e !important;
}

.dns-ip-input-container .btn {
  flex: 1;
  background: #9d9d9d;
  transition: 0;
  border-radius: 8px;
}

.dns-ip-input-container .btn:hover {
  background: rgba(157, 157, 157, 0.700);
  transition: 0;
}

.dns-form-group {
  width: 100%;
  display: flex;
  padding: 3px;
  background: white;
  overflow: hidden;
  border-radius: 8px;
}

.dns-form-group input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  flex: 6;
  padding-left: 10px;
  padding-right: 10px;
}

.dns-form-group .btn {
  flex: 1;
  border-radius: 8px;
}

.input-reverse {
  background: white !important;
  border-radius: 8px !important;
  padding: 10px !important;
  color: #484848 !important;
}

.input-reverse::placeholder {
  color: #9b9b9b !important;
}

.form-group {
  position: relative;
}

.form-group label {
  color: #9b9b9b;
  font-size: 12px;
}

.form-ux.activated .form-group:not(.not-ux) input {
  padding-right: 35px !important;
}

.form-ux.activated .form-group:not(.not-ux)::after {
  font-family: 'FontAwesome';
  content: '\f040';
  color: #c8c8c8;
  position: absolute;
  top: 37px;
  left: 93%;
}

.form-ux.activated .form-group.password:not(.not-ux)::after {
  font-family: 'FontAwesome';
  content: '\f06e';
  color: #757575;
}

input.file-input {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: url('./../images/icons/upload-image.svg') no-repeat;
}