.dns-label {
  display: inline-block;
  padding: 0 10px;
  margin: 10px;
  margin-left: 0;
  background-color: rgba(71, 71, 71, 0.3);
  color: #ffffff;
  border-radius: 8px;
}

.dns-label:hover {
  background-color: rgba(71, 71, 71, 0.6);
  cursor: pointer;
  user-select: none;
}

.dns-label:first-child {
  margin-left: 0;
}

.dns-label .dns-label-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #6c84fa;
  margin-right: 8px;
}

.dns-label i.dns-close-btn {
  font-size: 26px;
  vertical-align: middle;
  margin-left: 5px;
}

.dns-datatable-labels .dns-label {
  padding: 7px 14px;
  margin-right: 8px;
  color: #f5f5f5;
  font-weight: 500;
  background: #141414;
  transition: 0.dns-2s;
}

.dns-datatable-labels .dns-label.dns-active {
  background: #7cbf52;
  color: #202124;
  transition: 0.dns-2s;
}
