.dns {
  &-row {
    display: flex;
  }

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-grow {
    flex-grow: 1;
  }

  &-v-center {
      display: flex;
      align-items: center;
  }

  &-h-center {
      display: flex;
      justify-content: center;
  }
}



@for $i from 1 to 101{
  .m-l-#{$i}{
    margin-left:0px+$i;
  }
  .m-r-#{$i}{
    margin-right:0px+$i;
  }
   .m-t-#{$i}{
    margin-top:0px+$i;
  }
   .m-b-#{$i}{
    margin-bottom:0px+$i;
  }
}