.dns {
  &-row {
    display: flex;
  }

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-grow {
    flex-grow: 1;
  }

  &-v-center {
      display: flex;
      align-items: center;
  }

  &-h-center {
      display: flex;
      justify-content: center;
  }
}

.dns-data-row {
  padding: 10px 15px;
  background-color: white;
  border-radius: 30px;

  &.active {
    .value {
        color: #3397c5;
    }
  }

  .name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #97a5bb;
  }

  .value {
    font-family: Roboto;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: 35px;
    color: #ccd4e0;
  }
}

@for $i from 1 to 101{
  .m-l-#{$i}{
    margin-left:0px+$i;
  }
  .m-r-#{$i}{
    margin-right:0px+$i;
  }
   .m-t-#{$i}{
    margin-top:0px+$i;
  }
   .m-b-#{$i}{
    margin-bottom:0px+$i;
  }
}