.dns {
  &-row {
    display: flex;
  }

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-grow {
    flex-grow: 1;
  }

  &-v-center {
      display: flex;
      align-items: center;
  }

  &-h-center {
      display: flex;
      justify-content: center;
  }
}

.dns-data-row {
  padding: 10px 15px;
  background-color: white;
  border-radius: 30px;

  &.active {
    .value {
        color: #3397c5;
    }
  }

  .name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #97a5bb;
  }

  .value {
    font-family: Roboto;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: 35px;
    color: #ccd4e0;
  }
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}
