.dns {
  &-row {
    display: flex;
  }

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-grow {
    flex-grow: 1;
  }

  &-v-center {
      display: flex;
      align-items: center;
  }

  &-h-center {
      display: flex;
      justify-content: center;
  }
}