@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext")

$white: #fff

body
  font-family: "Roboto", sans-serif !important
  background: var(--color-primary)
  overflow-x: hidden

*
  font-family: "Roboto", sans-serif !important
  -webkit-font-smoothing: antialiased
  outline: none !important

ul
  list-style: none

.wrapper-full-page
  height: auto
  min-height: 100vh

@media (max-width: 991px)
  .footer:not(.footer-big) nav>ul li, .social-line.pull-right
    float: none

.footer ul
  margin-bottom: 0
  padding: 0
  list-style: none

.footer ul li
  display: inline-block

.footer ul li a
  color: inherit
  padding: .9375rem
  font-weight: 500
  font-size: 12px
  text-transform: uppercase
  border-radius: 3px
  text-decoration: none
  position: relative
  display: block

.footer
  color: #868e96

.rk-info-box.active::after
  top: calc(100% + 77px) !important

.wrapper
  .content
    overflow: visible
    flex: 1
    width: calc(100% - 200px)

.chart-info .section .value
  font-weight: bold

.page-title
  color: #303759
  font-size: 16px
  font-weight: 500
  margin-bottom: 0

app-publicip
  display: flex
  height: 100%

.rk-radio label
  padding: 0 0 0 32px

.rk-modal .rk-modal-body
  height: 100%
  overflow: auto

.rk-input-container
  input
    font-size: 12px

$gray: #445165
$blue-grey: #97a5bb

.hover-gray:hover
  svg
    color: $gray !important

.fill-red
  svg
    color: #f95656 !important

.fill-white
  svg
    color: #ffffff !important

.resize\:none
  resize: none

.file-upload
  width: 60px
  height: 60px
  border-radius: 60px
  border: 1px dashed #cbd0e5
  display: flex
  align-items: center
  justify-content: center

  &:hover
    border-color: #696d7e
    cursor: pointer

    svg
      color: #696d7e

  svg
    color: $blue-grey

.file-upload-text
  color: #898ea4 !important
  font-size: 10px !important

.input-file
  opacity: 0
  visibility: hidden
  height: 0
  width: 0

figure
  margin-bottom: 0 !important

  // <div data-notify="container" class="col-xs-11 col-sm-3 alert alert-warning alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
  // <button mat-raised-button="" type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 5px; z-index: 1033;"> 
  //  <i class="material-icons">close</i>
  //    </button>
  //      <i class="material-icons notifications" data-notify="icon">notifications</i> 
  //        <span data-notify="title"></span> 
  //          <span data-notify="message">Form is not valid! Please enter required fields with valid values.</span><a href="#" target="_blank" data-notify="url"></a>
  //       </div>

.alert
  position: relative
  padding: 10px
  border-radius: 5px
  background: #FFB300
  color: white
  font-size: 12px
  display: flex
  align-items: center
  justify-content: space-between

  .material-icons.notifications
    display: none

  button
    &.close
      border: 0
      outline: 0
      width: 20px
      height: 100%
      background: transparent
      color: white

.accordion-label
  font-size: 12px
  color :#898ea4
  font-weight: 500

.accordion-description
  font-size: 10px
  color: #97a5bb

.swal2-actions
  button
    margin-right: 10px

    &:last-child
      margin-right: 0

.input-container
  display: flex
  align-items: center
  justify-content: space-between

.rk-title
  font-size: 12px
  color: #303759
  margin: 0

.rk-description
  font-size: 10px
  color: #97a5bb
  margin-top: 7px

.card
  border-radius: 5px
  min-height: 36px
  padding: 9px 10px
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 5px

  .card-content
    flex: 1
    .title
      font-size: 10px
      color: #303759
      margin-bottom: 0
      word-break: break-word

    .description
      color: #97a5bb
      font-size: 8px
      margin: 0
      margin-top: 7px
      white-space: normal
      word-break: break-word

  .card-close
    svg
      color: #97a5bb
      &:hover
        color: #7f8a9b
        cursor: pointer

.success-card
  background-color: rgba(40, 167, 69, 0.2)

.danger-card
  background-color: rgba(220, 53, 69, 0.2)

.gray-card
  background-color: #f1f3f6

.rk-accordion .rk-accordion-content
  max-height: 540px !important

.icon-blue-grey
  svg
    color: #97a5bb

.sub-page-title
  font-size: 24px
  color: #97a5bb
  font-weight: 300
  text-transform: capitalize

.rk-group-title
  color: #787993
  font-size: 14px
  margin-bottom: 0
  font-weight: 500

.rk-radio-m-0
  .rk-radio
    margin: 0 !important

.rk-radio label
  display: flex
  align-items: center

.small-table
  &.table th, &.table td
    padding: 3px !important

app-devices
    display: flex
    height: 100%

.rk-table-description
  font-size: 9px
  color: #aab5c7
  margin-bottom: 0

.bg-transparent
  background: transparent

.btn-outline-active
  border: 1px solid #3397c5 !important
  background: white !important

  svg
    path
    fill: #445165 !important

.filter-btn-outline
  &:focus,&:hover
    background: white !important
    border-color: #3397c5 !important

app-profile-wizard
    display: block
    height: 100%
    width: 100%

rk-accordion
    display: block
    height: 100%

.bg-table-white
  background: rgba(137, 142, 164, 0.05) !important

.password-strength-register
  display: flex

  div
    flex: 1
    margin-left: 13px
    height: 4px
    width: 27px
    background: #d8d8d8
    border-radius: 2px

    &:first-child
      margin-left: 0

    &.active
      background: #4fb75d
  
  
.password-strength
  display: flex

  div
    margin-left: 13px
    height: 4px
    width: 27px
    background: #d8d8d8
    border-radius: 2px

    &.active
      background: #3397c5

.password-text
  font-size: 10px
  color: #898ea4
  margin-bottom: 0

.rk-checkbox-font
  label
    font-size: 13px

.rk-collapse
  width: 100%
  .rk-collapse-body
    border: 1px solid  rgba(37, 38, 94, 0.05)
    padding: 20px

.accordion-p-0
  .rk-accordion-content
    padding: 0 !important

.passive.active
  color: #445165
  border-color: #8a95a5

.color-898ea4
  color: #898ea4

.tag-input-container
  background: white
  min-width: 300px
  border-radius: 5px
  border: solid 1px rgba(37, 38, 94, 0.05)
  overflow: hidden
  padding: 0 10px

  tag
    background: #d9f0f8 !important
    color: #3fb6dc !important

  delete-icon
    svg
      path
        fill: #97a5bb !important

  .ng2-tag-input.ng2-tag-input--focused
    border-color: white !important

.ng2-tag-input
  border-color: white !important

.anchor
  color: rgba(51, 151, 197, 0.8) !important

  &:hover
    color: #3397c5 !important
    cursor: pointer !important

.dashboard-domains-table
  td
    padding: 7px 12px !important

rk-modal-body
    padding-top: 10px
    padding-bottom: 10px

.rk-input-label
  display: block
  width: 130px
  font-size: 12px
  margin-bottom: 0
  color: #787993
  font-weight: 500

.color-disabled
  svg
    color: #cbcccd !important

.category-item
  rk-checkbox
    label
      font-size: 14px !important

.domain-label
  display: flex
  height: 26px
  border-radius: 18px
  background: #d9f0f8
  color: #3fb6dc
  align-items: center
  justify-content: space-between
  font-size: 12px
  padding: 0 10px

  &.danger
    background: rgba(249, 86, 86, 0.2)
    color: #f95656

  i-feather
    width: 20px
    height: 20px
    svg
      color: #97a5bb
      cursor: pointer
      width: 20px
      height: 20px

.filter-text
  color: #898ea4
  font-size: 12px
  font-weight: bold

.pagination-disabled
  .rk-pagination
    display: none

.overflow-fix
  .table-responsive
    overflow-x: visible !important

.rk-head-title
  font-size: 16px
  color: $gray
  font-weight: 500

.rk-tab
  font-weight: 500

app-accountsettings
  height: 100% !important

.rk-label
  color: #738694
  font-size: 14px

.login-link
  color: #868e96 !important

  &:hover
    color: #a8acaf !important
    cursor: pointer

.signup-btns
  border: 0
  border-radius: 3px
  color: $white

  &:disabled
    background: #9d9d9d !important
    color: #484848 !important

[data-tooltip-enabled="false"]
  &:before, &:after
    display: none !important
    
  
[data-tooltip]
  position: relative
  z-index: 10

  &:before, &:after
    position: absolute
    visibility: hidden
    opacity: 0
    left: 50%
    bottom: calc(100% + 5px)
    pointer-events: none
    transition: 0.2s
    will-change: transform

  &:before
    content: attr(data-tooltip)
    padding: 10px 18px
    min-width: 50px
    max-width: 300px
    width: max-content
    width: -moz-max-content
    border-radius: 6px
    font-size: 14px


    background-color: rgba(59, 72, 80, 0.9)
    background-image: linear-gradient(30deg, rgba(59, 72, 80, 0.44), rgba(59, 68, 75, 0.44), rgba(60, 82, 88, 0.44))
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2)
    color: #fff
    text-align: center
    white-space: pre-wrap
    transform: translate(-50%, -5px) scale(0.5)

  &:after
    content: ''
    border-style: solid
    border-width: 5px 5px 0px 5px
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent
    transition-duration: 0s

    transform-origin: top

    transform: translateX(-50%) scaleY(0)

  &:hover
    &:before, &:after
      visibility: visible
      opacity: 1

    &:before
      transition-delay: 0.3s
      transform: translate(-50%, -5px) scale(1)

    &:after
      transition-delay: 0.5s

      transition-duration: 0.2s
      transform: translateX(-50%) scaleY(1)

[data-tooltip-location="left"]
  &:before, &:after
    left: auto
    right: calc(100% + 5px)
    bottom: 50%

  &:before
    transform: translate(-5px, 50%) scale(0.5)

  &:hover:before
    transform: translate(-5px, 50%) scale(1)

  &:after
    border-width: 5px 0px 5px 5px
    border-color: transparent transparent transparent rgba(55, 64, 70, 0.9)
    transform-origin: left
    transform: translateY(50%) scaleX(0)

  &:hover:after
    transform: translateY(50%) scaleX(1)

[data-tooltip-location="right"]
  &:before, &:after
    left: calc(100% + 5px)
    bottom: 50%

  &:before
    transform: translate(5px, 50%) scale(0.5)

  &:hover:before
    transform: translate(5px, 50%) scale(1)

  &:after
    border-width: 5px 5px 5px 0px
    border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent
    transform-origin: right
    transform: translateY(50%) scaleX(0)

  &:hover:after
    transform: translateY(50%) scaleX(1)

[data-tooltip-location="bottom"]
  &:before, &:after
    top: calc(100% + 5px)
    bottom: auto

  &:before
    transform: translate(-50%, 5px) scale(0.5)

  &:hover:before
    transform: translate(-50%, 5px) scale(1)

  &:after
    border-width: 0px 5px 5px 5px
    border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent
    transform-origin: bottom


rk-collapse-description
  font-size: 10px