@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext")

body
  font-family: "Roboto", sans-serif !important
  background: var(--color-primary)
  overflow-x: hidden

*
  font-family: "Roboto", sans-serif !important
  -webkit-font-smoothing: antialiased
  outline: none !important

ul
  list-style: none

.wrapper-full-page
  height: auto
  min-height: 100vh

@media (max-width: 991px)
  .footer:not(.footer-big) nav>ul li, .social-line.pull-right
    float: none

.footer ul
  margin-bottom: 0
  padding: 0
  list-style: none

.footer ul li
  display: inline-block

.footer ul li a
  color: inherit
  padding: .9375rem
  font-weight: 500
  font-size: 12px
  text-transform: uppercase
  border-radius: 3px
  text-decoration: none
  position: relative
  display: block

.footer
  color: #868e96

.rk-info-box.active::after
  top: calc(100% + 77px) !important

.wrapper
  .content
    overflow: visible
    flex: 1
    width: calc(100% - 200px)

.chart-info .section .value
  font-weight: bold

.page-title
  color: #303759
  font-size: 16px
  font-weight: 500
  margin-bottom: 0

app-publicip
  display: flex
  height: 100%

.rk-radio label
  padding: 0 0 0 32px

.rk-modal .rk-modal-body
  height: 100%
  overflow: auto

.rk-input-container
  input
    font-size: 12px

$gray: #445165

.hover-gray:hover
  svg
    color: $gray !important

.fill-red
  svg
    color: #f95656 !important

.fill-white
  svg
    color: #ffffff !important
