@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext");

@import "variables.css";
@import "forms.css";
@import "card.css";
@import "table.css";
@import "label.css";
@import "toggle.css";
@import "progressbar.css";
@import "flex.css";
@import "checkbox.css";
@import "datatable.css";
@import "dnssense-select.css";
@import "amsify.suggestags.css";
/* @import "../js/apex-chart/apexcharts.css"; */
@import "radio.css";
@import "wizard.css";
@import "switch.css";
@import "input-file.css";

body {
  font-family: "Roboto", sans-serif !important;
  background: var(--color-primary);
  overflow-x: hidden;
}

img.dns-logo {
  width: 146px;
  height: 32px;
}

a:hover {
  text-decoration: none;
}

.dns-full-width {
  width: 100%;
}

.dns-full-height {
  height: 100%;
}

.dns-main-navbar {
  background: var(--color-primary);
  height: 80px;
  box-shadow: 0 2px 1px 0 rgba(70, 70, 70, 0.5);
  margin-bottom: 24px;
}

.dns-main-navbar .navbar-brand {
  border-right: 2px solid rgba(216, 216, 216, 0.23);
  padding-right: 24px;
  margin-right: 24px;
  outline: 0;
}

.dns-main-navbar .nav-item .select-container {
  width: 296px;
  border-radius: 8px;
}

.nav-btn {
  color: white;
  font-size: 20px;
}

.nav-btn.dns-user-profile {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: #484848 !important;
  padding: 0;
}

.btn:focus {
  box-shadow: none !important;
}

.btn:hover {
  color: #dddddd;
}

.dns-side-menu > li {
  list-style: none;
  position: relative;
}

.dns-side-menu > li.active > a {
  box-shadow: -6px 0 0px 0px var(--color-accent);
  background: rgba(255, 255, 255, 0.05);
}

/* .dns-side-menu li.active::before {
  width: 6px;
  height: 44px;
  float: left;
  background: var(--color-accent);
  display: block;
} */

.dns-side-menu > li:hover a {
  color: rgba(255, 255, 255, 1) !important;
  cursor: pointer;
}

.dns-side-menu > li:hover .menu-collapse-icon {
  color: white;
}

.dns-side-menu > li.active .menu-collapse-icon {
  color: white;
}

.dns-side-menu > li .dns-collapse-menu li:hover a {
  color: var(--color-accent) !important;
}

.dns-side-menu li a {
  font-size: 16px;
  display: block;
  padding: 10px;
  padding-left: 0;
  color: rgba(255, 255, 255, 0.6) !important;
  line-height: 16px;
  position: relative;
}

.dns-side-menu li.active a {
  color: rgba(255, 255, 255, 1) !important;
}

.dns-side-menu li a img {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-right: 18px;
}

.dns-menu-collapse-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.menu-collapse-icon {
  color: #484848;
}

.dns-collapse-menu {
  padding-left: 90px;
  user-select: none;
}

.dns-menu-heading {
  font-size: 16px;
  font-weight: bold;
  color: #9b9b9b;
  margin-top: 10px;
}

.dns-side-menu li ul li {
  color: #9b9b9b;
}

.dns-side-menu li ul li a {
  font-size: 14px;
  padding-left: 10px;
}

.dns-table-select {
  width: 250px;
}

.dns-table-select .btns,
.dns-table-select .btn {
  width: 100%;
}

.dns-drop-collapse-menu {
  position: absolute;
  top: 0;
  left: 100%;
  background: #484848;
  border-radius: 8px;
  padding: 10px;
  min-width: 250px;
  z-index: 999;
}

/* .table-select .dropdown-menu {
  width: 100%;
} */

.dns-table-select .dropdown-menu .nav-tabs {
  border-bottom: 1px solid #525252;
  margin: 0 16px;
}

.dns-table-select .dropdown-menu .nav-tabs .nav-item .nav-link {
  background: transparent;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0;
  border: 0;
}

.dns-table-select .dropdown-menu .nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid var(--color-accent);
}

.size-20 {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.btns,
.btn {
  background: #141414;
  box-shadow: none;
  color: #f5f5f5;
}

.btnOverFlow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileBtn{
  width:180px;
}

.filterTags{
  width: 100%;
  margin-top: 2px;
  padding: 6px;
  border-radius: 5px;
}

.filterTag{
  width: 30%;
  padding: 6px;
  margin-top: 6px;
  border-radius: 5px;
}

.editButton{ 
  visibility: hidden
}

.filterButton:hover .editButton{
visibility: visible;
}

.dropdown-menu {
  background-color: #3b3b3b;
  background: #3b3b3b;
  min-width: 20rem !important;
  border-radius: 8px;
}

.dropdown-menu .dropdown-searchbar,
.dropdown-menu .dns-dropdown-searchbar {
  margin-bottom: 10px;
  padding: 16px;
}
.dropdown-menu .dropdown-searchbar .form-control,
.dropdown-menu .dropdown-searchbar .dns-form-control,
.dropdown-menu .dns-dropdown-searchbar .dns-form-control {
  box-shadow: none !important;
  outline: 0 !important;
  border: 0;
  padding-left: 20px;
}

/* .dropdown-menu .dropdown-searchbar .dns-form-control::placeholder,
.dropdown-menu .dropdown-searchbar .dns-form-control::-webkit-input-placeholder {
  color: #484848 !important;
} */

.dropdown-menu .dropdown-item {
  color: #f5f5f5;
  min-height: 50px;
  line-height: 50px;
  padding: 0 1rem;
  outline: 0;
}

.dropdown-menu .dropdown-item:hover {
  background: #4b4b4b;
}

.dropdown-menu .dropdown-item:focus {
  background: #4b4b4b;
}

.dropdown-menu .dropdown-item.active {
  background: #4b4b4b;
}

.dropdown-menu .dropdown-divider {
  margin: 0.5rem 16px;
  border-width: 2px;
  border-color: #525252;
}

.dns-dropdown-label {
  display: block;
  color: #f5f5f5;
  padding-left: 16px;
  font-size: 14px;
}

.dns-color-point {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: lightcoral;
  margin-right: 10px;
}

.dropdown-toggle::after {
  display: none;
}

.bg-blue {
  background: #4a90e2;
}

.dns-table-select.show i.btn-arrow {
  transform: rotate(180deg);
  top: 0;
}

::ng-deep .mat-option:hover{
  background-color: #77f !important;
}
::ng-deep .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: #77f !important;
}

.row-img{
  width: 45px;
}

i.btn-arrow {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dns-form-control {
  box-shadow: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: white;
}

.dns-form-control:focus {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #f5f5f5;
  outline: 0;
}

.dns-country-list table {
  color: #919191;
}

.dns-country-list table tr td {
  border-top: 0 !important;
}

.dt {
  display: none;
}

.flatpickr-calendar {
  background: transparent !important;
  box-shadow: none;
}

.flatpickr-calendar * {
  color: #7c86a2;
}

.flatpickr-calendar .flatpickr-months svg {
  fill: #f5f5f5 !important;
}

.flatpickr-calendar .flatpickr-weekdays * {
  color: #f5f5f5;
}

.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange {
  border-radius: 50%;
  background: var(--color-accent);
}

.flatpickr-day.selected.endRange,
.flatpickr-day.endRange.endRange,
.flatpickr-day.endRange.endRange {
  border-radius: 50%;
  background: var(--color-accent);
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  background: transparent;
  box-shadow: none;
  border: none;
}

.flatpickr-day {
  min-width: 0;
  max-width: 50px;
}

.flatpickr-day.inRange::before {
  content: "";
  background: #45794c;
  display: block;
  height: 50%;
  width: 150%;
  position: absolute;
  top: 9px;
  z-index: -1;
  left: -10px;
  border-radius: 50px;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: none;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  color: #e1e4e7;
}

.flatpickr-months .flatpickr-prev-month {
  right: 40px;
  left: auto !important;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.14);
  /* color: rgba(108, 132, 250, 0.21); */
  width: 28px;
  height: 28px;
  line-height: 28px;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  border-color: var(--color-accent);
}

.flatpickr-months .flatpickr-prev-month svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flatpickr-months .flatpickr-next-month {
  border-radius: 50%;
  background: #45794c;
  width: 28px;
  height: 28px;
  line-height: 28px;
  right: 8px !important;
}

.flatpickr-months .flatpickr-next-month svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--color-accent) !important;
}

.flatpickr-current-month {
  width: auto;
  padding: 0;
  left: 5px;
  font-size: 15px;
  color: var(--color-accent);
  font-weight: normal;
}

.flatpickr-current-month .numInputWrapper {
  color: var(--color-accent);
}

@media (max-width: 992px) {
  .hidden-lg {
    display: none;
  }

  .dns-collapse-menu {
    position: absolute;
    top: 0;
    left: 100%;
    background: #484848;
    border-radius: 8px;
    padding: 10px;
    min-width: 250px;
    z-index: 999;
  }
}

@media (max-width: 768px) {
  .dns-side-menu {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hidden-sm {
    display: none;
  }
}

@media (max-width: 568px) {
  .navbar-collapse {
    background: #222;
    padding: 10px;
    z-index: 10;
  }

  .navbar-collapse li {
    margin-bottom: 10px;
  }

  .navbar-collapse li .select-container {
    width: 100% !important;
  }

  .navbar-collapse li .nav-btn {
    width: 100%;
  }

  .dns-collapse-menu {
    left: -100%;
    top: 50px;
  }
}

.dns-sidemenu-column-border {
  border-right: 2px solid rgba(216, 216, 216, 0.23);
}

.dns-sidemenu-toggle {
  color: #f5f5f5;
  font-size: 26px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 30px;
  cursor: pointer;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.color-light-blue {
  color: #45794c;
}

#dropdownFilter .btn-teritary {
  padding: 8px 60px;
  font-size: 15px;
}

.btn-danger {
  background: #dd2d1b;
  border-radius: 8px;
  padding: 8px 16px;
}

.size-13 {
  font-size: 13px;
}

.size-14 {
  font-size: 14px;
}

.dns-circle-dropdown-btn {
  background: #3b3b3b;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 40px;
  padding: 0;
}

.padding-left-40 {
  padding-left: 40px !important;
}

.btn-light {
  background: #fff !important;
  color: #484848 !important;
  border-color: #e0e0e0;
  cursor: pointer;
}

.top-3 {
  top: 3px;
}

.border-radius-8 {
  border-radius: 8px;
}

select {
  appearance: none !important;
}

.table td {
  border-top: 0;
}

.color-accent {
  color: var(--color-accent);
}

.color-white {
  color: white;
}

#dropdownSave .dropdown-menu {
  width: 350px !important;
  font-weight: 400;
}

ul {
  list-style: none;
}

.dropright .dropdown-toggle::after {
  display: none;
}

#pi_card_btn,
.card-create-btn {
  position: absolute;
  top: -20px;
  right: 35px;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#pi_card_btn img {
  margin-right: 10px;
}

.dropdown-item-btn {
  margin: 10px;
  width: calc(100% - 20px);
}

.dropdown-accent .dropdown-item:hover {
  background: var(--color-accent);
  color: white;
}

.bg-3b3b3b {
  background-color: #3b3b3b;
}

.color-4a4a4a {
  color: #4a4a4a;
}

.bg-9d9d9d {
  background: #9d9d9d;
}

.vertical-align-super {
  vertical-align: super;
}

.top-0 {
  top: 0;
}

hr {
  background: #979797;
}

.border-radius-4 {
  border-radius: 4px;
}

.size-8 {
  font-size: 8px;
}

button:disabled {
  background: #9d9d9d !important;
  border-color: #9d9d9d !important;
  color: #484848;
}

.color-9d9d9d {
  color: #9d9d9d;
}

.bg-a62929 {
  background: #a62929;
}

.alert-red {
  background: #a62929;
  border-color: #a62929;
  color: white;
}

.alert-red-opacity {
  background: #552528;
  border-color: #552528;
  color: white;
}

.alert-gray {
  background: #404040;
  border-color: #404040;
  color: white;
}

.btn-gray {
  background: #9d9d9d;
  color: #484848;
}

.text-red {
  color: #fa3f3f;
}

.btn-danger {
  background: #fa3f3f;
  border-color: #fa3f3f;
  border-radius: 8px;
}

.btn-info {
  background: #4a90e2;
  border-color: #4a90e2;
  border-radius: 8px;
}


.modal-content {
  background: #262626;
  color: white;
}

.modal-content .modal-header {
  border-bottom: none;
}

.modal-content .modal-body {
  border-bottom: none;
}

.modal-content .modal-footer {
  border-top: none;
}

.password-length {
  display: flex;
  align-items: center;
}

.password-length div {
  background: white;
  height: 6px;
  flex: 1;
  margin-right: 5px;
  border-radius: 50px;
}

.password-length .active {
  background: var(--color-accent);
}

.tooltip-inner {
  background-color: #3b3b3b;
}

.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #3b3b3b;
}

.tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.tooltip.bs-tooltip-right .arrow::before {
  margin-top: -3px;
  content: "";
  border-width: 5px 5px 5px 0;
  border-right-color: #3b3b3b;
}

.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 0 5px 5px;
  border-bottom-color: #3b3b3b;
}

.tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.tooltip.bs-tooltip-left .arrow::before {
  right: 0;
  margin-top: -3px;
  content: "";
  border-width: 5px 0 5px 5px;
  border-left-color: #3b3b3b;
}

.close:hover {
  color: #d5d5d5;
}

.dns-side-menu .list-group .active a {
  color: var(--color-accent) !important;
}

.dns-side-menu .list-group li::before {
  opacity: 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid white;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  float: left;
  margin-top: 14px;
  position: relative;
  left: -10px;
}

.dns-side-menu .list-group li.active::before {
  opacity: 1;
  left: 0;
}

.dns-side-menu .list-group li:hover::before {
  opacity: 1;
  transition: 0.2s;
  left: 0;
}

.nav-dropdown-menu {
  min-width: 100px !important;
  width: 150px !important;
  font-size: 13px;
}

.nav-dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.7);
}

.nav-dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: white;
}


.page-link {
  background-color: transparent;
  border: 0 solid #dee2e6;
  color: #f5f5f5;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: transparent;
  border-color: #dee2e6;
}
