/* .progress-bar {
  width: 100%;
  border-radius: 50px;
  height: 12px;
  background: white;
  margin-top: 4px;
}

.progress-bar .in-progress {
  background: #6c84fa;
  height: 100%;
  width: 50%;
  border-radius: 50px;
}

.progress-bar.color-purple .in-progress {
  background: #9a5ef6;
} */
