@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }

  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}

.dns-radio {
  margin: 8px 0;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
}

.dns-radio.dns-radio-inline {
  display: inline-block;
}

.dns-radio input[type="radio"] {
  display: none;
}

.dns-radio input[type="radio"]:checked+label:before {
  border-color: white;
  animation: ripple 0.2s linear forwards;
}

.dns-radio input[type="radio"]:checked+label:after {
  transform: scale(1);
}

.dns-radio label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}

.dns-radio label:before,
.dns-radio label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}

.dns-radio label:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.50);
}

.dns-radio label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: white;
}