.dns-toggle {
  background: #141414;
  border-radius: 8px;
  display: inline-block;
  margin: 10px;
  padding: 4px;
  position: relative;
}

.dns-toggle .btns,
.dns-toggle .btn {
  border-radius: 8px;
  font-weight: bold;
  color: #e5e5e5;
  font-size: 13px;
  margin-right: 5px;
  padding: 5px 10px;
}

.dns-toggle .btns:last-child,
.dns-toggle .btn:last-child {
  margin-right: 0;
}

.dns-toggle .btns:hover,
.dns-toggle .btn:hover {
  background: #262626;
}

.dns-toggle .btns.active,
.dns-toggle .btn.active {
  background: #262626
}

.dns-reverse-toggle {
  background: white;
}

.dns-reverse-toggle .btns,
.dns-reverse-toggle .btn {
  background: white;
  color: #484848;
}

.dns-reverse-toggle .btns:hover,
.dns-reverse-toggle .btn:hover {
  background: #262626;
}

.dns-reverse-toggle .btns.active,
.dns-reverse-toggle .btn.active {
  background: #262626;
  color: white;
}