$hoverColor: "#3397c5";
$linkColor: "#ff7b00";

$securityColor: "#f95656";
$harmfullColor: "#f9df56";
$safeColor: "#3dd49a";
$greyColor: "#d8d8d8";
$unsafeColor: "#f99256";
$totalColor: "#4353ff";

$backgroundColor: "#f0f3f8";
$upColor: "#28a745";
$downColor: "#dc3545";

$gray-1: "#445165";
$gray-2: "#97a5bb";
$gray-3: "#ccd4e0";
$gray-4: "#97a5bb";

$black: "#000000";
$white: "#FFFFFF";

.shadow-1 {
  box-shadow: 0 2px 10px 0 rgba(37, 38, 94, 0.15);
}
.shadow-2 {
  box-shadow: 0 2px 10px 0 rgba(51, 151, 197, 0.3);
}
.shadow-3 {
  box-shadow: 0 10px 24px 0 rgba(37, 38, 94, 0.12);
}
.shadow-4 {
  box-shadow: 0 10px 24px 0 rgba(51, 151, 197, 0.3);
}
.shadow-5 {
  box-shadow: 0 2px 7px 0 #6c84fa;
}

.border-panel-1 {
  border: solid 1px rgba(68, 81, 101, 0.2);
}

.border-panel-2 {
  border: solid 1px #e4e9f1;
}

.border-panel-3 {
  border: solid 1px #e9ebf1;
}

.border-panel-4 {
  border: solid 4px #ff6c40;
}

.border-panel-5 {
  border: solid 4px #ffe700;
}

.border-panel-6 {
  border: solid 4px #2cd9c5;
}

.border-panel-7 {
  border: solid 4px var(--very-light-pink);
}

.border-panel-8 {
  border: solid 4px var(--lightish-blue);
}

.bg-1 {
  border: solid 1px rgba(37, 38, 94, 0.05);
}
.bg-2 {
  border: solid 1px rgba(37, 38, 94, 0.2);
}
.bg-3 {
  border: solid 1px rgba(45, 199, 109, 0.3);
}
.bg-4 {
  border: solid 1px rgba(255, 200, 0, 0.3);
}
.bg-5 {
  border: solid 1px rgba(47, 97, 213, 0.3);
}
