<div class="main-content">
  <div class="container-fluid ">
    <div class="row" style="margin-top: -10px">
      <div class="col-md-12">
        <div class="rk-base-card">
          <div class="card-item" *ngFor="let data of dataPanels">
            <div class="rk-grow rk-v-center rk-title-1">
              {{ data.name }}
            </div>
            <div class="rk-row">
              <div class="rk-data-row active">
                <span class="name">Active</span>
                <span class="value">{{ data.activeCount }}</span>
              </div>

              <div class="rk-data-row   m-l-15">
                <span class="name">Passive</span>
                <span class="value">{{ data.passiveCount }}</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="rk-base-card">
      <div class="card-item rk-col">
        <div class="traffic-timeline rk-row">
          <div class="rk-v-center">
            <div class="rk-title-2">Total traffic timeline</div>
            <div class="timeline-sub-title"> 365 total days</div>
          </div>

          <div class="rk-row m-l-20 rk-grow" style="justify-content: flex-end;">
            <span class="rk-title-2 rk-v-center">Time Range</span>
            <div class="rk-row m-l-15 ">
              <rk-date (complete)="dateChanged($event)" [alignment]="'right'"></rk-date>
            </div>
          </div>
        </div>

        <div class="rk-panel mt-4">
          <div class="rk-panel-item">
            <div class="timeline" id="timeline"></div>
          </div>
        </div>

        <div class="rk-panel" style="margin-top: 30px;">
          <div class="rk-panel-header rk-title-2">
            Traffic Based Anomaly
          </div>
          <div class="rk-panel-item d-flex flex-column">
            <div class="row">
              <div class="col-12 col-md-6 col-lg">
                <rk-infobox [active]="infoBoxes.total"  (change)="infoboxChanged($event, 'total')" [title]="'Total'"
                  [color]="'#4353ff'" className="blue" [type]="1" [valueOne]="trafficAnomaly?.total?.allowCount"
                  [valueTwo]="trafficAnomaly?.total?.blockCount" description="Toplam DNS sorgu sayısı">
                </rk-infobox>
              </div>

              <div class="col-12 col-md-6 col-lg">
                <rk-infobox [active]="infoBoxes.safe" [type]="2" (change)="infoboxChanged($event, 'safe')" [title]="'Safe'" [color]="'#3dd49a'" className="green" [valueOne]="trafficAnomaly?.safe?.hitCount"
                  [valueTwo]="trafficAnomaly?.safe?.uniqueCount" description="Haber, Spor, Arama motoru gibi içerik ve güvenlik anlamında risk içermeyen domainleri kapsar.">
                </rk-infobox>
              </div>

              <div class="col-12 col-md-6 col-lg">
                <rk-infobox [active]="infoBoxes.malicious"  (change)="infoboxChanged($event, 'malicious')" [type]="2"
                  [title]="'Malicious'" className="red" [color]="'#f95656'"
                  [valueOne]="trafficAnomaly?.malicious?.hitCount" [valueTwo]="trafficAnomaly?.malicious?.uniqueCount"
                  description="Malware, Botnet, Phishing gibi güvenlik riski yüksek domainleri kapsar.">
                </rk-infobox>
              </div>

              <div class="col-12 col-md-6 col-lg">
                <rk-infobox [active]="infoBoxes.variable"  (change)="infoboxChanged($event, 'variable')" [type]="2"
                  [title]="'Variable'" className="gray" [color]="'#d8d8d8'"
                  [valueOne]="trafficAnomaly?.variable?.hitCount" [valueTwo]="trafficAnomaly?.variable?.uniqueCount"
                  description="Newly Register, Newly Up, Domain Parking, Dead Sites gibi içerik ve güvenlik riski değişiklik gösterebilen domainleri içerir.">
                </rk-infobox>
              </div>

              <div class="col-12 col-md-6 col-lg">
                <rk-infobox [active]="infoBoxes.harmful"  (change)="infoboxChanged($event, 'harmful')" [type]="2"
                  [title]="'Harmful Content'" className="yellow" [color]="'#f9df56'"
                  [valueOne]="trafficAnomaly?.harmful?.hitCount" [valueTwo]="trafficAnomaly?.harmful?.uniqueCount"
                  description="Pornogrphy, Adult, Gamblig gibi istenmeyen domainleri içerir.">
                </rk-infobox>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-4 pt-2"
              style="border-top: 1px solid rgba(68, 81, 101, 0.2);">
              <div style="width: 190px;">
                <div class="rk-selectable-table categories" style="width: auto !important;">
                  <div class="rk-item" *ngFor="let cat of categoryListFiltered"
                    [ngClass]="{ 'active' : selectedCategoryForTraffic == cat.id }" (click)="addCategoryToTraffic(cat)">
                    <div class="rk-i-header">
                      <div class="d-flex align-items-center">
                        <span class="rk-selectable-table-item-title"> {{ cat.name }} </span>
                        <span class="rk-selectable-badge">{{ cat.hitCount }} </span>
                      </div>
                      <i-feather name="arrow-right"></i-feather>
                    </div>

                    <rk-progressbar [value]="cat.ratio" [showType]="'outside'" [sizeType]="'small'">
                    </rk-progressbar>
                  </div>
                </div>
              </div>

              <div class="px-4" style="flex: 1;">
                <div class="chart" id="chart"></div>
              </div>

              <div>
                <div class="chart-info">
                  <div class="section">
                    <span class="section-title">Selected <br /> Time Hit</span>
                    <span class="value">{{ trafficAnomaly[selectedBox]?.currentHit }}</span>
                  </div>
                  <div class="section active">
                    <i-feather name="arrow-up"></i-feather>
                    <span class="value">{{ trafficAnomaly[selectedBox]?.ratio }}%</span>
                  </div>
                  <div class="section">
                    <div class="section-title">Avarage Hit</div>
                    <span class="value">{{ trafficAnomaly[selectedBox]?.averageHit }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-0 mt-lg-3 dashboard-domains-table">
          <!-- Malicious -->
          <div class="col-12 col-lg-4 mt-3 mt-lg-0 rk-panel">
            <div class="rk-panel-header rk-title-2">
              Malicious
            </div>
            <div class="rk-panel-item rk-info-table bg-white p-0" style="border-radius: 13px;">
              <rk-table-container class="overflow-hidden m-0">
                <rk-table [info]="true" [showPagination]="false">
                  <ng-template #header>
                    <tr>
                      <th class="index">#</th>
                      <th scope="col">
                        Domain
                      </th>
                      <th scope="col">
                        Count
                      </th>
                      <th scope="col" style="width: 200px">
                        Percent
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template #body>
                    <tr *ngFor="let domain of maliciousDomains; let index = index">
                      <td class="index">{{ index }}</td>
                      <td>
                        <a (click)="addDomain(domain)" class="anchor">{{ domain.name }}</a>
                      </td>
                      <td>{{ domain.hit }}</td>
                      <td>
                        <rk-progressbar [value]="75" [showType]="'outside'" [type]="'security'" [sizeType]="'small'">
                        </rk-progressbar>
                      </td>
                    </tr>
                  </ng-template>
                </rk-table>
              </rk-table-container>
            </div>
          </div>

          <!-- New Domains -->
          <div class="col-12 col-lg-4 mt-3 mt-lg-0 rk-panel">
            <div class="rk-panel-header rk-title-2">
              New Domains
            </div>
            <div class="rk-panel-item bg-white p-0" style="border-radius: 13px;">
              <rk-table-container class="overflow-hidden m-0">
                <rk-table [info]="true" [showPagination]="false">
                  <ng-template #header>
                    <tr>
                      <th class="index">#</th>
                      <th scope="col">
                        Domain
                      </th>
                      <th scope="col">
                        Count
                      </th>
                      <th scope="col" style="width: 200px">
                        Percent
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template #body>
                    <tr *ngFor="let domain of newDomains; let index = index">
                      <td class="index">{{ index }}</td>
                      <td>
                        <a (click)="addDomain(domain)" class="anchor">{{ domain.name }}</a>
                      </td>
                      <td>{{ domain.hit }}</td>
                      <td>
                        <rk-progressbar [value]="75" [showType]="'outside'" [type]="'primary'" [sizeType]="'small'">
                        </rk-progressbar>
                      </td>
                    </tr>
                  </ng-template>
                </rk-table>
              </rk-table-container>
            </div>
          </div>

          <!-- Harmful -->
          <div class="col-12 col-lg-4 mt-3 mt-lg-0 rk-panel">
            <div class="rk-panel-header rk-title-2">
              Harmful
            </div>
            <div class="rk-panel-item bg-white p-0" style="border-radius: 13px;">
              <rk-table-container class="overflow-hidden m-0">
                <rk-table [info]="true" [showPagination]="false">
                  <ng-template #header>
                    <tr>
                      <th class="index">#</th>
                      <th scope="col">
                        Domain
                      </th>
                      <th scope="col">
                        Count
                      </th>
                      <th scope="col" style="width: 200px">
                        Percent
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template #body>
                    <tr *ngFor="let domain of harmfulDomains; let index = index">
                      <td class="index">{{ index }}</td>
                      <td>
                        <a (click)="addDomain(domain)" class="anchor">{{ domain.name }}</a>
                      </td>
                      <td>{{ domain.hit }}</td>
                      <td>
                        <rk-progressbar [value]="75" [showType]="'outside'" [type]="'harmfull'" [sizeType]="'small'">
                        </rk-progressbar>
                      </td>
                    </tr>
                  </ng-template>
                </rk-table>
              </rk-table-container>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 rk-panel" style="margin-top: 30px;">
            <div class="d-flex align-items-center">
              <div class="rk-panel-header rk-title-2 mr-3">
                Malicious
              </div>

              <div class="tag-input-container">
                <tag-input [(ngModel)]="items" (onAdd)="onItemAdded($event)" [maxItems]="1"></tag-input>
              </div>

              <button class="btn btn-accent ml-3" (click)="search()">Search</button>
            </div>
            <div class="rk-panel-item bg-white p-0" style="flex: 1">
              <div class="unique-chart" id="unique-chart"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>