.dashboardIcon {
  padding: 0px !important;
  margin-top: -10px !important;
}

.dnsTooltip {
  background-color:red;
  color: yellow;
}

.linkNumber {
  color:white;
  cursor: pointer;
}

.linkNumber:hover {
    text-decoration: underline !important;
 }
