.dashboardIcon {
  padding: 0px !important;
  margin-top: -10px !important;
}

.dnsTooltip {
  background-color:red;
  color: yellow;
}

.linkNumber {
  color:white;
  cursor: pointer;
}

.linkNumber:hover {
    text-decoration: underline !important;
 }

.jqvmap-label {
  position: absolute;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #292929;
  color: #fff;
  font-family: sans-serif,Verdana;
  font-size: smaller;
  padding: 3px;
  pointer-events: none;
 }

.startBtn{
  width: 88%;
  min-width: 80px;
  height: 50px;
  margin-top: 20px;
  background-color: #4353ff;
 }
  
.tickIcon{
  width: 14px;
}

.subText{
   font-size: 13px;
 }

.subHeader{
  font-size: 14x;
  font-weight: 500;
}

.subImg{
  max-height: 140px;
}

.traffic-timeline {

  .timeline-sub-title {
    font-size: 12px;
    color : #ff7b00;
  }
}