<div class="main-content">
  <div class="container-fluid mt-3 mb-3">
    <div class="row mx-0">
      <div class="col-12 p-0">
        <div class="container-fluid dashboard">
          <div class="row infos">
            <div class="col-12 col-lg-4 d-flex justify-content-lg-around justify-content-md-between"
              *ngFor="let data of agentCounts">
              <h5 class="title">{{ data.name | translate }}</h5>

              <div class="values">
                <div class="active">
                  <span class="name">{{'Active' | translate}}</span>
                  <span class="value">{{ data.activeCount }}</span>
                </div>

                <div class="passive">
                  <span class="name">{{'Passive'|translate}}</span>
                  <span class="value">{{ data.passiveCount }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="rk-base-card p-0">
              <div class="card-item content" style="padding: 20px 0;">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="rk-title-2">{{'DASHBOARD.TrafficBasedAnomaly'|translate}}</div>

                        <div class="d-flex align-items-start justify-content-end">
                          <button class="btn btn-small mr-2 d-none d-xl-flex" *ngFor="let dateButton of dateButtons"
                            (click)="setDateByDateButton(dateButton)"
                            [ngClass]="{'active': dateButton?.active}">{{ dateButton.displayText }}</button>

                          <icon-equal style="margin: 11px 10px 0" class="d-none d-xl-block"></icon-equal>

                          <div class="d-flex flex-column text-center">
                            <rk-date #date [startDate]="startDate" [endDate]="endDate"
                              (complete)="dateChanged($event, true)" [alignment]="'right'" [config]="dateConfig">
                            </rk-date>

                            <span class="date-text mt-1">{{ dateText }}</span>

                            <!-- <span class="date-text mt-1" *ngIf="diffrence">{{ diffrence }} gün</span> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-lg-6 col-xl mt-3">
                      <rk-infobox [active]="infoBoxes.total" (change)="infoboxChanged($event, 'total', 'Total')"
                        [title]="translate('Total')" [color]="'#4353ff'" className="blue" [type]="1"
                        [valueOne]="trafficAnomaly?.total?.hit" [valueTwo]="trafficAnomaly?.total?.block"
                        [description]="translate('DASHBOARD.TotalDnsRequestCount')">
                      </rk-infobox>
                    </div>

                    <div class="col-12 col-lg-6 col-xl mt-3">
                      <rk-infobox [active]="infoBoxes.safe" [type]="2" (change)="infoboxChanged($event, 'safe', 'Safe')"
                        [title]="translate('Safe')" [color]="'#3dd49a'" className="green"
                        [valueOne]="trafficAnomaly?.safe?.hit" [valueTwo]="trafficAnomaly?.safe?.hit_ratio"
                        description="{{'SafeDescription'|translate}}">
                      </rk-infobox>
                    </div>

                    <div class="col-12 col-lg-6 col-xl mt-3">
                      <rk-infobox [active]="infoBoxes.malicious"
                         (change)="infoboxChanged($event, 'malicious', 'Malicious')" [type]="2"
                        [title]="translate('Malicious')" className="red" [color]="'#f95656'"
                        [valueOne]="trafficAnomaly?.malicious?.hit" [valueTwo]="trafficAnomaly?.malicious?.hit_ratio"
                        description="{{'MaliciousDescription'|translate}}">
                      </rk-infobox>
                    </div>

                    <div class="col-12 col-lg-6 col-xl mt-3">
                      <rk-infobox [active]="infoBoxes.variable"
                        (change)="infoboxChanged($event, 'variable', 'Variable')" [type]="2"
                        [title]="translate('Variable')" className="gray" [color]="'#a6a6a6'"
                        [valueOne]="trafficAnomaly?.variable?.hit" [valueTwo]="trafficAnomaly?.variable?.hit_ratio"
                        description="{{'VariableDescription'|translate}}">
                      </rk-infobox>
                    </div>

                    <div class="col-12 col-lg-6 col-xl mt-3">
                      <rk-infobox [active]="infoBoxes.harmful"
                         (change)="infoboxChanged($event, 'harmful', 'HarmfullContent')" [type]="2"
                        [title]="translate('HarmfullContent')" className="yellow" [color]="'#f9df56'"
                        [valueOne]="trafficAnomaly?.harmful?.hit" [valueTwo]="trafficAnomaly?.harmful?.hit_ratio"
                        description="{{'HarmfulDescription'|translate}}">
                      </rk-infobox>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-12">
                      <div class="section-card">

                        <div class="container-fluid">
                          <div class="row">
                            <div class="categories-column mt-3 d-flex flex-column justify-content-between"
                              style="border-right: 1px solid var(--infobox-border);">
                              <h6 class="rk-title-1">
                                {{ selectedCategoryName | translate }}
                                <span *ngIf="selectedBox !== 'total'">{{ 'Categories' | translate }}</span>
                              </h6>

                              <div class="rk-selectable-container mb-2" style="max-height: 320px;">
                                <table class="rk-selectable-table w-100">
                                  <tr *ngFor="let cat of categoryListFiltered; let index = index"
                                    class="rk-c-{{ selectedBox }}"
                                    [ngClass]="{ 'active' : selectedCategory?.name == cat.name }"
                                    (click)="selectCategory(cat)" [title]="cat.name">
                                    <td class="idx pr-1">{{ index + 1 }}</td>
                                    <td class="text">
                                      <div class="overflowed-text">
                                        {{ cat.name }}
                                      </div>
                                    </td>
                                    <td class="value">{{ getRoundedNumber(cat.hit) }}</td>
                                    <td class="percent">%{{ cat.hit_ratio }}</td>
                                  </tr>
                                </table>
                              </div>
                            </div>

                            <div class="anomaly-chart mt-3">
                              <div class="d-flex flex-wrap justify-content-end align-items-center" *ngIf="trafficChart">
                                <!-- <button class="btn btn-link btn-accent py-0" style="background: transparent;"
                                  (click)="showSummary()">{{'DASHBOARD.ShowSummary'|translate}}</button> -->

                                <div class="d-flex align-items-center justify-content-end">
                                  <button class="btn btn-link btn-icon py-0 bg-transparent"
                                    *ngIf="calculateDateDiff() <= 7" (click)="getDataByTime('prev', 7)">
                                    <i-feather name="arrow-left"></i-feather>
                                    {{ 'PreviousWeek' | translate }}
                                  </button>

                                  <button class="btn btn-link btn-icon py-0 bg-transparent"
                                    *ngIf="calculateDateDiff() <= 7" [disabled]="getDisabledNextButton('week')"
                                    (click)="getDataByTime('next', 7)">
                                    {{ 'NextWeek' | translate }}
                                    <i-feather name="arrow-right"></i-feather>
                                  </button>

                                  <button class="btn btn-link btn-icon py-0 bg-transparent"
                                    *ngIf="calculateDateDiff() >= 30 && calculateDateDiff() < 90"
                                    (click)="getDataByTime('prev', 30)">
                                    <i-feather name="arrow-left"></i-feather>
                                    {{ 'PreviousMonth' | translate }}
                                  </button>

                                  <button class="btn btn-link btn-icon py-0 bg-transparent"
                                    *ngIf="calculateDateDiff() >= 30 && calculateDateDiff() < 90"
                                    (click)="getDataByTime('next', 30)">
                                    {{ 'NextMonth' | translate }}
                                    <i-feather name="arrow-right"></i-feather>
                                  </button>

                                  <button class="btn btn-link btn-icon py-0 bg-transparent"
                                    *ngIf="calculateDateDiff() >= 90" [disabled]="calculateDateDiff() >= 365"
                                    (click)="getDataByTime('prev', 90)">
                                    <i-feather name="arrow-left"></i-feather>
                                    {{ 'Previous3Month' | translate }}
                                  </button>

                                  <button class="btn btn-link btn-icon py-0 bg-transparent"
                                    *ngIf="calculateDateDiff() >= 90" [disabled]="calculateDateDiff() >= 365"
                                    (click)="getDataByTime('next', 90)">
                                    {{ 'Next3Month' | translate }}
                                    <i-feather name="arrow-right"></i-feather>
                                  </button>

                                  <button class="btn btn-small btn-outline"
                                    (click)="showDetail()">{{'DASHBOARD.ShowDetail'|translate}}</button>
                                </div>
                              </div>

                              <div class="chart" id="chart" style="cursor: pointer;"></div>

                              <div class="chart-legends pb-2">
                                <div>
                                  <svg width="32px" height="18px" viewBox="0 0 32 18" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title>Path 11</title>
                                    <g id="news-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <g id="Dashboard_NewsV3_2-1" transform="translate(-531.000000, -366.000000)"
                                        fill="#0084FF" fill-rule="nonzero">
                                        <g id="Group-5" transform="translate(531.000000, 366.000000)">
                                          <path
                                            d="M8.925,13.069 L13.4547287,0.048300992 L17.919,13.063 L21.7923731,8.4397043 L25.669,13.117 L30.0789897,2.69339894 C30.2787589,2.22107187 30.7989526,1.98216467 31.2795083,2.12269488 L31.3895383,2.16192696 C31.8618654,2.36169616 32.1007726,2.8818898 31.9602424,3.36244556 L31.9210103,3.47247553 L26.2300552,16.9279642 L21.784,11.564 L17.1771197,17.0648397 L13.441,6.173 L9.642422,17.0945481 L5.178,11.658 L1.75959065,15.6504014 C1.42801515,16.0376418 0.864618246,16.1090835 0.449947545,15.8352573 L0.349598556,15.7595907 C-0.0376417523,15.4280151 -0.109083535,14.8646182 0.16474266,14.4499475 L0.240409346,14.3495986 L5.20998618,8.54573057 L8.925,13.069 Z"
                                            id="Path-11"></path>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>

                                  <span>{{ 'QueryCount' | translate }}</span>

                                  <svg width="35px" height="11px" viewBox="0 0 35 11" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title>Path 9</title>
                                    <g id="news-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <g id="Dashboard_NewsV3_2-1" transform="translate(-646.000000, -371.000000)"
                                        [attr.fill]="theme === 'white' ? '#DEEFFF' : '#004175'" fill-rule="nonzero">
                                        <g id="Group-2" transform="translate(648.000000, 362.000000)">
                                          <path
                                            d="M0.735672893,11.6412016 L0.890363413,11.5735766 C4.72858588,9.90252752 8.20363703,9.187797 11.7533089,9.91607336 C13.4948769,10.273386 15.1382127,10.9843312 16.6494134,12.0681477 L16.995791,12.324887 C20.6369275,15.1126316 24.3336031,14.3432983 27.4250808,10.4257824 L27.6098379,10.1869569 L32.3901621,13.8130431 C27.3826984,20.4144582 19.9102401,22.1128833 13.3483285,17.0889207 C12.4689657,16.4156587 11.5433597,15.9979778 10.547424,15.7936444 C8.55469623,15.384802 6.30901217,15.8094692 3.66576666,16.9126215 L3.28544004,17.0748135 C2.9676553,17.2131677 2.71703039,17.3261453 2.39272302,17.4787711 L1.30769393,17.9995735 L-1.30769393,12.599597 L0.0205316787,11.9642288 C0.265164101,11.8504263 0.484836486,11.7513512 0.735672893,11.6412016 Z"
                                            id="Path-9"></path>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>

                                  <span>{{ 'LearnedNormalTrafficRange' | translate }}</span>
                                </div>

                                <div>
                                  <span>{{ 'TrafficExcessRate' | translate }}:</span>

                                  <span>
                                    <div class="color" style="background: #507df3;"></div> %20
                                  </span>

                                  <span>
                                    <div class="color" style="background: #6158ca;"></div> %40
                                  </span>

                                  <span>
                                    <div class="color" style="background: #7c26bd;"></div> %60
                                  </span>

                                  <span>
                                    <div class="color" style="background: #9c1e6c;"></div> %80
                                  </span>

                                  <span>
                                    <div class="color" style="background: #c41505;"></div> %100
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-12">
                      <div class="section-card">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-12 mt-3" style="border-bottom: 1px solid var(--infobox-border);">
                              <h6 class="rk-title-1">{{ selectedCategoryName | translate }}
                                {{ 'TopDomainList' | translate }}
                              </h6>
                            </div>

                            <div class="top-domain-list-column d-flex flex-column"
                              style="border-right: 1px solid var(--infobox-border);">
                              <div class="rk-selectable-container" style="max-height: 340px;">
                                <table class="rk-selectable-table">
                                  <thead>
                                    <tr>
                                      <th style="width: 30px">#</th>
                                      <th style="width: 100px">{{'Domain'|translate}}</th>
                                      <th style="width: 120px">{{'Categories'|translate}}</th>
                                      <th>{{'Count'|translate}}</th>
                                      <th style="width: 60px;">{{'Percent'|translate}}</th>
                                    </tr>
                                  </thead>

                                  <tbody class="rk-selectable-table-body">
                                    <tr *ngFor="let domain of topDomains; let index = index"
                                      [ngClass]="{'active': items[0]?.value === domain.name}"
                                      (click)="addDomain(domain)" class="rk-c-{{ selectedBox }}">
                                      <td class="idx" style="width: 40px">{{ index + 1 }}</td>
                                      <td class="text">
                                        <div class="overflowed-text">{{ domain.name }}</div>
                                      </td>
                                      <td class="text">
                                        <div class="overflowed-text">{{domain.category}}</div>
                                      </td>
                                      <td class="value">{{ getRoundedNumber(domain.hit) }}</td>
                                      <!-- <td>
                                        <rk-progressbar-n [value]="100 * domain.hit / topDomainsCountTotal | number">
                                        </rk-progressbar-n>
                                      </td> -->
                                      <td class="percent">
                                        %{{100 * domain.hit / topDomainsCountTotal | number}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>

                            <div class="top-domain-chart pt-2 d-flex flex-column justify-content-between">
                              <div class="search d-flex justify-content-between">
                                <div class="tag-input-container w-100">
                                  <tag-input [(ngModel)]="items" (onAdd)="onItemAdded($event)" [maxItems]="1">
                                  </tag-input>
                                </div>

                                <button class="btn btn-accent ml-3" (click)="search()">{{'Search'|translate}}</button>
                              </div>

                              <div class="unique-chart" id="topDomainChart"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>