<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <div class="rk-title-2">{{'DASHBOARD.TrafficBasedAnomaly'|translate}}</div>
      <div class="d-flex align-items-start justify-content-end">
        <div class="d-flex flex-column text-center">
          <rk-date #date [startDate]="startDate" [endDate]="endDate" [times]="times"
            (complete)="dateChanged($event, true)" [alignment]="'right'" [config]="dateConfig">
          </rk-date>
          <span class="date-text mt-1">{{ dateText }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
