<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <div class="rk-title-2">{{'DASHBOARD.TrafficBasedAnomaly'|translate}}</div>
      <div class="d-flex align-items-start justify-content-end">
        <button class="btn btn-small mr-2 d-none d-xl-flex dashboard-date-btn"
        *ngFor="let dateButton of dateButtons" (click)="setDateByDateButton(dateButton)"
                [ngClass]="{'active': dateButton?.active}">{{dateButton.displayText}}</button>

        <icon-equal style="margin: 11px 10px 0" class="d-none d-xl-block"></icon-equal>

        <div class="d-flex flex-column text-center">
          <rk-date #date [startDate]="startDate" [endDate]="endDate"
            (complete)="dateChanged($event, true)" [alignment]="'right'" [config]="dateConfig">
          </rk-date>
          <span class="date-text mt-1">{{ dateText }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
