<div class="main-content">
  <div class="container-fluid col-md-11">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-info">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Devices:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#profile" data-toggle="tab">
                      <i class="material-icons">select_all</i> All
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#messages" data-toggle="tab">
                      <i class="material-icons">save</i> Registered
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#settings" data-toggle="tab">
                      <i class="material-icons">waves</i> Unregistered
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let device of devices">
                      <td>
                        <div [ngSwitch]="device.checked">
                          <div *ngSwitchCase="true">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" checked>
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </div>
                          <div *ngSwitchDefault>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </div>

                        </div>
                      </td>
                      <td>{{device.title}}</td>
                      <td>{{device.macid}}</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Device" [matTooltipPosition]="'left'"
                          class="btn btn-primary btn-link btn-sm">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'left'" class="btn btn-danger btn-link btn-sm">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="messages">
                <table class="table">
                  <tbody>
                    <ng-container *ngFor="let device of devices">
                      <tr *ngIf="device.checked">
                        <td>
                          <div [ngSwitch]="device.checked">
                            <div *ngSwitchCase="true">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked>
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </div>
                            <div *ngSwitchDefault>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>{{device.title}}</td>
                        <td>{{device.macid}}</td>
                        <td class="td-actions text-right">
                          <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm">
                            <i class="material-icons">edit</i>
                          </button>
                          <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                            class="btn btn-danger btn-link btn-sm">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                    </ng-container>

                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="settings">
                <table class="table">
                  <tbody>
                    <ng-container *ngFor="let device of devices">
                      <tr *ngIf="!device.checked">
                        <td>
                          <div [ngSwitch]="device.checked">
                            <div *ngSwitchCase="true">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked>
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </div>
                            <div *ngSwitchDefault>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>{{device.title}}</td>
                        <td>{{device.macid}}</td>
                        <td class="td-actions text-right">
                          <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm">
                            <i class="material-icons">edit</i>
                          </button>
                          <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                    </ng-container>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>