.devicePanel
  width: 100%
  left: 0
  top: 0
  position: absolute

.wizardPanel
  width: 100%
  right: 0
  top: 0
  position: absolute

.item-wrapper
  float: left
  width: 100%

.item
  height: 80px
  width: 200px
  background-color: #dddddd
  margin: 4px
  display: inline-block
  border-radius: 4px