<div class="main-content">
  <div class="container-fluid col-md-11">
    <section id="devicePanel" class="devicePanel">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card mt-1">
            <div class="card-header card-header-icon card-header-info">
              <div class="card-icon">
                <i class="material-icons">all_inbox</i>
              </div>
              <h4 class="card-title ">Boxes</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive" style="max-height:230px; min-height: 200px;">
                <table class="table">
                  <thead class="text-warning">
                    <tr>
                      <th>Box Headers</th>
                      <th>Security Profile</th>
                      <th>Is Captive Portal</th>
                      <th>Is CP Enabled</th>
                      <th>Message</th>
                      <th>Operation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let b of boxAgents">
                      <td>{{b.agentAlias}}</td>
                      <td>profile XYZ</td>
                      <td>{{b.captivePortalIp}}</td>
                      <td>{{b.isCpEnabled}}</td>
                      <td>{{b?.blockMessage?b.blockMessage:"---"}}</td>
                      <td class="text-center">
                        <button mat-raised-button type="button" class="btn btn-info btn-just-icon btn-sm"
                          mattooltip="Edit item" (click)="showEditWizard('BOX', b.id)">
                          <i class="material-icons">settings</i>
                        </button>
                        <button mat-raised-button type="button" class="btn btn-danger btn-just-icon btn-sm"
                          mattooltip="Delete item" (click)="deleteBox(b.id)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="card mt-1">
            <div class="card-header card-header-icon card-header-warning">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title ">Unregistered Agents ({{unregisteredCount}})</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive" style="max-height: 270px;  min-height: 250px;">
                <table class="table">
                  <thead class="text-warning">
                    <tr>
                      <th>Name</th>
                      <th class="text-left">Security Profile</th>
                      <th class="text-right">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let agent of unregistered">
                      <td>{{agent.agentAlias}}</td>
                      <td class="text-left">
                        <mat-form-field>
                          <mat-select placeholder="Security Profiles"
                            (selectionChange)="securityProfileChanged(agent.agentAlias, $event.value)">
                            <mat-option *ngFor="let p of securityProfiles" [value]="p.id">{{p.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" class="btn btn-warning"
                          (click)="showNewWizard('DEVICE', agent.id)">
                          <i class="material-icons">settings</i> New Profile
                        </button>
                        <button mat-raised-button type="button" class="btn btn-success ml-1"
                          [disabled]="!isNewProfileSelected"
                          [ngClass]="{'btn-success' : isNewProfileSelected, 'btn-default' : !isNewProfileSelected}"
                          (click)="showNewWizard('DEVICE', agent.id)">
                          <i class="material-icons">check</i>Save
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 ml-auto mr-auto">
          <div class="card mt-1">
            <div class="card-header card-header-icon card-header-success">
              <div class="card-icon">
                <i class="material-icons">save</i>
              </div>
              <h4 class="card-title">Registered Agents ({{registeredCount}})</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive" style="max-height: 270px;  min-height: 250px;">
                <table class="table">
                  <thead class="text-warning">
                    <tr>
                      <th>Name</th>
                      <th class="text-left">Security Profile</th>
                      <th class="text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let agent of deviceAgents">
                      <td>{{agent.agentAlias}}</td>
                      <td class="text-left">
                        <button mat-raised-button type="button" class="btn btn-info btn-sm btn-just-icon"
                          (click)="showEditWizard('DEVICE', agent.id)">
                          <i class="material-icons">settings</i>
                        </button>
                        Profile-{{agent.agentAlias}}
                      </td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" class="btn btn-danger mr-1"
                          (click)="deleteAgent(agent)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="wizardPanel" class="wizardPanel" style="display: none;" *ngIf="device">
      <div class="row">
        <div class="col-md-12">
          <button mat-raised-button type="button" class="btn btn-warning" (click)="hideWizard()">
            <i class="material-icons">arrow_back</i>
          </button>
          <app-profile-wizard [selectedAgent]="selectedAgent" [startWizard]="startWizard" (saveEmitter)="hideWizardWithoutConfirm();">
          </app-profile-wizard>
        </div>
      </div>
    </section>
  </div>
</div>
<style>
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 9px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888888;
  }
</style>