.devicePanel
  width: 100%
  left: 0
  top: 0
  position: absolute

.wizardPanel
  width: 100%
  right: 0
  top: 0
  position: absolute

.baseTableRow
  background-color: #181818


.row-tabs
  width: 100%
  display: inline-flex
  justify-content: space-between

.single-row
  display: inline-block !important
  width: fit-content !important
  flex: 0 !important
