<div class="row"> 
  <div class="col-md-6 ml-auto mr-auto">
    <div class="col-lg-12 cards">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">PAGE NOT FOUND</h6>
          <div class="card-icon icon-info">
            <i class="material-icons">pan_tool</i>
          </div>
          <h3 class="card-title">404</h3>
          <p class="card-description">
            The page you are looking for might have been changed or removed or temporarily unavailable.
          </p>
          <a href="/admin" class="btn btn-info btn-round">GO TO HOMEPAGE</a>
        </div>
      </div>
    </div>
  </div>
</div>