<div class="container">
  <div class="row">
    <div class="main-content">
      <div class="logo">
        <h2 class="side-lines">{{title}}</h2>
      </div>
      <div class="title">
        <h1>{{'PAGENOTFOUND.404'|translate}}</h1>
        <h5>{{'PAGENOTFOUND.Title'|translate}}</h5>
        <h5>{{'PAGENOTFOUND.Sorry'|translate}}</h5>
      </div>
      <div class="action-btn">
        <a href="#/admin/dashboard">{{'PAGENOTFOUND.Continue'|translate}}</a>
      </div>
      
    </div>
  </div>
</div>