<div class="toolbar">
  <a href="{{ getPath() }}" class="page text-capitalize" routerLinkActive="router-link-active">
    {{ getTitle[1] }}
    <ng-container *ngIf="getTitle?.length > 2">
      <span class="sub-page-title" *ngFor="let t of getTitle?.splice(2)">/ {{ getCleanText(t) }}</span>
    </ng-container>
  </a>

  <div class="account">
    <button class="notification-btn ripple">
      <i-feather name="bell"></i-feather>
      <div class="btn-badge">23</div>
    </button>

    <div class="border"></div>

    <div class="account-dropdown">
      <rk-avatar>
        <div class="rk-img">
          <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="" />
        </div>
        <div class="rk-text">
          Cihan
        </div>
        <div class="rk-dropdown">
          <div class="rk-dropdown-title">Account</div>
          <li>
            <a [routerLink]="['/admin/accountsettings']" routerLinkActive="router-link-active" class="dropdown-item">
              <i-feather name="settings"></i-feather>
              Account Settings
            </a>
          </li>
          <li>
            <a (click)="logout()" class="dropdown-item">
              <i-feather name="log-out"></i-feather>
              Exit
            </a>
          </li>
        </div>
      </rk-avatar>
    </div>
  </div>
</div>