<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="toolbar mt-1">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div style="max-width: 210px; overflow: hidden;">
            <img *ngIf="theme == 'white'" src="/assets/img/{{  host.logoImage }}" alt="logo" class="responsive-img">
            <img *ngIf="theme != 'white'" src="/assets/img/{{ host.logoDarkImage }}" alt="logo" class="responsive-img">
          </div>

          <div class="account">
            <!--<div *ngIf="!isCmerp() && !isDnssense()" class="btn-group" dropdown placement="bottom right">
              <button class="notification-btn ripple" dropdownToggle type="button">
                <i-feather name="globe"></i-feather>
                <div class="btn-badge" style="background: var(&#45;&#45;primary);">{{currentLanguage}}</div>
              </button>

              <div *dropdownMenu class="dropdown-menu dropdown-menu-right rk-list-dropdown-container" role="menu">
                <div class="rk-dropdown">
                  <li>
                    <a style="cursor: pointer;" (click)="setLanguage('tr')">{{'LANGUAGE.TR'|translate}}</a>
                  </li>
                  <li>
                    <a style="cursor: pointer;" (click)="setLanguage('en')">{{'LANGUAGE.EN'|translate}}</a>
                  </li>
                </div>
              </div>
            </div>-->

            <a [href]="helpRoute" *ngIf="!isCmerp() && !isDnssense()" target="_blank"
              class="btn btn-small btn-icon btn-link notification-btn">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#7B8AA1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.09003 9.00002C9.32513 8.33169 9.78918 7.76813 10.4 7.40915C11.0108 7.05018 11.7289 6.91896 12.4272 7.03873C13.1255 7.15851 13.7588 7.52154 14.2151 8.06355C14.6714 8.60555 14.9211 9.29154 14.92 10C14.92 12 11.92 13 11.92 13" stroke="#7B8AA1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 17H12.01" stroke="#7B8AA1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>

            <!-- !!!Gecici olarak kaldirildi. -->
            <!-- <div class="btn-group" dropdown placement="bottom right">
              <button class="notification-btn ripple" dropdownToggle type="button">
                <i-feather name="bell"></i-feather>
                <div class="btn-badge">{{ unReadedNotificationsCount }}</div>
              </button>

              <div *dropdownMenu class="dropdown-menu dropdown-menu-right rk-list-dropdown-container" role="menu">
                <div class="rk-list">
                  <div class="rk-list-header">
                    <div class="rk-list-header-title">Notifications <span
                        class="length">({{ unReadedNotificationsCount }})</span>
                    </div>
                  </div>

                  <div class="rk-list-body">
                    <div class="rk-list-item" *ngFor="let notification of notifications"
                      (click)="setAsRead(notification)"
                      [ngStyle]="{'background': notification.status === 1 ? 'rgba(0,0,0,.05)' : 'white'}">
                      <div class="text">
                        {{notification.message}}
                      </div>

                      <div class="arrow">
                        <i-feather name="chevron-right"></i-feather>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="border-line navbar-border"></div>

            <div class="account-dropdown lg">
              <rk-avatar>
                <div class="rk-img">
                  <img src="/assets/img/default-avatar.png" alt="" />
                </div>
                <div class="rk-text" style="text-transform: capitalize;" *ngIf="currentUser.parentId < 1">
                  {{ currentUser?.name }}
                </div>
                <div class="rk-dropdown">
                  <div class="rk-dropdown-title">{{"NAVBAR.Account" | translate}}</div>
                  <li *ngIf="currentUser.parentId < 1">
                    <a [routerLink]="['/admin/account-settings']" routerLinkActive="router-link-active"
                      class="dropdown-item">
                      <i-feather name="settings"></i-feather>
                      {{"NAVBAR.AccountSettings" | translate}}
                    </a>
                  </li>
                  <li>
                    <a (click)="logout()" class="dropdown-item">
                      <i-feather name="log-out"></i-feather>
                      {{"NAVBAR.Exit" | translate}}
                    </a>
                  </li>
                </div>
              </rk-avatar>
            </div>

            <button class="collapse-btn __navbar ripple" (click)="sidebar.toggle()">
              <i-feather name="menu"></i-feather>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<rk-modal #sidebar className="mobile-menu">
  <rk-modal-body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-icon btn-link bg-transparent px-0" (click)="sidebar.toggle()">
            <i-feather name="x" class="mr-0"></i-feather>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="account-dropdown w-100">
            <rk-avatar>
              <div class="rk-img">
                <img src="/assets/img/default-avatar.png" alt="" />
              </div>
              <div class="rk-text" style="text-transform: capitalize;">
                {{ currentUser?.name }}
              </div>
              <div class="rk-dropdown">
                <div class="rk-dropdown-title">{{"NAVBAR.Account" | translate}}</div>
                <li>
                  <a [routerLink]="['/admin/account-settings']" routerLinkActive="router-link-active"
                    class="dropdown-item">
                    <i-feather name="settings"></i-feather>
                    {{"NAVBAR.AccountSettings" | translate}}
                  </a>
                </li>
                <li>
                  <a (click)="logout()" class="dropdown-item">
                    <i-feather name="log-out"></i-feather>
                    {{"NAVBAR.Exit" | translate}}
                  </a>
                </li>
              </div>
            </rk-avatar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <rk-menu [menuItems]="_menuItems" [hideToggle]="true" (onMenuSelected)="menuSelected()" [hiddenMenus]="config.host?.hiddenMenus"></rk-menu>
        </div>
      </div>
    </div>
  </rk-modal-body>
</rk-modal>
