<div class="rk-base-card">
  <div class="card-item">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0">
          <h5 class="page-title">{{'QueryCategory'|translate}}</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 p-0 mt-3">
          <div class="rk-basic-card">
            <p></p>

            <form [formGroup]="searchForm">
              <div class="search d-flex align-items-center justify-content-between">
                <div class="rk-autocomplete-container w-100 mr-2">
                  <input type="text" class="rk-input rk-autocomplete" placeholder="Enter domain" [(ngModel)]="domain"
                    (ngModelChange)="checkDomain('category')" formControlName="domain"
                    (keydown.space)="$event.preventDefault()" (keydown.enter)="isDomain ? searchCategory() : null" [ngStyle]="{'border-color': domain?.length > 1 && isDomain ? '#3397c5' : '#f95656'}">
                  <i-feather name="search" class="search-icon"></i-feather>
                </div>

                <button class="btn btn-small" (click)="searchCategory()" [disabled]="!isDomain" type="button">{{ 'Search' | translate }}</button>
              </div>
            </form>

            <table class="table mt-3">
              <tr>
                <td class="color-898ea4">
                  <div class="d-flex align-items-center justify-content-between">
                    <b>{{'Domain'|translate}}</b>
                    <b>:</b>
                  </div>
                </td>
                <td class="color-898ea4">{{ categoryQuery?.domain }}</td>
              </tr>
              <tr>
                <td class="color-898ea4">
                  <div class="d-flex align-items-center justify-content-between">
                    <b>{{'Categories'|translate}}</b>
                    <b>:</b>
                  </div>
                </td>
                <td class="color-898ea4">
                  <div class="mt-1" *ngFor="let category of categoryQuery?.categoryList">
                    {{ category }}
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


