<ul class="sidebar-list">
    <li class="sidebar-list-item collapse-btn">
        <a class="ripple" (click)="toggleCollapse()">
            <i-feather *ngIf="collapsed" name="bar-chart-2"></i-feather>
            <i-feather *ngIf="!collapsed" name="chevron-down"></i-feather>
        </a>
    </li>

    <li class="sidebar-list-item" [ngClass]="{'active': menuItem.selected}" *ngFor="let menuItem of _menuItems">
        <a class="ripple" (click)="setActive(menuItem)" [routerLink]="!menuItem.subMenu ? [menuItem.path] : []"
            routerLinkActive="active">
            <icon-for-menu [type]="menuItem.icon"></icon-for-menu>
            <span class="text">{{ menuItem.text }}</span>
            <i-feather name="chevron-down" class="dropdown-icon" *ngIf="menuItem.subMenu"></i-feather>
        </a>

        <ul class="dropdown sidebar-list" *ngIf="menuItem.subMenu">
            <li class="sidebar-list-item" [ngClass]="{'active': subMenuItem.selected}"
                *ngFor="let subMenuItem of menuItem.subMenu">
                <a (click)="setActive(menuItem,subMenuItem)" [routerLink]="[menuItem.path + subMenuItem.path]"
                    routerLinkActive="active">
                    <icon-for-menu [type]="subMenuItem.icon"></icon-for-menu>
                    <span class="text">{{ subMenuItem.text }}</span>
                </a>
            </li>
        </ul>
    </li>
</ul>