<rk-modal #modal>
  <rk-modal-header icon="filter">
    <rk-modal-header-title>
      <h5>Filtrele</h5>
    </rk-modal-header-title>
    <rk-modal-header-close (click)="modal.toggle()"></rk-modal-header-close>
  </rk-modal-header>

  <rk-modal-body>

    <div class="rk-modal-item">
      <h5>Saved Reports</h5>

      <rk-accordion activeNumber="1">
        <rk-accordion-panel>
          <div class="rk-accordion-title">
            User Saved Reports
          </div>

          <div class="rk-accordion-body">
            <div class="rk-radio my-0" *ngFor="let report of savedReports; let index = index">
              <input type="radio" id="savedReport-{{ index }}" [(ngModel)]="savedReportValue" name="savedReport" [value]="report.id">
              <label for="savedReport-{{ index }}">{{ report.name }}</label>
            </div>
          </div>
        </rk-accordion-panel>

        <rk-accordion-panel>
          <div class="rk-accordion-title">
            System Default Reports
          </div>

          <div class="rk-accordion-body">
            <ul>
              <li *ngFor="let report of systemSavedReports; let index = index" class="mt-3">
                <div class="rk-radio my-0">
                  <input type="radio" id="systemSavedReport-{{ index }}" [(ngModel)]="savedReportValue" name="savedReport" [value]="report.id">
                  <label for="systemSavedReport-{{ index }}">{{ report.name }}</label>
                </div>
              </li>
            </ul>
          </div>
        </rk-accordion-panel>
      </rk-accordion>
    </div>

    <div class="rk-modal-item">
      <h5 class="modal-item title">Action</h5>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-6">
            <rk-radio name="actionType" class="rk-radio-m-0" selected="true">Allow</rk-radio>
          </div>
          <div class="col-12 col-md-6">
            <rk-radio name="actionType" class="rk-radio-m-0">Deny</rk-radio>
          </div>
        </div>
      </div>
    </div>

    <div class="rk-modal-item">
      <h5 class="modal-item title">Add Filter</h5>

      <rk-select [(value)]="selectedColumnFilter" [options]="columnFilterOptions"></rk-select>

      <div class="d-flex mt-2">
        <button class="btn btn-icon btn-small w-100 filter-btn-outline mr-2" [ngClass]="{'btn-outline-active': isEqual}"
          (click)="isEqual = true">
          <icon-equal></icon-equal>
        </button>

        <button class="btn btn-icon btn-small w-100 filter-btn-outline" [ngClass]="{'btn-outline-active': !isEqual}"
          (click)="isEqual = false">
          <icon-not-equal></icon-not-equal>
        </button>
      </div>

      <input type="text" class="rk-input w-100 mt-3" [(ngModel)]="filterText" placeholder="abc.com">
    </div>

    <div class="rk-modal-item" style="height: 1px; border-bottom: none;">
      <h5 class="modal-item title">Category</h5>

      <div class="rk-category-container mt-3" *ngFor="let category of groupedCategories; let index = index"
        [ngClass]="{'mb-3': groupedCategories.length -1 === index}">
        <div class="category-header">
          <rk-checkbox class="checkbox" size="sm" className="m-0" (valueChange)="checkboxValueChange($event, category)">
          </rk-checkbox>

          <span class="category-color" [style.background]="category.color"></span>

          <h6 class="category-title">{{ category.name }}</h6>
        </div>

        <div class="category-body">
          <div class="category-item" *ngFor="let item of category.items">
            <rk-checkbox size="sm" alignment="right" [(value)]="item.selected">{{ item.name }}</rk-checkbox>
          </div>
        </div>
      </div>
    </div>
  </rk-modal-body>

  <rk-modal-footer>
    <button class="btn w-100 btn-small mr-2">Apply</button>
    <button class="btn w-100 btn-default btn-small">Clean</button>
  </rk-modal-footer>
</rk-modal>

<div class="monitor-traffic-search">
  <div class="filter-left">
    <span class="monitor-title"> Monitor Traffic</span>

    <div class="traffic-types">
      <rk-radio name="trafficType" checked="true" (valueChange)="onValueChange(true)">Total traffic</rk-radio>
      <rk-radio class="m-l-10" name="trafficType" (valueChange)="onValueChange(false)">Block Page</rk-radio>
    </div>
  </div>

  <div class="filter-right">
    <div style="min-width: 200px;">
      <rk-select [(value)]="searchSetting.dateInterval" (valueChange)="onSelectedDateChange($event)" [options]="options"
        [placeholder]="'Date selection'"></rk-select>
    </div>
    <div>
      <button class="btn btn-small btn-icon ml-2" (click)="modal.toggle()">
        <i-feather name="shopping-cart"></i-feather>
        Filtreler
      </button>
    </div>
  </div>
</div>

<div class="filters rk-row" *ngIf="filters.length > 0">
  <span>Filter;</span>
  <div *ngFor="let filter of filters" class="m-l-8">
    <rk-filter-badge [name]="filter.name" [equal]="filter.equal" [values]="filter.values"></rk-filter-badge>
  </div>
</div>