.monitor-traffic-search {
  display: flex;
  align-items: center;

  .filter-left {
    flex-grow: 1;

    display: flex;
    align-items: center;
  }

  .filter-right {
    display: flex;
    align-items: center;
  }

  .monitor-title {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--text-dark);
    margin-right: 36px;
  }

  .traffic-types {
    display: flex;
  }
}

.monitor-filter-container {
  border-radius: 20px 20px 0 0;
  background-color: var(--card-bg);
  margin: 1em -15px 0 -15px;
  padding-top: 1em;
  position: relative;

  .seperator {
    display: inline-flex;
    width: 1px;
    height: 54px;
    background: var(--blue-grey);
    margin: -9px 15px 0 0;
    position: relative;
    top: 4px;
  }

  .select-container {
    //min-width: 220px;
    margin-bottom: 10px;
    padding-left: 5px!important;
    padding-right: 5px!important;
    max-width: 300px;
  }

  .badge-container rk-filter-badge:last-child {
    margin-right: 320px!important;
  }
}

.rk-modal-item.title {
  font-weight: 400 !important;
}

.btn {
  &.btn-icon {
    svg {
      fill: var(--white);
    }
  }

  &:focus {
    svg {
      fill: #fff;
    }
  }

  &.btn-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px 10px;
    width: 28px;
    height: 28px;
    padding: 0;
    color: var(--white);

    &:disabled {
      color: var(--gray)
    }

    &.btn-enabled {
      background-color: var(--safe);
    }
  }

  &.pulse-animation {
    overflow: visible;

    .btn-animation {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 7px;
      transform-origin: 50% 50%;
      animation: animation-button-pulse 2s cubic-bezier(.5,.5,0,1);
      background-color: #FFB300;
    }
  }
}

@keyframes animation-button-pulse {
  25% {
    opacity: 0.4;
  }

  100% {
    transform: scale(2);
  }
}

.rk-input.input-error, .rk-input:focus.input-error {
  border-color: var(--security)!important;
}
