#anomaly-detection {
    .rk-basic-card  {
        .rk-title {
            font-size: 16px;
            font-weight: 500;
        }
    }

    .anomaly-table-top {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .left {
            display: flex;

            span {
                font-size: 11px;
                font-weight: 500;
                color: var(--blue-grey);
                display: flex;
                align-items: center;
                margin-right: 15px;

                span {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    margin-right: 5px;
                }
            }
        }
    }

    .anomaly-stats {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        color: var(--gray);

        .column {
            display: flex;
            flex-direction: column;
            border-right: 1px solid var(--infobox-border);
            padding: 20px;

            &:last-child {
                border-right: none;
            }

            .title {
                font-size: 12px;
                font-weight: 500;
                color: var(--gray);
                margin-bottom: 12px;
            }

            &.count {
                min-width: 180px;
                padding-left: 0;
                padding-right: 40px;

                h1 {
                    font-size: 60px;
                    font-weight: bold;
                    margin-bottom: 0;
                    line-height: 45px;
                }
            }

            &.limit-ratio {
                min-width: 160px;

                ._content {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex: 1;

                    .up-icon {
                        width: 36px;
                        height: 36px;
                        border-radius: 36px;
                        background-color: #ffd5d9;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    h3 {
                        font-size: 24px;
                        font-weight: normal;
                        color: #f95656;
                        margin-bottom: 0;
                    }
                }
            }

            &.filter {
                flex: 1;

                ._content {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    font-weight: 500;
                    flex: 1;

                    icon-equal {
                        margin: 0 5px;
                    }

                    span {
                        border-right: 1px solid var(--primary);
                        padding-right: 10px;
                        margin-right: 10px;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .hr {
        height: 1px;
        width: 100%;
        background: var(--infobox-border);
        margin: 30px 0;
    }

    .anomaly-statistics {
        .col-12:first-child {
            border-right: 1px solid var(--infobox-border);
        }

        .rk-title {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .list {
            display: flex;
            flex-direction: column;

            .list-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 67px;
                border-bottom: 1px solid var(--infobox-border);

                &:last-child {
                    border-bottom: none;
                }

                p {
                    flex: 1;
                    color: var(--gray);
                    margin-bottom: 0;
                }

                .value {
                    display: flex;
                    align-items: center;

                    h2 {
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 0;
                        color: var(--gray);

                        &.primary {
                            color: #4353ff;
                        }
                    }

                    .badge {
                        background: #dddddd;
                        height: 24px;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 8px;
                        font-size: 14px;
                        font-weight: bold;

                        &.blue {
                            background: #d1deff;
                            border-color: #d1deff;
                            color: var(--primary);
                        }

                        &.red {
                            background: #ffd5d9;
                            border-color: #ffd5d9;
                            color: #dc3545;
                        }

                        img {
                            height: 100%;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .domain-quering {
        .head {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            h5.rk-title {
                margin-right: 100px;
            }

            .search {
                display: flex;
                .tab-input-container {
                    width: 440px;
                    margin-right: 7px;
                }
            }
        }
    }
}
