<div class="rk-base-card" id="anomaly-detection">
    <div class="card-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <h5 class="page-title">Anomaly Detection</h5>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 p-0">
                    <div class="rk-basic-card">
                        <h5 class="rk-title">20 March 2020 / Wednesday 07:00 - 08:00 istatistikleri</h5>

                        <div class="anomaly-table-top">
                            <div class="left">
                                <span>
                                    <span style="background-color: #68b6ff;"></span>
                                    %0-%24
                                </span>
                                <span>
                                    <span style="background-color: #4353ff;"></span>
                                    %24-%35
                                </span>
                                <span>
                                    <span style="background-color: #f95656;"></span>
                                    %35-%100
                                </span>
                            </div>

                            <div class="right">
                                <button class="btn btn-link btn-icon bg-transparent">
                                    <i-feather name="arrow-left"></i-feather>
                                    {{ 'PreviousMonth' | translate }}
                                </button>

                                <button class="btn btn-link btn-icon bg-transparent pr-0">
                                    {{ 'NextMonth' | translate }}
                                    <i-feather name="arrow-right" class="m-0"></i-feather>
                                </button>
                            </div>
                        </div>

                        <div class="anomaly-table">
                            <div class="description">
                                <p>
                                    Change between
                                    <br>
                                    07:00-08:00
                                    <br>
                                    hours per week
                                </p>

                                <p>Week Number</p>
                            </div>

                            <div class="month-item" *ngFor="let i of [1,2,3,4]">
                                <h6 class="month-name">December</h6>

                                <div class="month-weeks">
                                    <div class="week-item {{ j % 3 == 0 ? 'blue' : (j % 2 == 0 ? 'darkblue' : 'red') }}"
                                        *ngFor="let j of [1,2,3,4]">
                                        <div class="week-detail">
                                            <div class="detail-percent">+ %75</div>

                                            <div class="hit-count">
                                                Hit Count: <br>
                                                <span class="b">+80800</span>
                                            </div>

                                            <div class="avg-count">
                                                Avg Count: <br>
                                                <span class="b">4324</span>
                                            </div>

                                            <div class="vertical-progress vertical-progress-smalled">
                                                <span>5</span>
                                            </div>
                                        </div>

                                        <div class="count">{{ j % 2 == 0 ? '+%' + j : '-%' + j  }}</div>

                                        <div class="vertical-progress">
                                            <span>{{ i }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="anomaly-stats">
                            <div class="column count">
                                <h6 class="title">Sayı</h6>
                                <h1>23802</h1>
                            </div>

                            <div class="column limit-ratio">
                                <h6 class="title">Limit aşım oranı</h6>

                                <div class="_content">
                                    <div class="up-icon">
                                        <img src="assets/images/icons/trending-up.svg" />
                                    </div>

                                    <h3>+%15</h3>
                                </div>
                            </div>

                            <div class="column filter">
                                <h6 class="title">Filtre</h6>

                                <div class="_content">
                                    Category <icon-equal></icon-equal> Malicious <icon-equal></icon-equal>
                                    <span>Malware</span>
                                    <span>Phising</span>
                                    <span>Blacklist</span>...
                                </div>
                            </div>
                        </div>

                        <div class="hr"></div>

                        <div class="anomaly-statistics">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-lg-6 p-0 pl-1 pr-3">
                                        <h5 class="rk-title">Sorgu Sayısı</h5>

                                        <div class="list">
                                            <div class="list-item">
                                                <p>Seçmiş olduğunuz hafta toplam hit:</p>

                                                <div class="value">
                                                    <h2 class="primary">54353</h2>
                                                </div>
                                            </div>

                                            <div class="list-item">
                                                <p>Geçmiş Çarşamba 10-11 istatistiklerine göre öğrenilmiş <br> Normal
                                                    sorgu sayısı</p>

                                                <div class="value">
                                                    <h2>54353</h2>
                                                </div>
                                            </div>

                                            <div class="list-item">
                                                <p>Kurumunuza ait öğrenilmiş salınım oranı:</p>

                                                <div class="value">
                                                    <div class="badge blue">
                                                        + - %10
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="list-item">
                                                <p>Değişim oranı:</p>

                                                <div class="value">
                                                    <div class="badge red mr-2">
                                                        <img src="assets/images/icons/trending-up.svg" />
                                                        + %15
                                                    </div>

                                                    <h2>+ 89000</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6 p-0 pr-1 pl-3">
                                        <h5 class="rk-title">Sorgulanan Domain Çeşitliliği</h5>

                                        <div class="list">
                                            <div class="list-item">
                                                <p>Seçmiş olduğunuz hafta sorgulanan toplam Tekil <br /> Domain sayısı
                                                </p>

                                                <div class="value">
                                                    <h2 class="primary">54353</h2>
                                                </div>
                                            </div>

                                            <div class="list-item">
                                                <p>Geçmiş Çarşamba 10-11 istatistiklerine göre <br /> öğrenilmiş
                                                    Normalde tekil domain sayısı</p>

                                                <div class="value">
                                                    <h2>54353</h2>
                                                </div>
                                            </div>

                                            <div class="list-item">
                                                <p>Kurumunuza ait salınım oranı:</p>

                                                <div class="value">
                                                    <div class="badge blue">
                                                        + - %10
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="list-item">
                                                <p>Değişim oranı:</p>

                                                <div class="value">
                                                    <div class="badge red mr-2">
                                                        <img src="assets/images/icons/trending-up.svg" />
                                                        + %15
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 p-0">
                    <div class="rk-basic-card">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-lg-6 pl-lg-0">
                                    <h5 class="rk-title mb-2">En fazla “artış gösteren” top 10 kategori</h5>

                                    <table class="rk-selectable-table prune">
                                        <thead>
                                            <tr>
                                                <th style="width: 30px;">#</th>
                                                <th>Kategori</th>
                                                <th>Son Hit</th>
                                                <th>Öğrenilmiş <br /> Normal Hit</th>
                                                <th>Artış sayısı</th>
                                                <th style="width: 160px;" colspan="2">Artış oranı</th>
                                            </tr>
                                        </thead>

                                        <tbody class="rk-selectable-table-body">
                                            <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                                                <td class="idx">{{item}}</td>
                                                <td class="text">Malware/Virus</td>
                                                <td>123123</td>
                                                <td>74359</td>
                                                <td>980</td>
                                                <td style="width: 110px;">
                                                    <rk-progressbar-n [value]="34">
                                                    </rk-progressbar-n>
                                                </td>
                                                <td style="width: 35px;">34%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-12 col-lg-6 pr-lg-0">
                                    <h5 class="rk-title mb-2">En çok risk gösteren top 10 kategorideki 10 domain list
                                    </h5>

                                    <table class="rk-selectable-table prune">
                                        <thead>
                                            <tr>
                                                <th style="width: 30px; height: 58px;">#</th>
                                                <th style="height: 58px;">Domain</th>
                                                <th style="height: 58px;">Kategori</th>
                                                <th style="height: 58px;">Hit</th>
                                                <th style="height: 58px;">Deepdive</th>
                                            </tr>
                                        </thead>

                                        <tbody class="rk-selectable-table-body">
                                            <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                                                <td class="idx">{{item}}</td>
                                                <td class="text">instagram.com</td>
                                                <td>Social Media</td>
                                                <td>74359</td>
                                                <td class="text">Domain Security Analyzing</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6 pl-lg-0 mt-3">
                    <div class="rk-basic-card">
                        <h5 class="rk-title mb-2">Kurum Tarafından ilk kez sorgulanan domain listesi</h5>

                        <table class="rk-selectable-table prune">
                            <thead>
                                <tr>
                                    <th style="width: 30px; height: 58px;">#</th>
                                    <th style="height: 58px;">Domain</th>
                                    <th style="height: 58px;">Kategori</th>
                                    <th style="height: 58px;">Hit</th>
                                </tr>
                            </thead>

                            <tbody class="rk-selectable-table-body">
                                <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                                    <td class="idx">{{item}}</td>
                                    <td class="text">instagram.com</td>
                                    <td>Social Media</td>
                                    <td>74359</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 col-lg-6 pr-lg-0 mt-3">
                    <div class="rk-basic-card">
                        <h5 class="rk-title mb-2">Top domain list</h5>

                        <table class="rk-selectable-table prune">
                            <thead>
                                <tr>
                                    <th style="width: 30px; height: 58px;">#</th>
                                    <th style="height: 58px;">Domain</th>
                                    <th style="height: 58px;">Kategori</th>
                                    <th style="height: 58px;">Hit</th>
                                    <th style="height: 58px;">Deepdive</th>
                                </tr>
                            </thead>

                            <tbody class="rk-selectable-table-body">
                                <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                                    <td class="idx">{{item}}</td>
                                    <td class="text">instagram.com</td>
                                    <td>Social Media</td>
                                    <td>74359</td>
                                    <td class="text">Domain Security Analyzing</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-3 domain-quering">
                <div class="col-12 p-0">
                    <div class="rk-basic-card">
                        <div class="head">
                            <h5 class="rk-title">Domain</h5>

                            <div class="search">
                                <div class="tag-input-container w-100">
                                    <tag-input [(ngModel)]="domains" (onAdd)="onItemAdded($event)" [maxItems]="1">
                                    </tag-input>
                                </div>

                                <button class="btn btn-fill ml-3" style="overflow: visible; height: auto"
                                    (click)="search()">{{'Search'|translate}}</button>
                            </div>
                        </div>

                        <div id="chart-container">
                            <div class="w-100" id="anomaly-detection-domain-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>