<div class="rk-base-card">
  <div class="card-item">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0 d-flex align-items-center justify-content-between">
          <h5 class="page-title">{{'PageName.PublicIp'|translate}}</h5>

          <button class="btn btn-icon btn-safe btn-small ml-2" (click)="openPublicForm()">
            <i-feather name="plus"></i-feather>
            {{'AddNewIp'|translate}}
          </button>
        </div>

        <rk-modal #agentModal>
          <rk-modal-header icon="plus">
            <rk-modal-header-title>
              <h5>{{ (selectedIp?.id ? "EditAgent":'Add New Public IP') |translate}}</h5>
            </rk-modal-header-title>
            <rk-modal-header-close (click)="agentModal.toggle()"></rk-modal-header-close>
          </rk-modal-header>

          <rk-modal-body>
            <form [formGroup]="publicIpForm" class="publicIpForm">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="rk-modal-card d-flex flex-column align-items-center justify-content-between">
                      <h6 class="rk-modal-card-title w-100 mb-2">{{ 'IpType' | translate }}</h6>

                      <div class="d-flex w-100">
                        <div style="flex: 1">
                          <rk-radio name="ipType" class="rk-radio-m-0"
                            (valueChange)="onSelectionChangeIPType('staticIp')" [checked]="ipType == 'staticIp'">
                            {{'StaticIp'|translate}}</rk-radio>
                        </div>

                        <div style="flex: 1">
                          <rk-radio name="ipType" class="rk-radio-m-0"
                            (valueChange)="onSelectionChangeIPType('dynamicIp')" [checked]="ipType == 'dynamicIp'">
                            {{'DynamicIp'|translate}}</rk-radio>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="rk-modal-card mt-3">
                  <h6 class="rk-modal-card-title">{{ 'LocationDetails' | translate }}</h6>

                  <div class="row mt-3 mb-1">
                    <div class="col-12 d-flex justify-content-center">
                      <input type="file" class="input-file" id="fileUpload" (change)="selectFile($event)"
                        accept="image/*">
                      <label for="fileUpload" class="mx-auto mb-0 d-flex flex-column align-items-center">
                        <figure>
                          <ng-container *ngIf="selectedIp.logo; else elseTemplateLogo">
                            <img src="{{ selectedIp.logo }}" class="w-100" accept="image/png, image/jpeg">
                          </ng-container>
                          <ng-template #elseTemplateLogo>
                            <div class="file-upload mx-auto">
                              <i-feather name="plus"></i-feather>
                            </div>
                          </ng-template>
                        </figure>
                        <span class="file-upload-text">{{'BlockPageLogo'|translate}}</span>
                      </label>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                      <span class="link-text" style="font-size: 11px; cursor: pointer;" (click)="clearImage()"
                        *ngIf="selectedIp.logo">{{ 'ClearImage' | translate }}</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <input type="text" class="rk-input w-100" placeholder="{{'Name'|translate}}" name="agentName"
                        id="agentName" [(ngModel)]="selectedIp.agentAlias" formControlName="agentName" maxlength="64">

                      <p class="rk-description m-0">{{'PublicIpDescriptions.AgentAlias' | translate}}</p>
                    </div>

                    <ng-container *ngIf="ipType == 'dynamicIp'; else elseTemplateIpType">
                      <div id="dnsFqnDiv" name="dnsFqnDiv" class="col-12 mt-2">
                        <input type="text" id="dnsFqdn" name="dnsFqdn" class="rk-input w-100"
                          [(ngModel)]="selectedIp.dynamicIpDomain" formControlName="dnsFqdn"
                          placeholder="{{'DNSFQDN'|translate}}">
                      </div>

                      <div class="col-12">
                        <p class="rk-description m-0">{{'PublicIpDescriptions.IpType' | translate}}</p>
                      </div>
                    </ng-container>

                    <ng-template #elseTemplateIpType>
                      <div class="col-12 d-flex mt-3" *ngFor="let row of selectedIp.staticSubnetIp; index as i">
                        <div class="rk-input-container" [ngClass]="{'input-error': ipValidations[i] === false}">
                          <span style="flex: 2">
                            <input type="text" placeholder="{{'IP'|translate}}" name="'ip'+i"
                              (keydown)="checkIPNumberForAgent($event, selectedIp.staticSubnetIp[i], i)" (blur)="checkIPNumberForAgent($event, selectedIp.staticSubnetIp[i], i)"
                              [(ngModel)]="selectedIp.staticSubnetIp[i].baseIp" [ngModelOptions]="{standalone: true}">
                            /
                          </span>

                          <rk-select [placeholder]="selectedIp.staticSubnetIp[i].mask.toString()" [options]="selectedIp.staticSubnetIp[i].ranges"
                            [(value)]="selectedIp.staticSubnetIp[i].mask">
                          </rk-select>
                        </div>

                        <ng-container *ngIf="i > 0; else elseTemplate11">
                          <button class="btn btn-icon p-0 px-2 ml-1" (click)="removeElementFromIpList(i)">
                            <i-feather name="trash-2" class="mr-0 fill-red"></i-feather>
                          </button>
                        </ng-container>

                        <ng-template #elseTemplate11>
                          <button class="btn btn-icon fill-white p-0 px-2 ml-1" style="background: var(--primary)"
                            (click)="addIpRangeToList()">
                            <i-feather name="plus" class="mr-0"></i-feather>
                          </button>
                        </ng-template>
                      </div>
                    </ng-template>

                    <div class="col-12 mt-3">
                      <rk-select [options]="securityProfilesForRkSelect" placeholder="{{'SelectProfile'|translate}}"
                        (valueChange)="securityProfileChanged($event)" [isShowButton]="true" buttonIcon="plus"
                        buttonText="Create new profile" (buttonClickEmitter)="rkSelectButtonClicked($event)">
                      </rk-select>
                      <p class="rk-description m-0">{{'PublicIpDescriptions.Profile' | translate}}</p>
                    </div>

                    <div class="col-12 mt-3">
                      <textarea class="rk-input textarea w-100 resize:none" name="blockMessage" id="blockMessage"
                        [(ngModel)]="selectedIp.blockMessage" placeholder="{{'BlockMessage'|translate}}" rows="4"
                        [ngModelOptions]="{standalone: true}"></textarea>
                      <p class="rk-description m-0">{{'PublicIpDescriptions.BlockMessage' | translate}}</p>
                    </div>

                    <div class="col-12 mt-3">
                      <input type="text" class="rk-input w-100" maxlength="39" placeholder="{{'SinkHoleIp'|translate}}"
                        (keydown)="checkIPNumberForSinkhole($event, selectedIp.cyberXRayIp)" (blur)="checkIPNumberForSinkhole($event, selectedIp.cyberXRayIp)"
                        [(ngModel)]="selectedIp.cyberXRayIp" [ngModelOptions]="{standalone: true}"
                        [ngClass]="{'input-error': sinkHoleValidation[0] === false}">
                      <p class="rk-description m-0">{{'PublicIpDescriptions.ShinkholeIp1' | translate}}</p>
                      <p class="rk-description m-0">{{'PublicIpDescriptions.ShinkholeIp2' | translate}}</p>
                    </div>
                  </div>

                </div>
              </div>
            </form>

          </rk-modal-body>

          <rk-modal-footer>
            <button class="btn w-100 btn-small mr-2" id="defaultSaveBtn" [disabled]="!isNewItemUpdated"
              (click)="savePublicIp()">{{'Apply'|translate}}</button>
            <button class="btn w-100 btn-default btn-small" (click)="agentModal.toggle()">{{'Close'|translate}}</button>
          </rk-modal-footer>
        </rk-modal>

        <rk-modal #profileModal (close)="profileModalClosed($event)">
          <rk-modal-header>
            <rk-modal-header-title>
              <h5>{{'SecurityProfile'|translate}}</h5>
            </rk-modal-header-title>
            <rk-modal-header-close (click)="profileModal.toggle()"></rk-modal-header-close>
          </rk-modal-header>

          <rk-modal-body>

            <app-profile-wizard #profileWizard [selectedAgent]="selectedAgent" [currentStep]="currentStep"
              [saveMode]="saveMode" (saveEmitter)="saveProfileEmit()"></app-profile-wizard>

          </rk-modal-body>

          <rk-modal-footer>
            <button class="btn w-100 btn-small mr-2" (click)="saveProfile()">{{'Save'|translate}}</button>
            <button class="btn w-100 btn-small" (click)="nextStep()">{{'Next'|translate}}</button>
          </rk-modal-footer>
        </rk-modal>

        <div class="col-12 p-0 mt-3">
          <rk-table-container class="m-0">
            <div class="rk-table-container-header">
              <div class="top-content justify-content-start">
                <div class="inf mr-4">
                  <span class="text-primary">{{ publicIpsFiltered.length }}</span> {{'QueriesListed'|translate}}
                </div>

                <div class="search ml-5" style="width: 220px;">
                  <rk-search [value]="searchKey"  [placeholder]="'Search'|translate" (valueChange)="searchKey=$event;searchChanged()" ></rk-search>
                </div>
              </div>
            </div>

            <rk-table [showPagination]="false">
              <ng-template #header>
                <tr>
                  <th class="index">#</th>
                  <th>{{'Name'|translate}}</th>
                  <th>{{'IpType'|translate}}</th>
                  <th>{{'IpAddressDomain'|translate}}</th>
                  <th>{{'SecurityProfile'|translate}}</th>
                  <th>{{'Active'|translate}}</th>
                  <th style="width: 110px;">{{'Delete'|translate}}</th>
                </tr>
              </ng-template>

              <ng-template #body>
                <tr *ngFor="let pi of publicIpsFiltered; let i = index">
                  <td class=" index">{{ i+1 }}</td>
                  <td>
                    <div class="d-flex align-items-center justify-content-between">
                      <button class="btn btn-link btn-icon p-0 hover-gray bg-transparent" (click)="showEditWizard(pi.id)" style="text-decoration: underline;font-size: 12px">
                        {{ pi.agentAlias }}
                      </button>
                    </div>
                  </td>
                  <td>
                    <ng-container *ngIf="pi.staticSubnetIp && pi.staticSubnetIp.length > 0; else elseTemplateIpType2">
                      {{'Static'|translate}}
                    </ng-container>
                    <ng-template #elseTemplateIpType2>
                      {{'Dynamic'|translate}}
                    </ng-template>
                  </td>
                  <td>
                    <div *ngIf="pi.staticSubnetIp && pi.staticSubnetIp.length > 0">
                      <div *ngFor="let pis of pi.staticSubnetIp" style="margin-bottom: 5px">
                        {{pis.baseIp}}<span *ngIf="pis.mask !== 32">/{{pis.mask}}</span>
                        <div class="ip-detail" *ngIf="pis.mask !== 32">{{getIPDetail(pis)}}</div>
                      </div>
                    </div>
                    <div *ngIf="!pi.staticSubnetIp && pi.dynamicIpDomain">
                      {{pi.dynamicIpDomain}}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center justify-content-between">
                      <span class="link-text" style="cursor: pointer;" (click)="showProfileEditWizard(pi.id)">{{
                        pi.rootProfile?pi.rootProfile.name: 'No Profile!' }}</span>
                    </div>
                  </td>
                  <td [title]="(isActive(pi.id) ? 'Active' : 'Passive')|translate">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path [attr.fill]="isActive(pi.id) ? '#28A745' : '#97A5BB'" fill-rule="evenodd"
                            d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1zm2.637 8.06l-3.887 3.77-1.387-1.346A1 1 0 1 0 7.97 12.92l2.083 2.02a1 1 0 0 0 1.392 0l4.583-4.444a1 1 0 0 0-1.392-1.436z" />
                    </svg>
                  </td>
                  <td class="text-center" style="width: 55px">
                    <button class="btn btn-link btn-icon p-0 hover-gray bg-transparent" (click)="deletePublicIp(pi.id)">
                      <i-feather name="trash-2" class="mr-0"></i-feather>
                    </button>
                  </td>
                </tr>
                <tr *ngIf="publicIpsFiltered == null || publicIpsFiltered.length < 1">
                  <td></td>
                  <td colspan="10">{{'NoData'|translate}}</td>
                </tr>
              </ng-template>
            </rk-table>
          </rk-table-container>
        </div>
      </div>
    </div>
  </div>
</div>
