<div class="main-content">
  <div class="container-fluid col-md-11">

    <section id="publicIpPanel" class="publicIpPanel">

      <form [formGroup]="publicIpForm" class="publicIpForm" id="newIpRow" style="display: none;" data-step="4"
        data-intro="Finally, save your agent and let's start!" data-position='bottom-middle-aligned'>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 pl-0 pr-0 mb-3">
              <div class="dns-base-card d-none d-block" id="filterCard">
                <div class="dns-base-card-header">
                </div>
                <div class="dns-base-card-content">
                  <div class="container-fluid">
                    <div class="row" id="pi_add_filter">
                      <div class="col-12 d-flex">
                        <h4 class="mr-3 flex-1">Public IP </h4>
                        <button class="btns btn-clear text-right close-btn" (click)="openTooltipGuide()">
                          <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        </button>
                        <button class="btns btn-clear text-right close-btn" (click)="hideNewWizard()">
                          <img src="./assets/images/icons/close.svg">
                        </button>
                      </div>
                      <div class="col-12 col-sm-3 d-flex align-items-end">
                        <input type="text" class="dns-form-control reverse-form" name="agentName" id="agentName"
                          placeholder="Public IP/Agent Name" [(ngModel)]="selectedIp.agentAlias"
                          formControlName="agentName" data-step="1" data-position='bottom-middle-aligned'
                          data-intro="This is new agent form. Start with a name for your agent">
                      </div>
                      <div class="col-12 col-sm-3 d-flex flex-column">
                        <div class="flex-1">
                          <div class="dns-radio">
                            <input id="IpType1" name="IpType" type="radio" value="staticIp"
                              (click)="onSelectionChangeIPType('staticIp')" checked>
                            <label for="IpType1">Static IP</label>
                          </div>
                          <div class="dns-radio">
                            <input id="IpType2" name="IpType" type="radio" value="dynamicIp"
                              (click)="onSelectionChangeIPType('dynamicIp')">
                            <label for="IpType2">Dynamic IP</label>
                          </div>
                        </div>
                        <div class="flex-1 d-flex flex-column" data-step="2"
                          data-intro="Enter related IP address and Mask or Dynamic Ip (System may enter automatically your IP for first agent)"
                          data-position='auto'>
                          <ng-container *ngIf="ipType=='dynamicIp'; else elseTemplateIpType">
                            <div id="dnsFqnDiv" name="dnsFqnDiv" class="dns-ip-input-container mt-3">
                              <input type="text" id="dnsFqdn" name="dnsFqdn" class="dns-form-control reverse-form"
                                [(ngModel)]="selectedIp.dynamicIpDomain" formControlName="dnsFqdn" placeholder="DNS FQDN">
                            </div>
                          </ng-container>
                          <ng-template #elseTemplateIpType>
                            <div class="dns-ip-input-container mt-3"
                              *ngFor="let row of selectedIp.staticSubnetIp; index as i">
                              <input type="text" maxlength="15" name="'ip'+i"
                                (keydown)="checkIPNumber($event, selectedIp.staticSubnetIp[i].baseIp)" placeholder="IP"
                                [(ngModel)]="selectedIp.staticSubnetIp[i].baseIp" formControlName="ip{{i}}">
                              <span class="color-4a4a4a size-14 mr-2">/</span>
                              <div class="1dnssense-select light-select">
                                <select class="options mr-1" [(ngModel)]="selectedIp.staticSubnetIp[i].mask"
                                  [ngModelOptions]="{ standalone: true }">
                                  <option value="0" disabled selected>Mask</option>
                                  <option *ngFor="let ind of ipRanges;" [ngValue]="ind">{{ind}}</option>
                                </select>
                              </div>
                              <ng-container *ngIf="i>0; else elseTemplate11">
                                <button mat-raised-button type="button"
                                  class="btn btn-danger btn-link btn-just-icon btn-sm"
                                  (click)="removeElementFromIpList(i)">
                                  <i class="material-icons">close</i>
                                </button>
                              </ng-container>
                              <ng-template #elseTemplate11>
                                <button type="button" class="btn btn-success btn-just-icon btn-sm"
                                  [matTooltipShowDelay]="800" matTooltip="Add Another Ip" (click)="addIpRangeToList()">
                                  <i class="material-icons">add_circle_outline</i>
                                </button>
                              </ng-template>
                            </div>
                          </ng-template>

                        </div>
                      </div>
                      <div class="col-12 col-sm-3 d-flex align-items-end">
                        <div class="dns-dropdown d-inline-block dropdown-accent dns-full-width" data-step="3"
                          data-intro="Select a security profile or create a new profile for this agent"
                          data-position='auto'>
                          <button class="btns dropdown-toggle dns-full-width reverse-form text-left" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <ng-container
                              *ngIf="selectedIp.rootProfile && selectedIp.rootProfile.name; else elseTemplateSelectedProfile">
                              {{selectedIp.rootProfile.name}}
                            </ng-container>
                            <ng-template #elseTemplateSelectedProfile>
                              Select Profile
                            </ng-template>
                            <i class="icon-down-open-big btn-arrow" style="font-size: 20px"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" *ngFor="let p of securityProfiles"
                              (click)="securityProfileChanged(p.id)">
                              {{p.name}}
                            </button>
                            <div class="dropdown-divider"></div>
                            <button class="btns btn-teritary dropdown-item-btn border-radius-8 dns-full-width m-2"
                              (click)="showNewProfileWizard()">
                              <img src="./assets/images/icons/settings.svg">
                              <span class="ml-2">New Profile</span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-3 d-flex align-items-end">
                        <button class="btns reverse-form dns-full-width" id="defaultSaveBtn"
                          [disabled]="!isNewItemUpdated" matTooltip="Save with selected profile"
                          [matTooltipShowDelay]="800"
                          [ngClass]="{'btn-success' : isNewItemUpdated, 'btn-default' : !isNewItemUpdated}"
                          (click)="savePublicIp()">
                          <i class="fa fa-save"></i> <span class="ml-2">Save</span>
                        </button>
                      </div>
                    </div>

                    <div class="row align-items-center d-none" id="advancedContent">
                      <div class="col-12 col-lg-3 mt-3 ml-lg-0">
                        <input type="file" class="inputfile inputfile-4" id="fileUpload" (change)="selectFile($event)"
                        accept="image/*">
                        <label for="fileUpload">
                          <figure>
                            <ng-container *ngIf="selectedIp.logo; else elseTemplateLogo">
                              <img src="{{selectedIp.logo}}" class="dns-full-width" accept="image/png, image/jpeg">
                            </ng-container>
                            <ng-template #elseTemplateLogo>
                              <img src="./assets/images/icons/upload-image.svg" class="dns-full-width">
                            </ng-template>
                          </figure>
                          <span>Add Chose Block Image</span>
                        </label>
                      </div>
                      <div class="col-12 col-lg-3 mt-3 ml-lg-0">
                        <textarea type="text" placeholder="Block Message" class="dns-form-control reverse-form"
                          id="blockMessage" name="blockMessage" [(ngModel)]="selectedIp.blockMessage"
                          formControlName="blockMessage"></textarea>
                      </div>
                      <div class="col-12 col-lg-3 mt-3 ml-lg-0">
                        <input type="text" placeholder="Cyber X-Ray Ip" class="dns-form-control reverse-form"
                          name="cyberXRayIp" id="cyberXRayIp" (keydown)="checkIPNumber($event, selectedIp.cyberXRayIp)"
                          [(ngModel)]="selectedIp.cyberXRayIp" formControlName="cyberXRayIp">
                      </div>
                      <div class="col-12 col-lg-3 mt-3 ml-lg-0 d-flex align-items-end">
                        <button class="btns reverse-form dns-full-width" id="advancedSaveBtn"
                          [disabled]="!isNewItemUpdated" matTooltip="Save with selected profile"
                          [ngClass]="{'btn-success' : isNewItemUpdated, 'btn-default' : !isNewItemUpdated}"
                          (click)="savePublicIp()">
                          <i class="fa fa-save"></i>
                          <span class="ml-2">Save</span>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 text-right">
                        <button class="btns btn-clear p-0" id="advancedBtn">
                          <i class="icon-down-open-big mr-2"></i>
                          Advanced
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="dns-base-card">
            <div class="dns-base-card-header pt-3">
              <div class="row">

                <button class="btns btn-teritary border-radius-8" id="pi_card_btn" matTooltip="Create a new Public IP"
                  [matTooltipShowDelay]="800" (click)="showNewIpForm()">
                  <img src="assets/images/icons/add.svg">
                  Create New Agent
                </button>
                <div class="col-12 d-flex flex-column flex-sm-column flex-md-row">
                  <span class="mr-3 flex-1">Public IP/Agents</span>
                  <div class="search-form flex-1">
                    <img src="assets/images/icons/search.svg" class="icon">
                    <input type="text" class="dns-form-control reverse-form" placeholder="Search by name"
                      [(ngModel)]="searchKey" (ngModelChange)="searchByKeyword($event)" />
                  </div>
                  <div class="dns-datatable-pagination ml-3 d-inline-flex align-items-center flex-1">
                    <!-- <span>Show Rows</span>
                    <div class="dnssense-select ml-3">
                      <select>
                        <option>10</option>
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                      </select>
                    </div>
                    <div class="page-numbers ml-3 mr-3">1 - 109</div>
                    <button class="btns page-prev">
                      <i class="icon-left-open-big"></i>
                    </button>
                    <button class="btns page-next">
                      <i class="icon-right-open-big"></i>
                    </button> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="dns-base-card-content">
              <div class="table-responsive" style="max-height: 600px;">
                <table class="table table-bordered table-padding-05 table-responsive-md table-responsive-sm mt-3">
                  <thead>
                    <th class="no-border"></th>
                    <th style="border-bottom: white;">Name</th>
                    <th style="border-bottom: white;">Ip Address</th>
                    <th style="border-bottom: white;">Block Message</th>
                    <th style="border-bottom: white;">Profile</th>
                    <th style="border-bottom: white;">Block Logo</th>
                    <th style="border-bottom: white;" colspan="2" class="text-center">Operation</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pi of publicIpsFiltered; let i = index;">
                      <td class="numeration">{{i+1}}</td>
                      <td><small>{{pi.agentAlias}}</small></td>
                      <td>
                        <small>
                          <div *ngIf="pi.staticSubnetIp.length > 0">
                            <div *ngFor="let pis of pi.staticSubnetIp">[{{pis.baseIp}}]/[{{pis.mask}}] </div>
                          </div>
                        </small>
                      </td>
                      <td><small>{{pi.blockMessage?pi.blockMessage:"No Message!"}}</small></td>
                      <td>
                        <button class="btns btn-clear btnOverFlow profileBtn text-left" [matTooltipShowDelay]="800"
                          matTooltip="Edit Profile" (click)="showProfileEditWizard(pi.id)">
                          <img src="./assets/images/icons/settings-outline.svg">
                          <small>{{pi.rootProfile?pi.rootProfile.name:"No Profile!"}}</small>
                        </button>

                      </td>
                      <td>
                        <!-- <img src="{{pi.logo}}" class="picture-src" id="wizardPicturePreview" title="logo" /> -->
                        <ng-container *ngIf="pi.logo; else elseTemplatePiLogo">
                          <img src="{{pi.logo}}" class="dns-full-width row-img" accept="image/*">
                        </ng-container>
                        <ng-template #elseTemplatePiLogo>
                          <img src="./assets/images/icons/upload-image.svg" accept="image/*" class="dns-full-width row-img">
                        </ng-template>
                      </td>
                      <td class="text-center">
                        <button class="btns btn-clear" matTooltip="Edit item" [matTooltipShowDelay]="800"
                          (click)="showEditWizard(pi.id)">
                          <img src="./assets/images/icons/edit.svg">
                        </button>
                      </td>
                      <td class="text-center">
                        <button class="btns btn-clear" matTooltip="Delete item" [matTooltipShowDelay]="800"
                          (click)="deletePublicIp(pi.id)">
                          <img src="./assets/images/icons/close-red.svg">
                        </button>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section id="wizardPanel" class="wizardPanel" style="display: none;">
      <div class="row">
        <div class="col-md-12">
          <button mat-raised-button type="button" class="btn btn-warning" (click)="hideWizard()">
            <i class="material-icons">arrow_back</i>
          </button>
          <app-profile-wizard [selectedAgent]="selectedAgent" [startWizard]="startWizard" [saveMode]="saveMode"
            (saveEmitter)="hideWizardWithoutConfirm();"></app-profile-wizard>
        </div>
      </div>
    </section>


  </div>
</div>